/* blueDodger */
/* global utilities */
* {
  font-family: "Raleway";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

.w-10 {
  width: 10%;
  display: inline-block;
}

.w-20 {
  width: 20%;
  display: inline-block;
}

.w-quad {
  width: 25%;
  display: inline-block;
}

.w-30 {
  width: 30%;
  display: inline-block;
}

.w-trio {
  width: 33.33%;
  display: inline-block;
}

.w-40 {
  width: 40%;
  display: inline-block;
}

.w-half {
  width: 50%;
  display: inline-block;
}

.w-60 {
  width: 60%;
  display: inline-block;
}

.w-70 {
  width: 70%;
  display: inline-block;
}

.w-triquad {
  width: 75%;
  display: inline-block;
}

.w-80 {
  width: 80%;
  display: inline-block;
}

.w-90 {
  width: 90%;
  display: inline-block;
}

.w-full {
  width: 100%;
}

.p-zero {
  padding: 0px !important;
}

.p0 {
  padding: 0px;
}

.m0 {
  margin: 0;
}

.m0 {
  margin: 0;
}

.m5-b {
  margin-bottom: 5px;
}

.m10-b {
  margin-bottom: 10px;
}

.m10-tb {
  margin-top: 10px;
  margin-bottom: 10px;
}

.m16-t {
  margin-top: 16px;
}

.m16-b {
  margin-bottom: 16px;
}

.m20-b {
  margin-bottom: 20px;
}

.m20-tb {
  margin-top: 20px;
  margin-bottom: 20px;
}

.m30-b {
  margin-bottom: 30px;
}

.m40-b {
  margin-bottom: 40px;
}

.m60-b {
  margin-bottom: 60px;
}

.m70-b {
  margin-bottom: 70px;
}

.m80-b {
  margin-bottom: 80px;
}

.m-auto {
  margin-left: auto;
  margin-right: auto;
}

.p8-lrtb {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.p8-lr {
  padding-left: 8px;
  padding-right: 8px;
}

.p8-l {
  padding-left: 8px;
}

.p8-r {
  padding-right: 8px;
}

.p16-lr {
  padding-left: 16px;
  padding-right: 16px;
}

.p16-tb {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p20-tb {
  padding-top: 20px;
  padding-bottom: 20px;
}

.p20-lr {
  padding-left: 20px;
  padding-right: 20px;
}

.p20-l {
  padding-left: 20px;
}

.p30-tb {
  padding-top: 30px;
  padding-bottom: 30px;
}

.p40-tb {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p50-tb {
  padding-top: 50px;
  padding-bottom: 50px;
}

.p60-tb {
  padding-top: 60px;
  padding-bottom: 60px;
}

.p80-tb {
  padding-top: 80px;
  padding-bottom: 80px;
}

.lm0-b > div:last-child {
  margin: 0;
}

.no-border {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

h1, h2 {
  margin: 0;
}

h1 {
  font-size: 40px;
}

.fs-20 {
  font-size: 20px;
}

.fs-30 {
  font-size: 30px;
}

.fs-50 {
  font-size: 50px;
}

.xlt {
  font-size: 20px;
}

.lt {
  font-size: 18px;
}

.mt {
  font-size: 16px;
}

.bt {
  font-size: 14px;
}

.st {
  font-size: 12px;
}

.xst {
  font-size: 11px;
}

.row:before {
  content: "";
  display: table;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-light {
  font-weight: 300;
}

.text-normal {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-extrabold {
  font-weight: 900;
}

.bg-white {
  background-color: #fff;
}

.bg-lightgrey {
  background-color: #f2f2f2;
}

.bg-grey {
  background-color: #ddd;
}

.bg-dark {
  background-color: #444;
}

.bg-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hideit {
  display: none;
}

.showit {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.bold {
  font-weight: bold;
}

.f-kepler {
  font-family: "kepler-std-display";
}

a {
  outline: none;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.froboto {
  font-family: "roboto";
}

.fplayfair {
  font-family: "Playfair Display";
}

.fgeorgia {
  font-family: "Georgia";
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

ul li {
  list-style: none;
}

.display-b {
  display: block;
}

.display-ib {
  display: inline-block;
}

.custom-scroll::-webkit-scrollbar {
  width: 3px;
  cursor: pointer;
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1px solid #444;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* customized utilities */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Sans";
}

.clr {
  margin: 0;
  padding: 0;
  clear: both;
}

.content {
  min-height: 600px;
}

#footer {
  min-height: 120px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.row:before {
  content: "";
  display: table;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.no-paddingX {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

select {
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a[href] {
  transition: .2s;
}

a[href]:focus {
  outline-color: transparent;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.sticky {
  position: fixed !important;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.overlay-fix {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 50px;
}

.img-responsive {
  width: 100%;
  height: auto;
  border: 0;
}

.hidden, .hideit {
  display: none !important;
}

.dskt-hideit {
  display: none;
}

.showit {
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.transparent {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.seeable {
  opacity: 1;
  visibility: visible;
  transition: .3s;
}

.unseeable {
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.clearfix::after {
  content: "";
  margin: 0;
  padding: 0;
  clear: both;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  padding: 0px 10px;
  margin: 0 auto;
}

.container.grey {
  background-color: #f2f2f2;
}

.conY {
  padding: 40px 0px;
}

.dual-container {
  width: 50%;
  position: relative;
  float: left;
}

.triple-container {
  width: 32%;
  position: relative;
  float: left;
  padding: 5px;
}

.quad-container {
  width: 25%;
  position: relative;
  float: left;
}

.five-container {
  width: 20%;
  position: relative;
  float: left;
  padding: 5px;
}

.center-container {
  float: none !important;
  display: inline-block !important;
}

.divhalf {
  width: 50%;
}

.divfull {
  width: 100%;
}

.coverleft {
  background-position: center left;
}

.coverright {
  background-position: center right;
}

.covercenter {
  background-position: center center;
}

.parentleft {
  text-align: left !important;
}

.parentright {
  text-align: right !important;
}

.parentcenter {
  text-align: center !important;
}

.body-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.body-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.background-color.lightGrey {
  background-color: #f9f9f9;
}

.background-color.grey {
  background-color: #f2f2f2;
}

.custom-scroll::-webkit-scrollbar {
  width: 3px;
  cursor: pointer;
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1px solid #232323;
}

.p10 {
  padding: 10px;
}

.p10-lr {
  padding: 0px 10px;
}

.p5-lr {
  padding: 0px 5px;
}

.m10-b {
  margin-bottom: 10px;
}

.m20-b {
  margin-bottom: 20px;
}

.m40-b {
  margin-bottom: 40px;
}

.m80-b {
  margin-bottom: 80px;
}

h1 {
  font-size: 64px;
  color: #444;
  font-family: "Montserrat";
  margin: 0px;
}

h2 {
  font-size: 32px;
  color: #444;
  font-family: "Montserrat";
  margin: 0px;
  font-weight: 900;
}

h3 {
  font-size: 24px;
  color: #444;
  font-family: "Noto Sans";
  margin: 0px;
}

h4 {
  font-size: 18px;
  color: #444;
  font-family: "Noto Sans";
  margin: 0px;
}

h5 {
  font-size: 16px;
  color: #444;
  font-family: "Noto Sans";
  margin: 0px;
}

h6 {
  font-size: 14px;
  color: #444;
  font-family: "tahoma";
  margin: 0px;
}

.m-button.red {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #ff5540;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.m-button.red:hover {
  color: #fff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.m-button.blue {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #1874cd;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.m-button.blue:hover {
  color: #fff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.m-button.green {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #008000;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.m-button.green:hover {
  color: #fff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.m-button.yellow {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #f8af4a;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.m-button.yellow:hover {
  color: #fff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.m-button.white {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #fff;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  color: #444;
}

.m-button.white:hover {
  color: #fff;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.2);
}

.l-button.red {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #ff5540;
  border: 2px solid #ff5540;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

.l-button.red:hover {
  transition: .4s;
  color: #fff;
  background-color: #ff5540;
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.blue {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #1874cd;
  border: 2px solid #1874cd;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

.l-button.blue:hover {
  transition: .4s;
  color: #fff;
  background-color: #1874cd;
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.green {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #008000;
  border: 2px solid #008000;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

.l-button.green:hover {
  transition: .4s;
  color: #fff;
  background-color: #008000;
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.yellow {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #f8af4a;
  border: 2px solid #f8af4a;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

.l-button.yellow:hover {
  transition: .4s;
  color: #fff;
  background-color: #f8af4a;
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.black {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #444;
  border: 2px solid #444;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

.l-button.black:hover {
  transition: .4s;
  color: #fff;
  background-color: #444;
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.white {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  border: 2px solid #fff;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

.l-button.white:hover {
  transition: .4s;
  color: #fff;
  background-color: #fff;
  box-shadow: 0px 2px 2px #ddd;
}

.full-button {
  display: block;
  width: 100%;
  line-height: 40px;
  height: 40px;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ddd;
}

.dbl-button .l-button,
.dbl-button .m-button {
  width: 48%;
}

.dbl-button .l-button:first-child,
.dbl-button .m-button:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dbl-button .l-button:last-child,
.dbl-button .m-button:last-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.l-tittle.red {
  width: 100%;
  border-bottom: 2px solid #ff5540;
  text-align: left;
  margin-bottom: 20px;
}

.l-tittle.red span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ff5540;
  color: #fff;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  font-family: "Noto Sans";
}

.l-tittle.blue {
  width: 100%;
  border-bottom: 2px solid #1874cd;
  text-align: left;
  margin-bottom: 20px;
}

.l-tittle.blue span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #1874cd;
  color: #fff;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  font-family: "Noto Sans";
}

.l-tittle.yellow {
  width: 100%;
  border-bottom: 2px solid #f8af4a;
  text-align: left;
  margin-bottom: 20px;
}

.l-tittle.yellow span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f8af4a;
  color: #fff;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  font-family: "Noto Sans";
}

.l-tittle.green {
  width: 100%;
  border-bottom: 2px solid #008000;
  text-align: left;
  margin-bottom: 20px;
}

.l-tittle.green span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #008000;
  color: #fff;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  font-family: "Noto Sans";
}

.m-tittle {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444;
  margin-bottom: 20px;
}

.m-tittle:after {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: #444;
}

.icon-text i {
  font-size: 14px;
  margin-right: 8px;
}

.icon-text span {
  font-family: "Noto Sans";
  font-size: 14px;
}

.icon-text.black i, .icon-text.black span {
  color: #444;
}

.icon-text.grey i, .icon-text.grey span {
  color: #aaa;
}

.available-list {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
}

.available-list .img-wrap {
  border-radius: 2px;
  overflow: hidden;
  width: 60px;
  margin-right: 10px;
}

.available-list .img-wrap img {
  width: 100%;
  height: auto;
}

.available-list .button-wrap {
  padding-top: 14px;
}

.upcoming-list {
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
}

.upcoming-list .top-wrap {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.upcoming-list .top-wrap .team-wrap {
  width: calc(50% - 11px);
  overflow: hidden;
}

.upcoming-list .top-wrap .team-wrap.left {
  text-align: left;
}

.upcoming-list .top-wrap .team-wrap.left img {
  margin-right: 5px;
}

.upcoming-list .top-wrap .team-wrap.right {
  text-align: right;
}

.upcoming-list .top-wrap .team-wrap.right img {
  margin-left: 5px;
}

.upcoming-list .top-wrap .team-wrap img {
  width: 30px;
  border-radius: 2px;
  display: inline-block;
}

.upcoming-list .top-wrap .team-wrap a {
  color: #444;
  font-size: 14px;
  font-weight: 700;
  font-family: "Noto Sans";
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 40px);
}

.upcoming-list .top-wrap span {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px 5px 12px;
  border: 1px solid #ddd;
  border-top: 0px;
  color: #444;
  font-size: 18px;
  font-family: "Noto Sans";
  background-color: #fff;
}

.upcoming-list .bottom-wrap {
  padding: 5px;
  text-align: center;
  height: 50px;
}

.upcoming-list .bottom-wrap p {
  color: #444;
  font-size: 12px;
  font-family: "Noto Sans";
  margin-bottom: 5px;
}

.upcoming-list .bottom-wrap .score-wrap {
  width: 50%;
  color: #444;
  font-weight: 700;
  font-size: 20px;
  font-family: "Noto Sans";
}

.klasemen-table {
  width: 100% !important;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
}

.klasemen-table.gender-man tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.klasemen-table.gender-woman tbody tr:nth-child(even) {
  background-color: #FFF2F4;
}

.klasemen-table thead td {
  padding: 5px 10px;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
  border-bottom: 1px solid #ddd;
}

.klasemen-table tbody td {
  padding: 10px;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
  border: 0px;
}

.klasemen-table tbody td img {
  width: 30px;
}

.klasemen-table tbody td span {
  font-weight: 700;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
}

.klasemen-table tbody td:first-child {
  text-align: center;
}

.custom-dataTable .dataTables_paginate.paging_simple_numbers {
  width: 100%;
  text-align: center;
  padding-top: 20px;
}

.custom-dataTable .dataTables_paginate.paging_simple_numbers a {
  border: 0px;
  background: none !important;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
  background-color: transparent;
}

.custom-dataTable .dataTables_paginate.paging_simple_numbers a:hover {
  color: #444 !important;
  border: 0px;
  border-bottom: 2px solid #1874cd;
}

.custom-dataTable .dataTables_paginate.paging_simple_numbers a.current {
  color: #444 !important;
  border: 0px;
  border-bottom: 2px solid #1874cd;
}

.custom-dataTable .dataTables_paginate.paging_simple_numbers a.current:hover {
  color: #444 !important;
  border: 0px;
  border-bottom: 2px solid #1874cd;
}

.custom-dataTable .dataTables_paginate.paging_simple_numbers a.paginate_button.disabled {
  opacity: 0;
}

.custom-dataTable .dataTables_filter {
  width: 100%;
  text-align: center;
}

.custom-dataTable .dataTables_filter label {
  display: block;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
}

.custom-dataTable .dataTables_filter label input {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  max-width: 300px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0px 10px;
  border-radius: 4px;
}

.m-allTabs {
  margin: 40px 0px 10px;
}

.m-allTabs .tabs-wrap {
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.m-allTabs .tabs-wrap li {
  display: inline-block;
}

.m-allTabs .tabs-wrap li a {
  display: inline-block;
  padding: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.m-allTabs .tabs-wrap li a.active {
  font-weight: 700;
  position: relative;
}

.m-allTabs .tabs-wrap li a.active:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  right: 0;
}

.m-allTabs .tabs-wrap li a.active.blue:before {
  background-color: #1874cd;
}

.m-allTabs .tabs-wrap li a.active.yellow:before {
  background-color: #f8af4a;
}

.m-allTabs .tabs-wrap li a.active.red:before {
  background-color: #ff5540;
}

.m-allTabs .tabs-wrap li a.active.green:before {
  background-color: #008000;
}

.m-allTabs .tabs-wrap li a:active, .m-allTabs .tabs-wrap li a:focus {
  text-decoration: none;
}

.player-visit {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative;
}

.player-visit .number {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 20px;
  left: auto;
  text-align: center;
}

.player-visit .number div:first-child {
  font-size: 10px;
  font-weight: 400;
}

.player-visit .number div {
  font-weight: 900;
  font-size: 20px;
}

.player-visit .bio {
  width: calc(100% - 110px);
  padding-left: 10px;
  text-align: left;
}

.player-visit .bio p {
  margin: 0px;
}

.player-visit .bio p:first-child {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: bold;
  color: #444;
  padding-top: 10px;
}

.player-visit .bio p:last-child {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #aaa;
}

.player-visit .btn-wrap {
  width: 50px;
}

.player-visit .btn-wrap .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-59%);
  display: inline-block;
}

.player-visit .btn-wrap .icon i {
  font-size: 20px;
  color: #aaa;
}

.player-visit .btn-wrap .icon:focus {
  text-decoration: none;
}

.team-visit {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.12);
  padding: 20px;
  max-width: 250px;
  text-align: center;
}

.team-visit .img-wrap {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
}

.team-visit .img-wrap img {
  width: 100%;
}

.team-visit .tittle {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 700;
  color: #444;
  margin: 10px 0px 5px;
  width: 100%;
}

.team-visit .city {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.team-visit a {
  width: 100%;
}

.oper-paging {
  width: 100%;
  text-align: center;
  padding: 20px 0px 40px;
}

.oper-paging ul li {
  display: inline-block;
}

.oper-paging ul li a {
  padding: 10px;
  font-size: 14px;
  color: #444;
  font-family: "Noto Sans";
  border-bottom: 2px solid transparent;
}

.oper-paging ul li a.active {
  border-color: #1874cd;
}

.oper-paging ul li a:hover {
  border-color: #318ee7;
}

.radio-wrap {
  cursor: pointer;
  margin-right: 10px;
}

.radio-wrap input {
  display: none;
}

.radio-wrap .radio-box {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px;
}

.radio-wrap .radio-box span {
  display: block;
  margin-right: 5px;
  width: 20px;
  position: relative;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.05);
  float: left;
  border-radius: 2px;
}

.radio-wrap .radio-box p {
  margin: 0px;
  float: left;
  width: calc(100% - 25px);
  display: block;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.radio-wrap.active .radio-box span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1874cd;
}

.m-image {
  position: relative;
  border-radius: 4px;
  border: 2px solid #1874cd;
  background-color: #8cc0f2;
  margin: 0 auto;
  overflow: hidden;
}

.m-image i {
  position: absolute;
  font-size: 18px;
  color: #1874cd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-image img {
  width: 100%;
}

.m-image.no-border {
  border: 0px;
}

.m-image.md {
  width: 250px;
  height: 250px;
}

.m-image.sm {
  width: 150px;
  height: 150px;
}

.m-image.xs {
  width: 60px;
  height: 60px;
}

.m-image.cropper img {
  max-width: 100%;
  width: auto;
}

.r-image {
  width: 100%;
  position: relative;
  border-radius: 4px;
  background-color: #8cc0f2;
  overflow: hidden;
}

.r-image .inner-image {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.r-image .inner-image img {
  width: 100%;
  height: auto;
}

.r-image .inner-image .bg-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.r-image:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.m-modals {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}

.m-modals.active {
  opacity: 1;
  visibility: visible;
  transition: .4s;
}

.m-modals.active .modal-wrap {
  transition: .6s;
  transform: translate(-50%, -50%);
  transition-delay: .2s;
}

.m-modals .background-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
}

.m-modals .modal-wrap {
  transition: .6s;
  transition-delay: .2s;
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  z-index: 4;
}

.m-modals .modal-wrap .tittle {
  padding: 20px 20px 10px;
  font-size: 18px;
  font-family: "Montserrat";
  color: #444;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.m-modals .modal-wrap .body {
  padding: 10px 20px;
}

.m-modals .modal-wrap .body .desc {
  font-family: "Noto Sans";
  color: #444;
  margin: 5px 0px;
  text-align: justify;
}

.m-modals .modal-wrap .body .desc.sm {
  font-size: 12px;
}

.m-modals .modal-wrap .body .desc.md {
  font-size: 14px;
}

.m-modals .modal-wrap .body .desc.lg {
  font-size: 16px;
}

.m-modals .modal-wrap .body input {
  line-height: 40px;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid #aaa;
  padding: 0px 10px;
  font-size: 14px;
  font-family: "Noto Sans";
  color: #444;
}

.m-modals .modal-wrap .body textarea {
  border: 1px solid #aaa;
}

.m-modals .modal-wrap .single-icon {
  width: 100%;
  text-align: center;
  font-size: 72px;
}

.m-modals .modal-wrap .single-icon.success {
  color: #008000;
}

.m-modals .modal-wrap .single-icon.failed {
  color: #ff5540;
}

.m-modals .modal-wrap .foot {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding: 10px 20px 20px;
  text-align: center;
}

.m-modals .modal-wrap .foot .half {
  width: 50%;
  float: left;
  padding: 0px 5px;
}

.m-modals .modal-wrap .foot .full {
  width: 100%;
}

.mobile-tabs-content {
  width: 100%;
}

.mobile-tabs-content ul li {
  float: left;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.mobile-tabs-content ul li:last-child {
  border-right: 0px;
}

.mobile-tabs-content ul li a {
  cursor: pointer;
  display: block;
  padding: 15px 0px;
  font-family: "Noto Sans";
  font-size: 12px;
  width: 100%;
  color: #444;
}

.mobile-tabs-content ul li a.active {
  position: relative;
  font-weight: 900;
}

.mobile-tabs-content ul li a.active:before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #f8af4a;
}

.w-10 {
  width: 10%;
}

.w-20 {
  width: 20%;
}

.w-quad {
  width: 25%;
}

.w-30 {
  width: 30%;
}

.w-triple {
  width: 33.33%;
}

.w-40 {
  width: 40%;
}

.w-half {
  width: 50%;
}

.w-60 {
  width: 60%;
}

.w-70 {
  width: 70%;
}

.w-80 {
  width: 80%;
}

.w-90 {
  width: 90%;
}

.w-full {
  width: 100%;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-fixed {
  position: fixed;
}

.cropper-nav {
  width: 100%;
  background-color: #1874cd;
  border-radius: 4px;
  margin: 10px 0px;
}

.cropper-nav a {
  display: inline-block;
  float: left;
  width: 16.6%;
  height: 40px;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.cropper-nav a:last-child {
  border-right: 0px;
}

.cropper-nav a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.cropper-nav a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #fff;
}

.dropzone {
  border: 2px dashed #ddd;
  position: relative;
}

.dropzone .dz-default {
  margin: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dropzone .dz-preview.dz-error .dz-error-message {
  display: none;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

.slick-slider .slick-arrow i {
  font-size: 50px;
  color: #fff;
}

.slick-slider .slick-arrow.arrow-left {
  left: 10px;
}

.slick-slider .slick-arrow.arrow-right {
  right: 10px;
}

.chosen-container {
  width: 100% !important;
}

.chosen-container .chosen-single {
  padding-right: 30px;
  line-height: 40px;
  height: 40px;
  background: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.chosen-container .chosen-single span {
  color: #444;
  font-family: "Noto Sans";
  font-size: 14px;
}

.chosen-container .chosen-single div {
  width: 30px;
}

.chosen-container .chosen-single b {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../images/png/icon-arrowDown.png) !important;
  background-repeat: no-repeat !important;
  background-position: center right 10px !important;
  background-size: 20px !important;
  opacity: .7;
}

.chosen-container.chosen-with-drop .chosen-single {
  background: none;
  background-color: #fff;
}

.chosen-container .chosen-drop {
  border-radius: 4px;
  margin-top: 10px;
  overflow: hidden;
  border: 1px solid #ddd;
}

.chosen-container .chosen-drop .chosen-search {
  padding: 0px;
}

.chosen-container .chosen-drop .chosen-search input {
  padding: 8px;
  border: 0px;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  border-bottom: 1px solid #ddd !important;
  background-repeat: no-repeat;
  background-position: center left 10px;
  padding-left: 30px;
}

.chosen-container .chosen-drop .chosen-results {
  margin: 0px;
  padding: 0px;
}

.chosen-container .chosen-drop .chosen-results::-webkit-scrollbar {
  width: 3px;
  cursor: pointer;
}

.chosen-container .chosen-drop .chosen-results::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.chosen-container .chosen-drop .chosen-results::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1px solid #444;
}

.chosen-container .chosen-drop .chosen-results li {
  padding: 8px;
}

.chosen-container .chosen-drop .chosen-results li.active-result {
  font-size: 14px;
  font-family: "Noto Sans";
  color: #444;
  padding-left: 20px;
  font-weight: 400;
}

.chosen-container .chosen-drop .chosen-results li.group-result {
  font-size: 14px;
  font-family: "Noto Sans";
  color: #aaa;
}

.chosen-container .chosen-drop .chosen-results li.highlighted {
  background-color: #1874cd;
  color: #fff;
  background-image: none;
}

/* DatePicker Container */
.ui-datepicker {
  width: 370px;
  height: auto;
  margin: 0px;
  font: 15px "Noto Sans";
  background-color: white;
}

.ui-datepicker a {
  text-decoration: none;
}

/* DatePicker Table */
.ui-datepicker table {
  width: 100%;
  border-spacing: 0px;
  border-top: 1px solid #aaa;
  margin-top: 15px;
}

.ui-datepicker-header {
  position: relative;
  color: #444;
  font-weight: bold;
  box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, 0.2);
  text-shadow: 1px -1px 0px #000;
  filter: dropshadow(color=#000, offx=1, offy=-1);
  line-height: 30px;
}

.ui-datepicker-header .ui-datepicker-month {
  margin-right: 10px;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev, .ui-datepicker-next {
  display: inline-block;
  cursor: pointer;
  width: 30px;
  height: 50px;
  background-repeat: no-repeat;
  background-position: center center !important;
}

.ui-datepicker-prev span, .ui-datepicker-next span {
  display: none;
}

.ui-datepicker-prev {
  float: left;
  background-image: url(../images/png/icon-arrowLeft.png) !important;
  background-size: 20px;
}

.ui-datepicker-next {
  float: right;
  background-image: url(../images/png/icon-arrowRight.png) !important;
  background-size: 20px;
}

.ui-datepicker thead {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.ui-datepicker thead tr {
  border: 0px;
  margin: 0px;
  padding: 0px;
}

.ui-datepicker thead tr th {
  font-size: 6pt;
  padding: 5px 0;
  text-align: center;
  color: #666666;
  text-shadow: 1px 0px 0px #fff;
  filter: dropshadow(color=#fff, offx=1, offy=0);
  font: 14px "Noto Sans";
  padding-top: 15px;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: inline-block;
  font-weight: bold;
  text-align: center;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #666666;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
}

.ui-datepicker-header .ui-datepicker-year,
.ui-datepicker-header .ui-datepicker-month {
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin-top: 8px;
}

.ui-datepicker td, .ui-datepicker th {
  padding: 8px;
}

.ui-datepicker-calendar .ui-state-hover {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 100px;
}

.ui-datepicker-today .ui-state-default {
  border-radius: 100px;
  position: relative;
  color: #1874cd;
}

.ui-datepicker .ui-datepicker-unselectable .ui-state-default {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
}

.ui-datepicker-calendar .ui-state-active {
  border-radius: 100px;
  background-color: #1874cd;
  color: #fff;
}

.ui-datepicker-unselectable .ui-state-default {
  background: #f4f4f4;
  color: #b4b3b3;
}

.ui-datepicker-calendar td:first-child .ui-state-active {
  width: 29px;
  margin-left: 0;
}

.ui-datepicker-calendar td:last-child .ui-state-active {
  width: 29px;
  margin-right: 0;
}

.ui-datepicker-calendar tr:last-child .ui-state-active {
  height: 29px;
  margin-bottom: 0;
}

.home-datepick {
  background-image: url(../img/assets/Icon-Arrow-Down.png);
  background-repeat: no-repeat;
  background-position: center right 10px;
}

#ui-datepicker-div {
  background-color: transparent;
}

#ui-datepicker-div .ui-datepicker-header {
  border-radius: 4px 4px 0px 0px;
  background-color: #fff;
  box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

#ui-datepicker-div table {
  margin: 0px;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
}

.slider-container.theme-green {
  margin: 20px auto;
  width: 100% !important;
  max-width: 290px;
}

.slider-container.theme-green .back-bar {
  height: 10px;
  background-image: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.slider-container.theme-green .back-bar .pointer {
  top: -6px;
  width: 20px;
  height: 20px;
}

.slider-container.theme-green .selected-bar {
  background-color: #1874cd !important;
  background-image: none !important;
}

#header {
  width: 100%;
  position: relative;
  padding: 15px 20px;
  border-bottom: 5px solid #f8af4a;
}

#header:before {
  content: "";
  display: block;
  width: 32%;
  height: 5px;
  background-color: #1874cd;
  position: absolute;
  bottom: -5px;
  left: 0;
}

#header:after {
  content: "";
  display: block;
  width: 32%;
  height: 5px;
  background-color: #ff5540;
  position: absolute;
  bottom: -5px;
  left: 32%;
}

#header .logo img {
  height: 50px;
}

#header.head-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

#header.sticky {
  position: fixed;
  background-color: #fff;
  z-index: 99;
}

#header.sticky .menu-wrap ul li a {
  color: #444;
}

#header.sticky .nav-wrap a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #444;
  border: 2px solid #444;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

#header.sticky .nav-wrap a:hover {
  transition: .4s;
  color: #fff;
  background-color: #444;
  box-shadow: 0px 2px 2px #ddd;
}

#header .menu-wrap {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header .menu-wrap ul li {
  display: inline-block;
}

#header .menu-wrap ul li a {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  color: #444;
  padding: 0px 20px;
}

#header .menu-wrap ul li .submenu {
  position: absolute;
  top: 70px;
  left: 0;
  width: 150px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transform: translateY(20px);
  visibility: hidden;
  opacity: 0;
  transition: .4s;
}

#header .menu-wrap ul li .submenu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
  transition: .4s;
}

#header .menu-wrap ul li .submenu:after {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid #fff;
  display: block;
  position: absolute;
  top: -10px;
  left: 30px;
}

#header .menu-wrap ul li .submenu:before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: -12px;
  left: 30px;
}

#header .menu-wrap ul li .submenu li {
  width: 100%;
}

#header .menu-wrap ul li .submenu li a {
  width: 100%;
  display: block;
  padding: 10px;
}

#header .nav-wrap {
  text-align: right;
  padding-top: 5px;
}

#header .nav-wrap a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #444;
  border: 2px solid #444;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
  transition: .4s;
}

#header .nav-wrap a:hover {
  transition: .4s;
  color: #fff;
  background-color: #444;
  box-shadow: 0px 2px 2px #ddd;
}

#header.header-login {
  padding: 0px;
}

#header.header-login .logo {
  padding: 15px 20px;
  padding-right: 0px;
}

#header.header-login .logo img {
  height: 30px;
}

#header.header-login .userNav-wrap li {
  position: relative;
  float: right;
}

#header.header-login .userNav-wrap li .user-head {
  cursor: pointer;
  display: block;
  padding: 15px 20px;
  border-left: 1px solid #ddd;
}

#header.header-login .userNav-wrap li .user-head img {
  width: 30px;
  display: inline-block;
  margin-right: 8px;
  border-radius: 2px;
}

#header.header-login .userNav-wrap li .user-head span {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  font-weight: 700;
}

#header.header-login .userNav-wrap li .user-head:hover span {
  color: #1874cd;
}

#header.header-login .userNav-wrap li .notification {
  cursor: pointer;
  width: 60px;
  height: 60px;
  display: block;
  border-left: 1px solid #ddd;
  position: relative;
}

#header.header-login .userNav-wrap li .notification.notif-point:before {
  content: attr(data-amount);
  display: block;
  text-align: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #ff5540;
  color: #fff;
  position: absolute;
  top: 7px;
  right: 8px;
  z-index: 99;
  font-size: 11px;
}

#header.header-login .userNav-wrap li .notification i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  color: #444;
}

#header.header-login .userNav-wrap li .notification:hover i {
  color: #1874cd;
}

#header.header-login .userNav-wrap .dropdown-head {
  position: absolute;
  width: 200px;
  background-color: #fff;
  top: 60px;
  right: 0px;
  border: 1px solid #ddd;
  display: block;
  z-index: 99;
  transform: translateY(10px);
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}

#header.header-login .userNav-wrap .dropdown-head.active {
  transform: translateY(0px);
  opacity: 1;
  visibility: visible;
  transition: .4s;
}

#header.header-login .userNav-wrap .dropdown-head li {
  width: 100%;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#header.header-login .userNav-wrap .dropdown-head li a {
  padding: 10px;
  display: block;
}

#header.header-login .userNav-wrap .dropdown-head li a.active .icon-text i, #header.header-login .userNav-wrap .dropdown-head li a.active .icon-text span {
  color: #1874cd;
}

#header.header-login .userNav-wrap .dropdown-head li:hover .icon-text i, #header.header-login .userNav-wrap .dropdown-head li:hover .icon-text span {
  color: #1874cd;
}

.notification-box {
  padding: 10px;
}

.notification-box.new {
  background-color: #e8f2fc;
}

.notification-box.black .point span {
  background-color: #444;
}

.notification-box.black .desc-wrap a {
  color: #444;
}

.notification-box.black .desc-wrap a:hover {
  color: #5e5e5e;
}

.notification-box.yellow .point span {
  background-color: #f8af4a;
}

.notification-box.yellow .desc-wrap a {
  color: #f8af4a;
}

.notification-box.yellow .desc-wrap a:hover {
  color: #fac57b;
}

.notification-box.green .point span {
  background-color: #008000;
}

.notification-box.green .desc-wrap a {
  color: #008000;
}

.notification-box.green .desc-wrap a:hover {
  color: #00b300;
}

.notification-box.blue .point span {
  background-color: #1874cd;
}

.notification-box.blue .desc-wrap a {
  color: #1874cd;
}

.notification-box.blue .desc-wrap a:hover {
  color: #318ee7;
}

.notification-box.red .point span {
  background-color: #ff5540;
}

.notification-box.red .desc-wrap a {
  color: #ff5540;
}

.notification-box.red .desc-wrap a:hover {
  color: #ff8273;
}

.notification-box .point {
  width: 15px;
  padding-top: 5px;
}

.notification-box .point span {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 100px;
}

.notification-box .desc-wrap {
  width: calc(100% - 15px);
}

.notification-box .desc-wrap a {
  color: #1874cd;
  font-weight: 700;
}

.notification-box .desc-wrap a:hover {
  color: #318ee7;
}

.notification-box .desc-wrap .tittle {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  color: #444;
}

.notification-box .desc-wrap .date {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 12px;
  color: #aaa;
}

#footer {
  width: 100%;
  height: auto;
}

#footer .foot-top {
  background-color: #444;
  padding: 30px 0px 0px;
}

#footer .foot-bottom {
  background-color: #444;
  padding: 20px 0px;
}

#footer .foot-bottom .sosmed-wrap {
  width: 60%;
}

#footer .foot-bottom .sosmed-wrap ul li {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
}

#footer .foot-bottom .sosmed-wrap ul li svg, #footer .foot-bottom .sosmed-wrap ul li img {
  width: 100%;
  height: auto;
}

#footer .foot-bottom .sosmed-wrap ul li svg path, #footer .foot-bottom .sosmed-wrap ul li img path {
  fill: #fff;
}

#footer .foot-bottom .copyright {
  width: 40%;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #fff;
  text-align: right;
}

#footer .logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  max-width: 150px;
  height: 100%;
  margin: 0px auto;
}

#footer .logo img {
  width: 100%;
}

#footer .link-wrap {
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #fff;
}

#footer .link-wrap ul li {
  display: inline-block;
  padding: 10px;
}

#footer .link-wrap ul li a {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

#footer .link-wrap ul li:last-child {
  padding-bottom: 0px;
}

#footer .link-wrap ul li:first-child {
  padding-top: 0px;
}

.hero-wrap {
  width: 100%;
  height: calc(100vh - 85px);
}

.hero-wrap .slick-list {
  height: 100%;
}

.hero-wrap .slick-list .slick-track {
  height: 100%;
}

.hero-wrap .hero-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrap .hero-image .inner {
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-wrap .hero-image .inner h1 {
  margin-bottom: 10px;
  color: #444;
}

.hero-wrap .hero-image .inner p {
  font-family: "Noto Sans";
  font-size: 20px;
  color: #444;
  margin-bottom: 20px;
}

.hero-wrap .hero-image .inner a {
  margin: 0px 10px;
  font-size: 16px;
}

.hero-wrap .hero-image .inner.font-black h1, .hero-wrap .hero-image .inner.font-black p {
  color: #222;
}

.hero-wrap .hero-image .inner.font-white h1, .hero-wrap .hero-image .inner.font-white p {
  color: #fff;
}

.hero-wrap .hero-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

.home-klasemen-wrap {
  padding: 40px 0px;
}

.home-klasemen-wrap .available-wrap {
  margin-bottom: 20px;
}

.home-klasemen-wrap .available-list, .home-klasemen-wrap .upcoming-list {
  margin-bottom: 5px;
}

.home-tabel-match .dual-container:first-child {
  padding-right: 5px;
}

.home-tabel-match .dual-container:last-child {
  padding-left: 5px;
}

.klasemen-wrap .tabs-wrap {
  width: 100%;
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}

.klasemen-wrap .tabs-wrap li {
  display: inline-block;
}

.klasemen-wrap .tabs-wrap li a {
  display: inline-block;
  padding: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.klasemen-wrap .tabs-wrap li a.active {
  font-weight: 700;
  position: relative;
}

.klasemen-wrap .tabs-wrap li a.active:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  right: 0;
}

.klasemen-wrap .tabs-wrap li a.active.pink:before {
  background-color: #FFD2DA;
}

.klasemen-wrap .tabs-wrap li a.active.grey:before {
  background-color: #aaa;
}

.klasemen-wrap .full-button {
  border-radius: 0px;
}

.banner-ads {
  padding: 0px 0px 40px;
}

.banner-ads .banner-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-ads .banner-image .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.banner-ads .banner-image .inner img {
  width: 100%;
  height: auto;
}

.banner-ads .banner-image .inner .back-img {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-ads .banner-image:before {
  content: "";
  display: table;
  padding-top: 15%;
}

.home-news {
  padding: 40px 0px;
}

.home-news .news-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home-news .news-wrap .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.home-news .news-wrap .inner img {
  width: 100%;
  height: auto;
}

.home-news .news-wrap .inner .back-img {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-news .news-wrap:before {
  content: "";
  display: table;
  padding-top: 100%;
}

.home-news .news-wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
}

.home-news .news-box {
  overflow: hidden;
  border-radius: 2px;
  padding: 0px 5px;
}

.home-news .news-box .news-read {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0px 10px;
  z-index: 4;
}

.home-news .news-box .news-read .tags {
  padding: 5px 16px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-family: "Noto Sans";
  font-size: 12px;
  margin-bottom: 10px;
}

.home-news .news-box .news-read .tags.red {
  background-color: #ff5540;
}

.home-news .news-box .news-read .tags.blue {
  background-color: #1874cd;
}

.home-news .news-box .news-read .tags.yellow {
  background-color: #f8af4a;
}

.home-news .news-box .news-read .tags.green {
  background-color: #008000;
}

.home-news .news-box .news-read .tittle {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.sign-wrap {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  border: 1px solid #ddd;
  background-color: #fff;
}

.sign-wrap .tabs-wrap {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.sign-wrap .tabs-wrap a {
  display: inline-block;
  text-align: center;
  width: 49%;
  line-height: 40px;
  height: 40px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  border-bottom: 3px solid transparent;
}

.sign-wrap .tabs-wrap a.active {
  border-bottom: 3px solid #f8af4a;
}

.sign-wrap .content-wrap {
  padding: 20px;
}

.sign-wrap2 {
  margin: 80px auto;
  max-width: 800px;
}

.sign-wrap2 .inner {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 20px;
}

.sign-wrap2 .half {
  width: 50%;
  float: left;
}

.sign-wrap2 .half:first-child {
  padding-right: 5px;
}

.sign-wrap2 .half:last-child {
  padding-left: 5px;
}

.form-section {
  margin-bottom: 10px;
}

.form-section label {
  display: block;
  margin-bottom: 5px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.form-section textarea, .form-section input[type="text"], .form-section input[type="password"], .form-section .select {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.form-section textarea {
  height: 150px;
}

.form-section.error input, .form-section.error textarea {
  border-color: #ff5540;
}

.form-section.error .error-state {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #ff5540;
  width: 100%;
  text-align: left;
  display: block;
}

.form-section .error-state {
  display: none;
}

.form-section .half {
  width: 50%;
  float: left;
}

.form-section .half:first-child {
  padding-right: 5px;
}

.form-section .half:last-child {
  padding-left: 5px;
}

.form-section button {
  margin-top: 40px;
}

.image-browse {
  margin: 20px 0px;
}

.image-browse input {
  display: none;
}

.image-browse label {
  border: 1px solid #1874cd;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.image-browse label strong {
  width: 117px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #1874cd;
}

.image-browse label strong i, .image-browse label strong span {
  color: #fff;
}

.image-browse label p {
  width: calc(100% - 117px);
  margin: 0px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  padding: 5px;
}

.image-browse label:hover {
  border-color: #135a9f;
}

.image-browse label:hover strong {
  background-color: #135a9f;
}

.profile-player {
  margin-top: 40px;
}

.profile-player .img-player {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  border-radius: 4px;
  border: 2px solid #1874cd;
  background-color: #8cc0f2;
  margin: 0 auto;
  overflow: hidden;
}

.profile-player .img-player i {
  position: absolute;
  font-size: 21px;
  color: #1874cd;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-player .img-player img {
  width: 100%;
}

.profile-player .detail-player {
  width: calc(100% - 200px);
  padding-left: 20px;
}

.profile-player .detail-player .detail-wrap {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
}

.profile-player .detail-player .detail-wrap .bio-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.profile-player .detail-player .detail-wrap .bio-wrap p {
  text-align: left;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  margin: 0px;
}

.profile-player .detail-player .detail-wrap .bio-wrap p:first-child {
  width: 35%;
  font-weight: bold;
}

.profile-player .detail-player .detail-wrap .bio-wrap p:last-child {
  width: 65%;
}

.profile-player .detail-player .detail-wrap .bio-wrap:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.profile-player .detail-player .detail-wrap .number-wrap {
  margin-top: 15px;
}

.profile-player .detail-player .detail-wrap .number-wrap p {
  text-align: center;
  margin: 0px;
}

.profile-player .detail-player .detail-wrap .number-wrap p:first-child {
  font-size: 11px;
  font-family: "Noto Sans";
  color: #444;
}

.profile-player .detail-player .detail-wrap .number-wrap p:last-child {
  font-size: 35px;
  font-family: "Noto Sans";
  font-weight: 900;
  color: #444;
}

.team-player {
  margin: 40px 0px;
}

.team-player .empty {
  width: 100%;
  border: 2px dashed #aaa;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.team-player .empty p {
  width: 50%;
  margin: 0px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  float: left;
}

.team-player .empty p:first-child {
  text-align: left;
  padding-top: 10px;
}

.team-player .empty p:last-child {
  text-align: right;
}

.team-player .team-fill {
  width: 100%;
  background-color: #fff;
}

.team-player .team-fill .img-wrap {
  width: 170px;
  padding: 10px;
}

.team-player .team-fill .img-wrap a {
  margin-top: 10px;
  width: 100%;
}

.team-player .team-fill .bio-wrap {
  padding: 10px;
  width: 50%;
}

.team-player .team-fill .bio-wrap .tittle {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.team-player .team-fill .bio-wrap .city {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #aaa;
}

.team-player .team-fill .bio-wrap .desc {
  margin-top: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.team-player .team-fill .team-wrap {
  overflow-y: scroll;
  width: calc(100% - 55% - 170px);
  height: 230px;
  border-left: 1px solid #ddd;
}

.result-search .team-visit {
  margin: 0 auto 15px;
}

.result-search .search-wrap {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 0px 0px 40px;
}

.result-search .inner-search {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.result-search .filter-search {
  padding: 20px;
}

.m-searchInput input {
  width: calc(100% - 40px);
  padding: 10px;
  line-height: 40px;
  height: 40px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #aaa;
  border-right: 0px;
}

.m-searchInput button {
  border: 0px;
  border-radius: 0px 4px 4px 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #1874cd;
}

.m-searchInput button i {
  line-height: 40px;
  font-size: 14px;
  color: #fff;
}

.result-item {
  padding: 0px 5px;
  margin-bottom: 10px;
}

.create-team {
  margin-bottom: 20px;
}

.create-team .img-wrap {
  width: 150px;
}

.create-team .browse-wrap {
  width: calc(100% - 150px);
  padding-left: 10px;
}

.create-team .browse-wrap .link {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.create-team .player-wrap {
  margin-bottom: 5px;
}

.create-team .text {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #AAA;
  margin-bottom: 10px;
}

.create-team .result-player, .create-team .result-search {
  margin-bottom: 15px;
}

.create-team .result-player .add-player {
  display: none;
}

.create-team .result-player .remove-player {
  display: block;
  height: 20px;
}

.create-team .result-search .add-player {
  display: block;
}

.create-team .result-search .remove-player {
  display: none;
  height: 20px;
}

.create-match .team-wrap, .match-team .team-wrap {
  margin-bottom: 20px;
  border: 1px solid #ddd;
  text-align: center;
}

.create-match .team-wrap.team-queue, .match-team .team-wrap.team-queue {
  border-radius: 4px;
  margin-bottom: 10px;
  position: relative;
}

.create-match .team-wrap.team-queue.active, .match-team .team-wrap.team-queue.active {
  border: 2px solid #1874cd;
  box-shadow: 0px 0px 1px 0px #1874cd;
}

.create-match .team-wrap.team-queue.active .check span, .match-team .team-wrap.team-queue.active .check span {
  color: #1874cd;
  font-weight: 700;
}

.create-match .team-wrap.team-queue .team-pic, .match-team .team-wrap.team-queue .team-pic {
  width: 50px;
}

.create-match .team-wrap.team-queue .tittle, .match-team .team-wrap.team-queue .tittle {
  padding-top: 13px;
}

.create-match .team-wrap.team-queue .check, .match-team .team-wrap.team-queue .check {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 10px;
  left: auto;
}

.create-match .team-wrap.team-queue .check span, .match-team .team-wrap.team-queue .check span {
  color: #444;
  font-size: 16px;
}

.create-match .team-wrap.team-queue .check:hover, .create-match .team-wrap.team-queue .check:active, .create-match .team-wrap.team-queue .check:focus, .match-team .team-wrap.team-queue .check:hover, .match-team .team-wrap.team-queue .check:active, .match-team .team-wrap.team-queue .check:focus {
  text-decoration: none;
}

.create-match .team-wrap.team-queue .check:hover span, .create-match .team-wrap.team-queue .check:active span, .create-match .team-wrap.team-queue .check:focus span, .match-team .team-wrap.team-queue .check:hover span, .match-team .team-wrap.team-queue .check:active span, .match-team .team-wrap.team-queue .check:focus span {
  color: #1874cd;
}

.create-match .team-wrap .team-pic, .match-team .team-wrap .team-pic {
  width: 40px;
  border-right: 1px solid #ddd;
  padding: 5px;
}

.create-match .team-wrap .tittle, .match-team .team-wrap .tittle {
  padding-top: 10px;
  padding-left: 5px;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 800;
  color: #444;
}

.create-match .player-wrap, .match-team .player-wrap {
  margin-bottom: 5px;
}

.arenaList-section {
  padding: 40px 0px;
}

.arenaList-section .search-wrap {
  border-radius: 4px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #ddd;
}

.arenaList-section .search-wrap .search-top {
  border-bottom: 1px solid #ddd;
  padding: 20px;
}

.arenaList-section .search-wrap .search-bottom {
  padding: 20px;
}

.arenaList-section .result-wrap {
  width: calc(100% - 300px);
  padding-left: 20px;
}

.arena-item {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  border-radius: 4px;
}

.arena-item .image-wrap {
  width: 100px;
  float: left;
}

.arena-item .desc-wrap {
  float: left;
  padding-left: 10px;
}

.arena-item .desc-wrap .tittle {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 800;
  color: #444;
}

.arena-item .desc-wrap .address, .arena-item .desc-wrap .city {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  margin-bottom: 5px;
}

.arena-item .button-wrap {
  float: right;
  text-align: right;
}

.arena-item .button-wrap .price {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 900;
  color: #444;
  margin-bottom: 10px;
}

.arena-item .button-wrap a {
  vertical-align: middle;
}

.banner-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-image .inner-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.banner-image .inner-image img {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.banner-image:before {
  content: "";
  padding-top: 40%;
  display: block;
}

.arena-bio {
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.12);
}

.arena-bio .tittle {
  font-family: "Noto Sans";
  font-size: 20px;
  font-weight: 900;
  color: #444;
  margin-bottom: 10px;
}

.arena-bio .icon-text {
  margin-bottom: 5px;
}

.arena-bio .icon-text i, .arena-bio .icon-text span {
  color: #444;
  font-size: 14px;
}

.arena-bio .icon-text span {
  font-family: "Noto Sans";
}

.arena-bio .right-wrap {
  text-align: right;
}

.arena-bio .right-wrap .price {
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: 900;
  color: #444;
  margin-bottom: 10px;
}

.arenaDetail-wrap {
  padding: 40px 0px;
  background-color: #f9f9f9;
}

.arenaDetail-wrap .icon-text.pull-left {
  margin-right: 15px;
  margin-bottom: 15px;
}

.arenaDetail-wrap hr {
  background-color: rgba(0, 0, 0, 0.1);
  margin: 20px 0px;
}

.arenaDetail-wrap .tittle-wrap {
  width: 30%;
  float: left;
}

.arenaDetail-wrap .tittle-wrap p {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 900;
  color: #444;
  margin: 0px;
  text-align: right;
}

.arenaDetail-wrap .desc-wrap {
  width: 70%;
  float: left;
  padding-left: 20px;
}

.arenaDetail-wrap .desc-wrap p {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  margin: 0px;
}

.arena-price {
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
}

.arena-price:last-child {
  padding-bottom: 0px;
  margin-bottom: 0px;
  border-bottom: 0px;
}

.arena-price .type-wrap .img-wrap {
  width: 100%;
  max-width: 250px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
}

.arena-price .type-wrap .img-wrap .inner-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.arena-price .type-wrap .img-wrap .inner-img img {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arena-price .type-wrap .img-wrap:before {
  content: "";
  padding-top: 60%;
  display: block;
}

.arena-price .type-wrap .detail-wrap {
  width: calc(100% - 250px);
}

.arena-price .type-wrap .detail-wrap .detail-box {
  margin-bottom: 8px;
  padding-left: 15px;
}

.arena-price .type-wrap .detail-wrap .detail-box .tittle {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 700;
  color: #444;
}

.arena-price .type-wrap .detail-wrap .detail-box .text {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.arena-price .table-wrap {
  margin-top: 15px;
}

.arena-table thead tr td {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  font-weight: 700;
  padding: 5px 10px;
  width: 32%;
}

.arena-table tbody tr td {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  padding: 5px 10px;
  width: 32%;
}

.arena-table tbody tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.7);
}

.arena-map {
  width: 100%;
  height: 300px;
  background-color: #8cc0f2;
}

.arena-related {
  padding: 40px 0px;
}

.arena-related .related-wrap {
  padding: 10px;
  text-align: center;
}

.arena-related .related-wrap .tittle {
  margin-top: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  font-weight: 700;
}

.arena-related .related-wrap:hover .tittle {
  color: #004d00;
}

.klasemen-section {
  background-color: #f9f9f9;
  padding: 40px 0px;
}

.mymatch-section {
  padding: 40px 0px;
}

.mymatch-section .mymatch-wrap {
  margin-top: 20px;
}

.mymatch-section .mymatch-wrap .list-wrap {
  width: calc(100% - 370px);
}

.mymatch-section .mymatch-wrap .list-wrap .available-list, .mymatch-section .mymatch-wrap .list-wrap .upcoming-list {
  margin-bottom: 8px;
}

.mymatch-section .mymatch-wrap .m-allTabs {
  margin: 0px 0px 20px;
}

.mymatch-section .mymatch-wrap .create-wrap {
  width: 370px;
  padding-left: 20px;
}

.mymatch-create {
  text-align: center;
}

.mymatch-create img {
  width: 100%;
  max-width: 150px;
  display: inline-block;
}

.mymatch-create .tittle {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  font-weight: 700;
  margin: 10px 0px;
}

.finish-match {
  padding: 8px;
  border: 1px solid #ddd;
  margin-bottom: 16px;
}

.finish-match .fm-desc {
  float: left;
  width: calc(100% - 100px);
  text-align: left;
}

.finish-match .fm-desc p {
  margin: 0px;
}

.finish-match .fm-desc p:first-child {
  font-weight: 700;
}

.finish-match .fm-button {
  text-align: right;
  float: left;
  width: 100px;
}

.finish-match .fm-button .txt-link {
  display: inline-block;
  margin-top: 4px;
  font-size: 11px;
  text-decoration: underline;
}

.teamDetail-bio {
  width: 100%;
  padding: 20px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.teamDetail-bio .inner-bio {
  width: 50%;
}

.teamDetail-bio .inner-bio .pic-wrap {
  width: 100px;
}

.teamDetail-bio .inner-bio .bio-wrap {
  width: calc(100% - 100px);
  padding-left: 10px;
}

.teamDetail-bio .inner-bio .bio-wrap .tittle {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  font-weight: 700;
}

.teamDetail-bio .inner-bio .bio-wrap .city {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #444;
  margin-bottom: 10px;
}

.teamDetail-bio .inner-bio .bio-wrap .status {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.teamDetail-bio .inner-bio .menu-wrap {
  width: calc(100% - 100px);
  text-align: right;
  position: relative;
}

.teamDetail-bio .inner-bio .menu-wrap ul li {
  display: inline-block;
}

.teamDetail-bio .inner-bio .menu-wrap ul li a {
  padding: 10px;
  font-size: 14px;
  color: #444;
}

.teamDetail-bio .inner-bio .ranking-wrap {
  text-align: center;
  width: 100px;
}

.teamDetail-bio .inner-bio .ranking-wrap p {
  margin: 0px;
  color: #444;
}

.teamDetail-bio .inner-bio .ranking-wrap p:first-child {
  font-size: 14px;
  font-weight: 900;
  font-family: "Noto Sans";
}

.teamDetail-bio .inner-bio .ranking-wrap p:last-child {
  font-size: 30px;
  font-family: "Montserrat";
}

.teamDetail-section {
  width: 100%;
  position: relative;
  padding: 40px 0px;
  background-color: #f9f9f9;
}

.teamDetail-section .teamDetail-main {
  width: calc(100% - 350px);
  float: right;
  padding-left: 20px;
}

.teamDetail-section .teamDetail-main table tr td:first-child {
  text-align: left;
}

.teamDetail-section .teamDetail-main .team-table {
  margin: 20px 0px;
}

.teamDetail-section .teamDetail-main .team-table .col-md-6:first-child {
  padding-left: 0px;
}

.teamDetail-section .teamDetail-main .team-table .col-md-6:last-child {
  padding-right: 0px;
}

.teamDetail-section .teamDetail-main .upcoming-list {
  margin-bottom: 8px;
}

.teamDetail-section .teamDetail-sub {
  width: 350px;
  float: left;
}

.teamDetail-member {
  margin-bottom: 20px;
}

.teamDetail-member .player-wrap {
  margin-bottom: 8px;
}

.teamDetail-collection {
  margin-bottom: 20px;
}

.teamDetail-collection .collect-box {
  width: 33.3%;
  padding-right: 5px;
  padding-bottom: 5px;
}

.teamDetail-collection .collect-box:nth-child(3n) {
  padding-right: 0px;
}

.collect-item {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.collect-item img {
  width: 50%;
  margin-bottom: 10px;
}

.collect-item p {
  margin: 0px;
  font-size: 14px;
  font-weight: 900;
  font-family: "Noto Sans";
}

.collect-item span {
  font-size: 12px;
  font-family: "Noto Sans";
}

.team-nextMatch {
  padding: 20px 0px;
}

.team-nextMatch .type-wrap {
  width: 100%;
}

.team-nextMatch .type-wrap span {
  padding: 8px 10px;
  display: inline-block;
  background-color: #ff5540;
  color: #fff;
  font-weight: 900;
  font-family: "Montserrat";
}

.team-nextMatch .desc-wrap {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.team-nextMatch .versus-wrap {
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: 0px;
}

.team-nextMatch .versus-wrap > span, .team-nextMatch .versus-wrap a {
  display: inline-block;
  padding: 12px 10px;
  border-right: 1px solid #ddd;
}

.team-nextMatch .versus-wrap .team-wrap {
  padding: 6px;
  display: inline-block;
}

.team-nextMatch .versus-wrap .team-wrap img {
  width: 100%;
  max-width: 30px;
  display: inline-block;
  margin-right: 5px;
}

.teamGallery-menu {
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 4px;
  margin: 40px 0px 20px;
}

.teamGallery-menu .create-wrap {
  width: 50%;
  padding: 8px 10px;
}

.teamGallery-menu .create-wrap a:hover i, .teamGallery-menu .create-wrap a:hover span {
  color: #444;
}

.teamGallery-menu ul {
  width: 50%;
}

.teamGallery-menu ul li {
  display: block;
  width: 50%;
  max-width: 200px;
}

.teamGallery-menu ul li a {
  position: relative;
  width: 100%;
  text-align: center;
  display: inline-block;
  padding: 8px 10px;
  color: #444;
  font-family: "Noto Sans";
  border-right: 1px solid #ddd;
}

.teamGallery-menu ul li a.active:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 3px;
  display: block;
  background-color: #f8af4a;
}

.teamGallery-menu ul li a:hover {
  background-color: #f9f9f9;
  text-decoration: none;
}

.teamGallery-menu ul li a:focus {
  text-decoration: none;
}

.teamGallery-list {
  width: 100%;
  position: relative;
}

.teamGallery-section {
  background-color: #f9f9f9;
}

.teamGallery-desc {
  text-align: center;
  padding: 0px 0px 20px;
}

.teamGallery-desc .location {
  font-size: 12px;
  font-family: "Noto Sans";
  color: #aaa;
  margin-bottom: 20px;
}

.teamGallery-desc .location a {
  font-size: 12px;
  font-family: "Noto Sans";
  color: #aaa;
}

.teamGallery-desc .story {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
  font-family: "Noto Sans";
  color: #444;
}

.teamGallery-item {
  width: 25%;
  padding: 5px;
  float: left;
}

.teamGallery-item .add-item {
  padding: 20px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border: 2px dashed #ddd;
}

.teamGallery-item .dropzone {
  height: 100%;
  padding: 0px;
  border: 0px;
  cursor: pointer;
  transition: .4s;
}

.teamGallery-item .dropzone:hover {
  opacity: .9;
  transition: .4s;
}

.teamGallery-album {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.teamGallery-album .r-image {
  border-radius: 0px;
}

.teamGallery-album .desc-wrap {
  padding: 8px;
}

.teamGallery-album .desc-wrap .tittle {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  color: #444;
  font-size: 14px;
  font-weight: 700;
  font-family: "Noto Sans";
}

.teamGallery-album .desc-wrap .number {
  color: #aaa;
  font-size: 12px;
  font-family: "Noto Sans";
}

.teamGallery-album:hover .desc-wrap .tittle {
  color: #1874cd;
}

.modal-gallery {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: none;
}

.modal-gallery.active {
  display: block;
}

.modal-gallery .background-wrap {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-gallery .gallery-slide {
  z-index: 2;
  width: 100%;
  max-width: 1600px;
  position: absolute;
  border: 1px solid #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-gallery .gallery-slide .arrow-left {
  left: -60px;
}

.modal-gallery .gallery-slide .arrow-right {
  right: -60px;
}

.modal-gallery .gallery-slide .slick-arrow.slick-disabled {
  opacity: 0;
}

.gallery-item {
  width: 100%;
}

.gallery-item .img-wrap {
  width: calc(100% - 300px);
  text-align: right;
}

.gallery-item .img-wrap img {
  display: inline-block;
}

.gallery-item .comment-wrap {
  width: 100%;
  height: 100%;
  max-width: 300px;
  background-color: #fff;
  padding: 10px;
  overflow: hidden;
  position: relative;
}

.gallery-item .comment-wrap .user-wrap {
  width: 100%;
}

.gallery-item .comment-wrap .user-wrap .user-img {
  float: left;
  width: 50px;
}

.gallery-item .comment-wrap .user-wrap .desc {
  padding-left: 10px;
  float: left;
  padding-top: 5px;
}

.gallery-item .comment-wrap .user-wrap .desc .name {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 900;
  color: #444;
}

.gallery-item .comment-wrap .user-wrap .desc .date {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #aaa;
}

.setting-section {
  background-color: #f9f9f9;
  padding: 40px 0px;
}

.tab-setting {
  max-width: 600px;
  margin: auto;
}

.border-setting {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.line-setting {
  max-width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 20px;
}

.image-browse-setting {
  margin: 20px 0px;
}

.image-browse-setting input {
  display: none;
}

.image-browse-setting label {
  border: 1px solid #1874cd;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.image-browse-setting label strong {
  width: 80px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #1874cd;
}

.image-browse-setting label strong i, .image-browse-setting label strong span {
  color: #fff;
}

.image-browse-setting label p {
  width: calc(100% - 117px);
  margin: 0px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  padding: 5px;
}

.s-tittle {
  text-align: left;
  margin-bottom: 20px;
}

.s-tittle.red {
  display: inline-block;
  font-size: 16px;
  font-family: "Noto Sans";
}

.team-setting .tittle {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.team-setting .city {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}

.empty-challenger {
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: #aaa;
  border: 2px dashed #aaa;
  border-radius: 4px;
  padding: 10px 0px;
}

.match-team {
  background-color: #fff;
}

.match-team .team-wrap, .match-team .player-wrap, .match-team .player-visit {
  border-radius: 0px;
  margin: 0px;
}

.match-team .team-list {
  max-height: calc(82px * 7);
  overflow-y: scroll;
}

.matchDetail-info {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.matchDetail-info li {
  width: 100%;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.matchDetail-info #g-maps {
  width: 100%;
  height: 150px;
  margin-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.matchDetail-info + div {
  width: 100%;
  text-align: center;
  padding-top: 10px;
}

.matchDetail-foot {
  width: 100%;
  height: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.notif-page {
  padding: 20px 0px;
}

.notif-amount {
  width: 100%;
  max-width: 270px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  float: left;
}

.notif-list-wrap {
  float: left;
  width: calc(100% - 270px);
  padding-left: 30px;
}

.notif-list-wrap .notif-list {
  border-radius: 2px;
  border: 1px solid #ddd;
  background-color: #fff;
}

.notif-list-wrap .notif-list .notification-box {
  border-bottom: 1px solid #ddd;
}

@keyframes rotateBall {
  10% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(24, 116, 205, 0.8);
  z-index: 999;
}

.loading .loading-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.loading .loading-ball {
  display: inline-block;
  padding: 8px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  background-color: #fff;
  width: 100px;
  margin: 0px auto 20px;
  animation: rotateBall 1.2s infinite linear;
}

.loading .loading-ball img {
  width: 100%;
}

.loading .text {
  font-size: 24px;
  font-weight: 900;
  color: #fff;
}

.dskt-hideit {
  display: none;
}

.mbl-nav-content {
  position: fixed;
  top: 54px;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: .4s;
}

.mbl-nav-content .bg-mobile {
  z-index: 5;
  top: 54px;
}

.mbl-nav-content .icon-submenu {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  right: 10px;
  left: auto;
  width: 20px;
}

.mbl-nav-content .icon-submenu img.rotate {
  transform: rotate(-90deg);
}

.mbl-nav-content ul {
  width: 300px;
  background-color: #fff;
  position: fixed;
  height: 100%;
  z-index: 10;
  opacity: 0;
  visibility: none;
  transition: .4s;
}

.mbl-nav-content ul.left {
  left: -300px;
}

.mbl-nav-content ul.right {
  right: -300px;
}

.mbl-nav-content ul li {
  border-bottom: 1px solid #ddd;
}

.mbl-nav-content ul li a {
  display: block;
  padding: 15px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.mbl-nav-content.active {
  opacity: 1;
  visibility: visible;
  transition: .4s;
}

.mbl-nav-content.active .bg-mobile {
  opacity: 1;
  visibility: visible;
}

.mbl-nav-content.active ul {
  opacity: 1;
  visibility: visible;
  transition: .4s;
}

.mbl-nav-content.active ul.left {
  left: 0;
}

.mbl-nav-content.active ul.right {
  right: 0;
}

@media (max-width: 992px) {
  .mbl-hideit {
    display: none !important;
  }
  .dskt-hideit {
    display: block !important;
  }
  .mbl-nopadding {
    padding: 0px !important;
  }
  .mbl-nomargin {
    margin: 0px !important;
  }
  .quad-container,
  .triple-container,
  .dual-container {
    width: 100%;
  }
  .mbl-p10-lr {
    padding-left: 10px;
    padding-right: 10px;
  }
  .mbl-p20-lr {
    padding-left: 20px;
    padding-right: 20px;
  }
  .mbl-p40-lr {
    padding-left: 40px;
    padding-right: 40px;
  }
  .mbl-p20-t {
    padding-top: 20px;
  }
  .mbl-m10-b {
    margin-bottom: 10px;
  }
  .mbl-m20-b {
    margin-bottom: 20px;
  }
  .mbl-m40-b {
    margin-bottom: 40px;
  }
  .mbl-menu {
    width: 50px;
    height: 50px;
    position: relative;
    border-right: 1px solid #ddd;
    padding: 5px 10px;
  }
  .mbl-menu a {
    width: 30px;
    position: absolute;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mbl-menu span {
    display: block;
    margin-bottom: 5px;
    width: 100%;
    height: 3px;
    border-radius: 4px;
    background-color: #444;
  }
  .mbl-menu span:last-child {
    margin: 0px;
  }
  .mbl-submenu {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    display: none;
  }
  .mbl-submenu ul {
    height: auto;
    background-color: #f4f4f4;
  }
  .mbl-submenu ul li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  .mbl-submenu ul li:last-child {
    border-bottom: 0px;
  }
  .mbl-submenu ul li a {
    display: block;
  }
  #header {
    width: 100%;
    position: relative;
    padding: 0px;
  }
  #header .logo {
    padding: 10px;
  }
  #header .logo img {
    height: 30px;
  }
  #header .nav-wrap, #header.sticky .nav-wrap {
    padding-top: 0px;
  }
  #header .nav-wrap a, #header.sticky .nav-wrap a {
    display: inline-block;
    padding: 8px 16px;
    border-radius: 100px;
    font-size: 14px;
    color: #444;
    border: 2px solid #444;
    background-color: transparent;
    font-family: "Noto Sans";
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition: .4s;
    font-size: 11px;
  }
  #header .nav-wrap a:hover, #header.sticky .nav-wrap a:hover {
    transition: .4s;
    color: #fff;
    background-color: #444;
    box-shadow: 0px 2px 2px #ddd;
  }
  #header.header-login .logo {
    padding: 10px;
  }
  #header.header-login .userNav-wrap li .user-head, #header.header-login .userNav-wrap li .notification {
    padding: 0px !important;
    width: 50px !important;
    height: 50px !important;
  }
  #header.header-login .userNav-wrap li .user-head img {
    margin: 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #footer {
    width: 100%;
    height: auto;
  }
  #footer .foot-top {
    background-color: #444;
    padding: 30px 0px 0px;
  }
  #footer .foot-bottom {
    background-color: #444;
    text-align: center;
    padding: 20px 0px;
    text-align: center;
  }
  #footer .foot-bottom .sosmed-wrap {
    width: 100%;
    margin-bottom: 15px;
  }
  #footer .foot-bottom .sosmed-wrap ul li {
    display: inline-block;
    width: 20px;
    margin-right: 10px;
  }
  #footer .foot-bottom .sosmed-wrap ul li svg, #footer .foot-bottom .sosmed-wrap ul li img {
    width: 100%;
    height: auto;
  }
  #footer .foot-bottom .sosmed-wrap ul li svg path, #footer .foot-bottom .sosmed-wrap ul li img path {
    fill: #fff;
  }
  #footer .foot-bottom .copyright {
    width: 100%;
    font-family: "Noto Sans";
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
  #footer .logo {
    position: relative;
    width: 100%;
    transform: translate(0px, 0px);
    max-width: 150px;
    height: 100%;
    top: auto;
    left: auto;
    margin: 0px auto 15px;
  }
  #footer .logo img {
    width: 100%;
  }
  #footer .link-wrap {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 15px;
  }
  #footer .link-wrap ul li {
    display: inline-block;
    padding: 10px;
  }
  #footer .link-wrap ul li a {
    font-family: "Noto Sans";
    font-weight: 400;
    font-size: 14px;
    color: #fff;
  }
  #footer .link-wrap ul li:last-child {
    padding-bottom: 0px;
  }
  #footer .link-wrap ul li:first-child {
    padding-top: 0px;
  }
  .home-news .quad-container {
    width: 50%;
  }
  .profile-player .detail-player .mbl-profile-bio .bio-wrap {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
  }
  .profile-player .detail-player .col-md-2 .parentright {
    text-align: center !important;
    padding: 10px 0px;
  }
  .team-player .team-fill .bio-wrap {
    width: calc(100% - 170px);
  }
  .team-player .team-fill .team-wrap {
    border-top: 1px solid #ddd;
    width: 100%;
  }
  .result-search {
    text-align: center;
  }
  .result-search .col-md-3 {
    display: inline-block;
    width: 260px;
    padding: 0px 5px;
  }
  .arena-related .related-wrap {
    width: 50%;
    display: block;
    float: left;
  }
  .mymatch-section .mymatch-wrap .list-wrap {
    width: 100%;
  }
  .teamDetail-section .teamDetail-main {
    width: 100%;
    float: none;
    padding-left: 0px;
  }
  .teamDetail-section .teamDetail-sub {
    width: 100%;
    float: none;
  }
  .teamDetail-bio {
    position: relative;
  }
  .teamDetail-bio .inner-bio {
    width: 100%;
  }
  .teamDetail-bio .inner-bio .pic-wrap {
    width: 140px;
    padding-bottom: 10px;
  }
  .teamDetail-bio .inner-bio .bio-wrap {
    width: 100%;
    padding-left: 0px;
  }
  .teamDetail-bio .inner-bio .menu-wrap {
    width: 100%;
    padding-bottom: 20px;
  }
  .teamDetail-bio .inner-bio:last-child {
    width: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: center;
  }
  .teamGallery-section .container {
    padding: 0px;
  }
  .teamGallery-section .teamGallery-menu {
    border-radius: 0px;
    margin: 0px 0px 20px;
  }
  .matchDetail-info {
    border-radius: 0px;
  }
  .matchDetail-info + div {
    display: none;
  }
  .match-team .team-list {
    max-height: auto;
  }
}

@media (max-width: 850px) {
  .arenaList-section .search-wrap {
    width: 100%;
  }
  .arenaList-section .result-wrap {
    width: 100%;
    padding-left: 0px;
  }
}

@media (max-width: 800px) {
  .teamGallery-item {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .arenaDetail-wrap .tittle-wrap {
    width: 100%;
    float: none;
    padding-bottom: 10px;
  }
  .arenaDetail-wrap .tittle-wrap p {
    text-align: left;
  }
  .arenaDetail-wrap .desc-wrap {
    width: 100%;
    float: none;
  }
  .notif-amount {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: none;
    margin-bottom: 20px;
  }
  .notif-list-wrap {
    float: none;
    width: 100%;
    padding-left: 0px;
  }
  .notif-list-wrap .notif-list {
    border-radius: 2px;
    border: 1px solid #ddd;
    background-color: #fff;
  }
  .notif-list-wrap .notif-list .notification-box {
    border-bottom: 1px solid #ddd;
  }
}

@media (max-width: 580px) {
  .hero-image .row a:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (max-width: 550px) {
  .profile-player .img-player {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    float: none !important;
  }
  .profile-player .detail-player {
    width: 100%;
    padding-left: 0px;
    margin-top: 10px;
  }
  .profile-player .detail-player .mbl-profile-bio .bio-wrap {
    padding-top: 5px;
    margin-top: 5px;
    border-top: 1px solid #ddd;
  }
}

@media (max-width: 500px) {
  .create-team .img-wrap {
    width: 100%;
    padding-bottom: 20px;
  }
  .create-team .img-wrap .m-image {
    margin: 0 auto;
  }
  .create-team .browse-wrap {
    width: 100%;
    text-align: center;
  }
  .create-team .browse-wrap .parentleft {
    padding-top: 20px;
    text-align: center !important;
  }
  .arena-price .type-wrap .img-wrap {
    margin: 0 auto 10px;
  }
  .arena-price .type-wrap .detail-wrap {
    width: 100%;
  }
  .arena-price .type-wrap .detail-wrap .detail-box {
    padding-left: 0px;
  }
}

@media (max-width: 400px) {
  .available-list .img-wrap {
    width: 40px;
  }
  .available-list .data-wrap * {
    font-size: 12px;
  }
  .home-news .news-box {
    width: 100%;
  }
  .team-player .team-fill .img-wrap {
    width: 170px;
    margin: 0 auto;
    float: none !important;
  }
  .team-player .team-fill .bio-wrap {
    width: 100%;
  }
  .team-player .team-fill .team-wrap {
    border-top: 1px solid #ddd;
    width: 100%;
  }
  .arena-related .related-wrap {
    width: 100%;
    display: block;
    float: left;
  }
  .teamGallery-item {
    width: 100%;
  }
  .teamGallery-section .teamGallery-menu .create-wrap {
    width: 36px;
    border-left: 1px solid #ddd;
  }
  .teamGallery-section .teamGallery-menu .create-wrap span {
    display: none;
  }
  .finish-match .fm-desc {
    width: 100%;
    margin-bottom: 10px;
  }
  .finish-match .fm-button {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .available-list .img-wrap img {
    margin-bottom: 10px;
  }
}
