.style-navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  border-right: 1px solid #ddd;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12);
  background-color: #fff;
}

.style-navbar img {
  display: block;
  width: 150px;
  margin: 0 auto;
}

.style-navbar .tittle {
  width: 100%;
  font-family: "tahoma";
  font-size: 18px;
  font-weight: 700;
  color: #444;
  padding: 8px;
  border-top: 1px solid #ddd;
  text-align: center;
}

.style-navbar ul li a {
  display: block;
  width: 100%;
  font-family: "tahoma";
  font-size: 14px;
  color: #444;
  padding: 10px 8px;
}

.style-navbar ul li a.active {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.style-content {
  width: 100%;
  background-color: #f2f2f2;
  height: 100vh;
  overflow-y: scroll;
  padding-left: 270px;
  padding-right: 20px;
  padding-top: 20px;
}

.style-content .tittle {
  width: 100%;
  padding: 5px 10px;
  border-bottom: 1px solid #444;
  font-family: "tahoma";
  font-size: 18px;
  font-weight: 700;
  color: #444;
  margin-bottom: 10px;
}

.style-section {
  margin-bottom: 20px;
}

.style-section .list-style {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.2);
}

.style-section .list-style .desc {
  margin-bottom: 5px;
  font-family: "tahoma";
  font-size: 12px;
}

.style-section .list-style.dark {
  background-color: rgba(0, 0, 0, 0.5);
}

.style-section .list-style.dark .desc {
  color: #fff;
}

.marginSpace16 {
  margin: 16px;
}

.marginSpace16-y {
  margin: 16px 0px;
}

.marginSpace16-x {
  margin: 0px 16px;
}

.paddingSpace16 {
  padding: 16px;
}

.paddingSpace16-y {
  padding: 16px 0px;
}

.paddingSpace16-x {
  padding: 0px 16px;
}
