* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'proxima-nova';
}

.clr {
  margin: 0;
  padding: 0;
  clear: both;
}

.content {
  min-height: 600px;
}

#footer {
  min-height: 120px;
}

.row {
  margin: 0px;
  padding: 0px;
}

.row:before {
  content: "";
  display: table;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.no-paddingX {
  padding-left: 0px;
  padding-right: 0px;
}

.no-padding {
  padding: 0px !important;
}

.no-margin {
  margin: 0px !important;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

select {
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a[href] {
  transition: .2s;
}

a[href]:focus {
  outline-color: transparent;
}

hr {
  width: 100%;
  height: 1px;
  background-color: #ddd;
}

.sticky {
  position: fixed !important;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 20;
}

.overlay-fix {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.8);
  padding-bottom: 50px;
}

.img-responsive {
  width: 100%;
  height: auto;
  border: 0;
}

.hidden, .hideit {
  display: none !important;
}

.dskt-hideit {
  display: none;
}

.showit {
  display: block;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.transparent {
  opacity: 0;
}

.visible {
  opacity: 1;
}

.seeable {
  opacity: 1;
  visibility: visible;
  transition: .3s;
}

.unseeable {
  opacity: 0;
  visibility: hidden;
  transition: .3s;
}

.clearfix::after {
  content: "";
  margin: 0;
  padding: 0;
  clear: both;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1080px;
  padding: 0px 10px;
  margin: 0 auto;
}

.container.grey {
  background-color: #f2f2f2;
}

.conY {
  padding: 40px 0px;
}

.dual-container {
  width: 50%;
  position: relative;
  float: left;
}

.triple-container {
  width: 32%;
  position: relative;
  float: left;
  padding: 5px;
}

.quad-container {
  width: 25%;
  position: relative;
  float: left;
}

.five-container {
  width: 20%;
  position: relative;
  float: left;
  padding: 5px;
}

.center-container {
  float: none !important;
  display: inline-block !important;
}

.divhalf {
  width: 50%;
}

.divfull {
  width: 100%;
}

.coverleft {
  background-position: center left;
}

.coverright {
  background-position: center right;
}

.covercenter {
  background-position: center center;
}

.parentleft {
  text-align: left !important;
}

.parentright {
  text-align: right !important;
}

.parentcenter {
  text-align: center !important;
}

.body-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.body-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
}

.background-color.lightGrey {
  background-color: #f9f9f9;
}

.background-color.grey {
  background-color: #f2f2f2;
}

.custom-scroll::-webkit-scrollbar {
  width: 3px;
  cursor: pointer;
}

.custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 1px solid #232323;
}

h1 {
  font-size: 64px;
  color: #444;
  font-family: "tahoma";
  margin: 0px;
}

h2 {
  font-size: 32px;
  color: #444;
  font-family: "tahoma";
  margin: 0px;
}

h3 {
  font-size: 24px;
  color: #444;
  font-family: "tahoma";
  margin: 0px;
}

h4 {
  font-size: 18px;
  color: #444;
  font-family: "tahoma";
  margin: 0px;
}

h5 {
  font-size: 16px;
  color: #444;
  font-family: "tahoma";
  margin: 0px;
}

h6 {
  font-size: 14px;
  color: #444;
  font-family: "tahoma";
  margin: 0px;
}

.m-button.red {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #ff5540;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.m-button.red:hover {
  color: #fff;
  box-shadow: 0px 2px 2px #ddd;
}

.m-button.blue {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #47c8e6;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.m-button.blue:hover {
  color: #fff;
  box-shadow: 0px 2px 2px #ddd;
}

.m-button.green {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #38d184;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.m-button.green:hover {
  color: #fff;
  box-shadow: 0px 2px 2px #ddd;
}

.m-button.yellow {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff;
  background-color: #f8af4a;
  font-family: "Noto Sans";
  border: 0px;
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.m-button.yellow:hover {
  color: #fff;
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.red {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #ff5540 !important;
  border: 2px solid #ff5540;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.l-button.red:hover {
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.blue {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #47c8e6 !important;
  border: 2px solid #47c8e6;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.l-button.blue:hover {
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.green {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #38d184 !important;
  border: 2px solid #38d184;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.l-button.green:hover {
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.yellow {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #f8af4a !important;
  border: 2px solid #f8af4a;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.l-button.yellow:hover {
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.black {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #444 !important;
  border: 2px solid #444;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.l-button.black:hover {
  box-shadow: 0px 2px 2px #ddd;
}

.l-button.white {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #fff !important;
  border: 2px solid #fff;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

.l-button.white:hover {
  box-shadow: 0px 2px 2px #ddd;
}

.full-button {
  display: block;
  width: 100%;
  line-height: 40px;
  height: 40px;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
  border-radius: 2px;
  background-color: #fff;
  text-align: center;
  border: 1px solid #ddd;
}

.l-tittle.red {
  width: 100%;
  border-bottom: 2px solid #ff5540;
  text-align: left;
  margin-bottom: 20px;
}

.l-tittle.red span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #ff5540;
  color: #fff;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  font-family: "Noto Sans";
}

.l-tittle.blue {
  width: 100%;
  border-bottom: 2px solid #47c8e6;
  text-align: left;
  margin-bottom: 20px;
}

.l-tittle.blue span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #47c8e6;
  color: #fff;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  font-family: "Noto Sans";
}

.l-tittle.yellow {
  width: 100%;
  border-bottom: 2px solid #f8af4a;
  text-align: left;
  margin-bottom: 20px;
}

.l-tittle.yellow span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #f8af4a;
  color: #fff;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  font-family: "Noto Sans";
}

.l-tittle.green {
  width: 100%;
  border-bottom: 2px solid #38d184;
  text-align: left;
  margin-bottom: 20px;
}

.l-tittle.green span {
  display: inline-block;
  padding: 5px 10px;
  background-color: #38d184;
  color: #fff;
  font-size: 18px;
  min-width: 100px;
  text-align: center;
  font-family: "Noto Sans";
}

.m-tittle {
  font-size: 32px;
  font-family: "Montserrat";
  font-weight: 700;
  color: #444;
  margin-bottom: 20px;
}

.m-tittle:after {
  content: "";
  display: block;
  width: 30px;
  height: 5px;
  background-color: #444;
}

.icon-text i {
  font-size: 14px;
  margin-right: 8px;
}

.icon-text span {
  font-family: "Noto Sans";
  font-size: 14px;
}

.icon-text.black i, .icon-text.black span {
  color: #444;
}

.icon-text.grey i, .icon-text.grey span {
  color: #aaa;
}

.available-list {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
}

.available-list .img-wrap {
  border-radius: 2px;
  overflow: hidden;
  width: 60px;
  margin-right: 10px;
}

.available-list .img-wrap img {
  width: 100%;
  height: auto;
}

.available-list .button-wrap {
  padding-top: 14px;
}

.upcoming-list {
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
}

.upcoming-list .top-wrap {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.upcoming-list .top-wrap .team-wrap {
  width: calc(50% - 11px);
  overflow: hidden;
}

.upcoming-list .top-wrap .team-wrap.left {
  text-align: left;
}
.upcoming-list .top-wrap .team-wrap.left img {

  margin-right: 5px;
}

.upcoming-list .top-wrap .team-wrap.right {
  text-align: right;
}

.upcoming-list .top-wrap .team-wrap.right img {
  margin-left: 5px;
}

.upcoming-list .top-wrap .team-wrap img {
  width: 30px;
  border-radius: 2px;
  display: inline-block;
}

.upcoming-list .top-wrap .team-wrap a {
  color: #444;
  font-size: 14px;
  font-weight: 700;
  font-family: "Noto Sans";
  white-space: nowrap;
  text-overflow: ellipsis;
}

.upcoming-list .top-wrap span {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 13px 5px 12px;
  border: 1px solid #ddd;
  border-top: 0px;
  color: #444;
  font-size: 18px;
  font-family: "Noto Sans";
  background-color: #fff;
}

.upcoming-list .bottom-wrap {
  padding: 5px;
  text-align: center;
  height: 50px;
}

.upcoming-list .bottom-wrap p {
  color: #444;
  font-size: 12px;
  font-family: "Noto Sans";
  margin-bottom: 5px;
}

.upcoming-list .bottom-wrap .score-wrap {
  width: 50%;
  color: #444;
  font-weight: 700;
  font-size: 20px;
  font-family: "Noto Sans";
}

.klasemen-table {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #fff;
}

.klasemen-table thead td {
  padding: 5px 10px;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
  border-bottom: 1px solid #ddd;
}

.klasemen-table tbody td {
  padding: 10px;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
  border: 0px;
}

.klasemen-table tbody td img {
  width: 30px;
}

.klasemen-table tbody td span {
  font-weight: 700;
  color: #444;
  font-size: 14px;
  font-family: "Noto Sans";
}

.klasemen-table tbody td:first-child {
  text-align: center;
}

.klasemen-table tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.m-allTabs {
  margin: 40px 0px 10px;
}

.m-allTabs .tabs-wrap {
  width: 100%;
  border-bottom: 1px solid #aaa;
}

.m-allTabs .tabs-wrap li {
  display: inline-block;
}

.m-allTabs .tabs-wrap li a {
  display: inline-block;
  padding: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.m-allTabs .tabs-wrap li a.active {
  font-weight: 700;
  position: relative;
}

.m-allTabs .tabs-wrap li a.active:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  right: 0;
  background-color: #f8af4a;
}

.m-allTabs .tabs-wrap li a:active, .m-allTabs .tabs-wrap li a:focus {
  text-decoration: none;
}

.player-visit {
  width: 100%;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: relative;
}

.player-visit .bio {
  width: calc(100% - 110px);
  padding-left: 10px;
}

.player-visit .bio p {
  margin: 0px;
}

.player-visit .bio p:first-child {
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: bold;
  color: #444;
  padding-top: 10px;
}

.player-visit .bio p:last-child {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #aaa;
}

.player-visit .btn-wrap {
  width: 50px;
  height: 100%;
}

.player-visit .btn-wrap .icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-59%);
  display: inline-block;
}

.player-visit .btn-wrap .icon i {
  font-size: 20px;
  color: #aaa;
}

.team-visit {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.12);
  padding: 20px;
  max-width: 250px;
  text-align: center;
}

.team-visit .img-wrap {
  display: block;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  margin: 0 auto;
}

.team-visit .img-wrap img {
  width: 100%;
}

.team-visit .tittle {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 700;
  color: #444;
  margin: 10px 0px 5px;
  width: 100%;
}

.team-visit .city {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  margin-bottom: 20px;
}

.team-visit a {
  width: 100%;
}

.oper-paging {
  width: 100%;
  text-align: center;
  padding: 20px 0px 40px;
}

.oper-paging ul li {
  display: inline-block;
}

.oper-paging ul li a {
  padding: 10px;
  font-size: 14px;
  color: #444;
  font-family: "Noto Sans";
  border-bottom: 2px solid transparent;
}

.oper-paging ul li a.active {
  border-color: #47c8e6;
}

.oper-paging ul li a:hover {
  border-color: #74d5ec;
}

.radio-wrap {
  cursor: pointer;
  margin-right: 10px;
}

.radio-wrap input {
  display: none;
}

.radio-wrap .radio-box {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 5px;
}

.radio-wrap .radio-box span {
  display: block;
  margin-right: 5px;
  width: 20px;
  position: relative;
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background-color: rgba(0, 0, 0, 0.05);
  float: left;
  border-radius: 2px;
}

.radio-wrap .radio-box p {
  margin: 0px;
  float: left;
  width: calc(100% - 25px);
  display: block;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.radio-wrap.active .radio-box span:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #47c8e6;
}

.m-image {
  position: relative;
  border-radius: 4px;
  border: 2px solid #47c8e6;
  background-color: #cef0f8;
  margin: 0 auto;
  overflow: hidden;
}

.m-image i {
  position: absolute;
  font-size: 18px;
  color: #47c8e6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-image img {
  width: 100%;
}

.m-image.no-border {
  border: 0px;
}

.m-image.md {
  width: 250px;
  height: 250px;
}

.m-image.sm {
  width: 150px;
  height: 150px;
}

.m-image.xs {
  width: 60px;
  height: 60px;
}

.m-modals {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
}

.m-modals .background-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.8);
}

.m-modals .modal-wrap {
  width: 100%;
  max-width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.m-modals .modal-wrap .foot .half {
  width: 50%;
  float: left;
  padding: 0px 5px;
}

.m-modals .modal-wrap .foot .full {
  width: 100%;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 3;
}

.slick-slider .slick-arrow i {
  font-size: 50px;
  color: #fff;
}

.slick-slider .slick-arrow.arrow-left {
  left: 10px;
}

.slick-slider .slick-arrow.arrow-right {
  right: 10px;
}

#header {
  width: 100%;
  position: relative;
  padding: 15px 20px;
  border-bottom: 5px solid #f8af4a;
}

#header:before {
  content: "";
  display: block;
  width: 32%;
  height: 5px;
  background-color: #47c8e6;
  position: absolute;
  bottom: -5px;
  left: 0;
}

#header:after {
  content: "";
  display: block;
  width: 32%;
  height: 5px;
  background-color: #ff5540;
  position: absolute;
  bottom: -5px;
  left: 32%;
}

#header .logo img {
  height: 50px;
}

#header.head-absolute {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

#header.sticky {
  position: fixed;
  background-color: #fff;
  z-index: 99;
}

#header.sticky .menu-wrap ul li a {
  color: #444;
}

#header.sticky .nav-wrap a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #444 !important;
  border: 2px solid #444;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

#header.sticky .nav-wrap a:hover {
  box-shadow: 0px 2px 2px #ddd;
}

#header .menu-wrap {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#header .menu-wrap ul li {
  display: inline-block;
}

#header .menu-wrap ul li a {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  color: #444;
  padding: 0px 20px;
}

#header .nav-wrap {
  text-align: right;
  padding-top: 5px;
}

#header .nav-wrap a {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 100px;
  font-size: 14px;
  color: #444 !important;
  border: 2px solid #444;
  background-color: transparent;
  font-family: "Noto Sans";
  min-width: 100px;
  text-align: center;
  cursor: pointer;
}

#header .nav-wrap a:hover {
  box-shadow: 0px 2px 2px #ddd;
}

#footer {
  background-color: #444;
  padding: 20px;
  width: 100%;
  height: auto;
}

#footer .logo {
  position: relative;
  width: 300px;
  height: 100%;
}

#footer .logo img {
  width: 100%;
  max-width: 100px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

#footer .link-wrap {
  width: 300px;
  text-align: left;
}

#footer .link-wrap ul li {
  display: block;
  padding: 10px;
}

#footer .link-wrap ul li a {
  font-family: "Noto Sans";
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

#footer .link-wrap ul li:last-child {
  padding-bottom: 0px;
}

#footer .link-wrap ul li:first-child {
  padding-top: 0px;
}

.hero-wrap {
  width: 100%;
  height: calc(100vh - 85px);
}

.hero-wrap .slick-list {
  height: 100%;
}

.hero-wrap .slick-list .slick-track {
  height: 100%;
}

.hero-wrap .hero-image {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-wrap .hero-image .inner {
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-wrap .hero-image .inner h1 {
  margin-bottom: 10px;
  color: #fff;
}

.hero-wrap .hero-image .inner p {
  font-family: "Noto Sans";
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
}

.hero-wrap .hero-image .inner a {
  margin: 0px 10px;
  font-size: 16px;
}

.hero-wrap .hero-image:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.home-klasemen-wrap {
  padding: 40px 0px;
}

.home-klasemen-wrap .available-wrap {
  margin-bottom: 20px;
}

.home-klasemen-wrap .available-list, .home-klasemen-wrap .upcoming-list {
  margin-bottom: 5px;
}

.home-tabel-match .dual-container:first-child {
  padding-right: 5px;
}

.home-tabel-match .dual-container:last-child {
  padding-left: 5px;
}

.klasemen-wrap .tabs-wrap {
  width: 100%;
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}

.klasemen-wrap .tabs-wrap li {
  display: inline-block;
}

.klasemen-wrap .tabs-wrap li a {
  display: inline-block;
  padding: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.klasemen-wrap .tabs-wrap li a.active {
  font-weight: 700;
  position: relative;
}

.klasemen-wrap .tabs-wrap li a.active:before {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: -2px;
  left: 0;
  right: 0;
  background-color: #f8af4a;
}

.klasemen-wrap .full-button {
  border-radius: 0px;
}

.banner-ads {
  padding: 0px 0px 40px;
}

.banner-ads .banner-image {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.banner-ads .banner-image .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.banner-ads .banner-image .inner img {
  width: 100%;
  height: auto;
}

.banner-ads .banner-image .inner .back-img {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.banner-ads .banner-image:before {
  content: "";
  display: table;
  padding-top: 15%;
}

.home-news {
  padding: 40px 0px;
}

.home-news .news-wrap {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.home-news .news-wrap .inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.home-news .news-wrap .inner img {
  width: 100%;
  height: auto;
}

.home-news .news-wrap .inner .back-img {
  width: 100%;
  height: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-news .news-wrap:before {
  content: "";
  display: table;
  padding-top: 100%;
}

.home-news .news-wrap:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.3);
}

.home-news .news-box {
  overflow: hidden;
  border-radius: 2px;
  padding: 0px 5px;
}

.home-news .news-box .news-read {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  padding: 0px 10px;
  z-index: 4;
}

.home-news .news-box .news-read .tags {
  padding: 5px 16px;
  border-radius: 4px;
  display: inline-block;
  color: #fff;
  font-family: "Noto Sans";
  font-size: 12px;
  margin-bottom: 10px;
}

.home-news .news-box .news-read .tags.red {
  background-color: #ff5540;
}

.home-news .news-box .news-read .tags.blue {
  background-color: #47c8e6;
}

.home-news .news-box .news-read .tags.yellow {
  background-color: #f8af4a;
}

.home-news .news-box .news-read .tags.green {
  background-color: #38d184;
}

.home-news .news-box .news-read .tittle {
  font-family: "Noto Sans";
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}

.sign-wrap {
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  border: 1px solid #ddd;
  background-color: #fff;
}

.sign-wrap .tabs-wrap {
  width: 100%;
  border-bottom: 1px solid #ddd;
}

.sign-wrap .tabs-wrap a {
  display: inline-block;
  text-align: center;
  width: 49%;
  line-height: 40px;
  height: 40px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  border-bottom: 3px solid transparent;
}

.sign-wrap .tabs-wrap a.active {
  border-bottom: 3px solid #f8af4a;
}

.sign-wrap .content-wrap {
  padding: 20px;
}

.sign-wrap2 {
  margin: 80px auto;
  max-width: 800px;
}

.sign-wrap2 .inner {
  margin-top: 20px;
  width: 100%;
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 20px;
}

.sign-wrap2 .half {
  width: 50%;
  float: left;
}

.sign-wrap2 .half:first-child {
  padding-right: 5px;
}

.sign-wrap2 .half:last-child {
  padding-left: 5px;
}

.form-section {
  margin-bottom: 10px;
}

.form-section label {
  display: block;
  margin-bottom: 5px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.form-section textarea, .form-section input[type="text"], .form-section input[type="password"], .form-section .select {
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.form-section textarea {
  height: 150px;
}

.form-section.error input, .form-section.error textarea {
  border-color: #ff5540;
}

.form-section.error .error-state {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #ff5540;
  width: 100%;
  text-align: left;
  display: block;
}

.form-section .error-state {
  display: none;
}

.form-section .half {
  width: 50%;
  float: left;
}

.form-section .half:first-child {
  padding-right: 5px;
}

.form-section .half:last-child {
  padding-left: 5px;
}

.form-section button {
  margin-top: 40px;
}

.image-browse {
  margin: 20px 0px;
}

.image-browse input {
  display: none;
}

.image-browse label {
  border: 1px solid #47c8e6;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.image-browse label strong {
  width: 117px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #47c8e6;
}

.image-browse label strong i, .image-browse label strong span {
  color: #fff;
}

.image-browse label p {
  width: calc(100% - 117px);
  margin: 0px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  padding: 5px;
}

.image-browse label:hover {
  border-color: #1eb8dc;
}

.image-browse label:hover strong {
  background-color: #1eb8dc;
}

.profile-player {
  margin-top: 40px;
}

.profile-player .img-player {
  width: 200px;
  height: 200px;
  border-radius: 4px;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #47c8e6;
  background-color: #cef0f8;
  margin: 0 auto;
  overflow: hidden;
}

.profile-player .img-player i {
  position: absolute;
  font-size: 18px;
  color: #47c8e6;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-player .img-player img {
  width: 100%;
}

.profile-player .detail-player {
  width: calc(100% - 200px);
  padding-left: 20px;
}

.profile-player .detail-player .detail-wrap {
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
  padding: 15px 10px;
}

.profile-player .detail-player .detail-wrap .bio-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.profile-player .detail-player .detail-wrap .bio-wrap p {
  text-align: left;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  margin: 0px;
}

.profile-player .detail-player .detail-wrap .bio-wrap p:first-child {
  width: 35%;
  font-weight: bold;
}

.profile-player .detail-player .detail-wrap .bio-wrap p:last-child {
  width: 65%;
}

.profile-player .detail-player .detail-wrap .bio-wrap:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.profile-player .detail-player .detail-wrap .number-wrap {
  margin-top: 15px;
}

.profile-player .detail-player .detail-wrap .number-wrap p {
  text-align: center;
  margin: 0px;
}

.profile-player .detail-player .detail-wrap .number-wrap p:first-child {
  font-size: 11px;
  font-family: "Noto Sans";
  color: #444;
}

.profile-player .detail-player .detail-wrap .number-wrap p:last-child {
  font-size: 35px;
  font-family: "Noto Sans";
  font-weight: 900;
  color: #444;
}

.team-player {
  margin: 40px 0px;
}

.team-player .empty {
  width: 100%;
  border: 2px dashed #aaa;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}

.team-player .empty p {
  width: 50%;
  margin: 0px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  float: left;
}

.team-player .empty p:first-child {
  text-align: left;
  padding-top: 10px;
}

.team-player .empty p:last-child {
  text-align: right;
}

.team-player .team-fill {
  width: 100%;
  background-color: #fff;
}

.team-player .team-fill .img-wrap {
  width: 170px;
  padding: 10px;
}

.team-player .team-fill .img-wrap a {
  margin-top: 10px;
  width: 100%;
}

.team-player .team-fill .bio-wrap {
  padding: 10px;
  width: 50%;
}

.team-player .team-fill .bio-wrap .tittle {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.team-player .team-fill .bio-wrap .city {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #aaa;
}

.team-player .team-fill .bio-wrap .desc {
  margin-top: 10px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.team-player .team-fill .team-wrap {
  overflow-y: scroll;
  width: calc(100% - 55% - 170px);
  height: 230px;
  border-left: 1px solid #ddd;
}

.result-search .team-visit {
  margin: 0 auto 15px;
}

.result-search .search-wrap {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin: 0px 0px 40px;
}

.result-search .inner-search {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.result-search .filter-search {
  padding: 20px;
}

.m-searchInput input {
  width: calc(100% - 40px);
  padding: 10px;
  line-height: 40px;
  height: 40px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  border-radius: 4px 0px 0px 4px;
  border: 1px solid #aaa;
  border-right: 0px;
}

.m-searchInput button {
  border: 0px;
  border-radius: 0px 4px 4px 0px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #47c8e6;
}

.m-searchInput button i {
  line-height: 40px;
  font-size: 14px;
  color: #fff;
}

.result-item {
  padding: 0px 5px;
  margin-bottom: 10px;
}

.create-team {
  margin-bottom: 20px;
}

.create-team .img-wrap {
  width: 150px;
}

.create-team .browse-wrap {
  width: calc(100% - 150px);
  padding-left: 10px;
}

.create-team .browse-wrap .link {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
}

.create-team .player-wrap {
  margin-bottom: 5px;
}

.create-team .text {
  font-family: "Noto Sans";
  font-size: 14px;
  color: #AAA;
  margin-bottom: 10px;
}

.create-team .result-player {
  margin-bottom: 15px;
}

.setting
{

  padding-top: 40px;
}

.tab-setting
{

  max-width: 600px;
  margin: auto;
}

.border-setting
{
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;

}

.setting
{

  padding-top: 40px;
}

.tab-setting
{

  max-width: 600px;
  margin: auto;
}

.border-setting
{
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #ddd;

}

.line-setting
{
  max-width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 20px;

}

.image-browse-setting {
  margin: 20px 0px;
}

.image-browse-setting input {
  display: none;
}

.image-browse-setting label {
  border: 1px solid #47c8e6;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.image-browse-setting label strong {
  width: 80px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #47c8e6;
}

.image-browse-setting label strong i, .image-browse-setting label strong span {
  color: #fff;
}

.image-browse-setting label p {
  width: calc(100% - 117px);
  margin: 0px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  padding: 5px;
}

.image-browse-setting label:hover {
  border-color: #1eb8dc;
}

.image-browse-setting label:hover strong {
  background-color: #1eb8dc;
}

.s-tittle.red {

 
  text-align: left;
  margin-bottom: 20px;
}

.s-tittle.red b {
  display: inline-block;
  font-size: 16px;
  font-family: "Noto Sans";
}


.team-setting .tittle {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.team-setting .city {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}