// BEGIN - ALL 

// Color
// fisrt blue = #47c8e6;
// first green = #38d184
$red: #ff5540;
$blue: #1874cd; /* blueDodger */
$green: #008000;
$yellow: #f8af4a;
$pink: #FFD2DA;
$pinkSoft: #FFF2F4;

$notoSans: "Noto Sans";
$monserat: "Montserrat";



@import "partial/mixin";
@import "partial/utilities";

// Other
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: $notoSans;
}

.clr{
    margin: 0;
    padding:0;
    clear:both;
}

.content{
    min-height: calc(100vh - 222px);
}

#footer{
    min-height: 120px;
}

.row{
    margin: 0px;
    padding: 0px;
    &:before{
        content:"";
        display: table;
    }
    &:after{
        content:"";
        display: table;   
        clear: both;
    }
}

.no-paddingX{
    padding-left: 0px;
    padding-right: 0px;
}

.no-padding{
    padding: 0px !important;
}
.no-margin{
    margin: 0px !important;
}

ul{
    list-style: none;
    margin:0px;
    padding: 0px;
}

select{
    background-color: white;
}

a{
    text-decoration: none;
    &:hover{
        text-decoration: none;
    }
    &:active{
        text-decoration: none;
    }
}

a[href]{
    transition:.2s;
    &:focus{
        outline-color: transparent;
    }
}

hr{
    width: 100%;
    height: 1px;
    background-color: #ddd;
}

.sticky{
    position: fixed !important;
}

.overlay{
    @include overlay;
}

.overlay-fix{
    @include overlay-fix;
}

.img-responsive{
    width: 100%;
    height: auto;
    border: 0;
}

.hidden, .hideit{
    display: none !important;
}

.dskt-hideit{
    display: none;
}

.showit{
    display: block;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

.transparent{
    opacity: 0;
}

.visible{
    opacity: 1;
}

.seeable{
    opacity: 1;
    visibility: visible;
    transition:.3s;
}

.unseeable{
    opacity: 0;
    visibility: hidden;
    transition:.3s;
}

// container
.clearfix::after{
    content: "";
    margin: 0;
    padding: 0;
    clear: both;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1080px;
    padding: 0px 10px;
    margin: 0 auto;
    &.grey{
        background-color: #f2f2f2;
    }
}

.conY{
    padding: 40px 0px;
}

.dual-container{
    width: 50%;
    position: relative;
    float: left;
}

.triple-container{
    width: 32%;
    position: relative;
    float: left;
    padding:5px;
}

.quad-container{
    width: 25%;
    position: relative;
    float: left;
}

.five-container{
    width: 20%;
    position: relative;
    float: left;
    padding:5px;
}

.center-container{
    float: none !important;
    display: inline-block !important;
}

.divhalf{
    width: 50%;
}

.divfull{
    width: 100%;
}

.coverleft{
    background-position: center left;
}
.coverright{
    background-position: center right;
}
.covercenter{
    background-position: center center;
}

.parentleft{
    text-align: left !important;
}
.parentright{
    text-align: right !important;
}
.parentcenter{
    text-align: center !important;
}

.body-absolute{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.body-fixed{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
}

.background-color{
    &.lightGrey{background-color: #f9f9f9;}
    &.grey{background-color: #f2f2f2;}
}

// Scrollable
.custom-scroll{
    &::-webkit-scrollbar {
        width: 3px;
        cursor:pointer;
    }
     
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    }
     
    &::-webkit-scrollbar-thumb {
      background-color: rgba(0,0,0, 0.2);
      outline: 1px solid #232323;
    } 
}

// Padding
.p10{
    padding: 10px;
}
.p10-lr{
    padding: 0px 10px;
}
.p5-lr{
    padding: 0px 5px;
}
// Margin
.m10-b{
    margin-bottom: 10px;
}
.m20-b{
    margin-bottom: 20px;
}
.m40-b{
    margin-bottom: 40px;
}
.m80-b{
    margin-bottom: 80px;
}


// END - ALL 

// BEGIN - STYLEGUIDE
// Heading
h1{
    font-size: 64px;
    color:#444;
    font-family: $monserat;
    margin:0px;
} 
h2{
    font-size: 32px;
    color:#444;
    font-family: $monserat;
    margin:0px;
    font-weight: 900;
} 
h3{
    font-size: 24px;
    color:#444;
    font-family: $notoSans;
    margin:0px;
} 
h4{
    font-size: 18px;
    color:#444;
    font-family: $notoSans;
    margin:0px;
} 
h5{
    font-size: 16px;
    color:#444;
    font-family: $notoSans;
    margin:0px;
} 
h6{
    font-size: 14px;
    color:#444;
    font-family: "tahoma";
    margin:0px;
} 

// Button
@mixin m-button($backColor){
    display: inline-block;
    padding: 8px 16px;
    border-radius:100px;
    font-size: 14px;
    color:#fff;
    background-color:$backColor;
    font-family: $notoSans;
    border:0px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    &:hover{
        color:#fff;
        box-shadow: 0px 4px 2px rgba(0,0,0, 0.2);
    }
}

@mixin l-button($backColor){
    display: inline-block;
    padding: 8px 16px;
    border-radius:100px;
    font-size: 14px;
    color:$backColor;
    border:2px solid $backColor;
    background-color:transparent;
    font-family: $notoSans;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
    transition:.4s;
    &:hover{
        transition:.4s;
        color: #fff;
        background-color: $backColor;
        box-shadow: 0px 2px 2px #ddd;
    }
}

.m-button{
    &.red{
        @include m-button($red);
    }
    &.blue{
        @include m-button($blue);
    }
    &.green{
        @include m-button($green);
    }
    &.yellow{
        @include m-button($yellow);
    }
    &.white{
        @include m-button(#fff);
        color:#444;
    }
}


.l-button{
    &.red{
        @include l-button($red);
    }
    &.blue{
        @include l-button($blue);
    }
    &.green{
        @include l-button($green);
    }
    &.yellow{
        @include l-button($yellow);
    }
    &.black{
        @include l-button(#444);
    }
    &.white{
        @include l-button(#fff);
    }
}

.full-button{
    display: block;
    width: 100%;
    line-height: 40px;
    height: 40px;
    color:#444;
    font-size: 14px;
    font-family: $notoSans;
    border-radius: 2px;
    background-color: #fff;
    text-align: center;
    border:1px solid #ddd;
}

.dbl-button{
    .l-button, 
    .m-button{
        width: 48%;
        &:first-child{
            border-top-right-radius:0px;
            border-bottom-right-radius:0px;
        }
        &:last-child{
            border-top-left-radius:0px;
            border-bottom-left-radius:0px;
        }
    }
}

// Tittle
@mixin l-tittle($color){
    width: 100%;
    border-bottom: 2px solid $color;
    text-align: left;
    margin-bottom: 20px;
    span{
        display: inline-block;
        padding: 5px 10px;
        background-color: $color;
        color:#fff;
        font-size: 18px;
        min-width: 100px;
        text-align: center; 
        font-family: $notoSans;
    }
}

.l-tittle{
    &.red{
        @include l-tittle($red);
    }
    &.blue{
        @include l-tittle($blue);
    }
    &.yellow{
        @include l-tittle($yellow);
    }
    &.green{
        @include l-tittle($green);
    }
}

.m-tittle{
    font-size: 32px;
    font-family: $monserat;
    font-weight: 700;
    color:#444;
    margin-bottom: 20px;
    &:after{
        content: "";
        display:block;
        width: 30px;
        height: 5px;
        background-color: #444;
    }
}

// -----> for text have icon
.icon-text{
    i{
        font-size: 14px;
        margin-right: 8px;
    }
    span{
        font-family: $notoSans;
        font-size: 14px;
    }
    &.black{
        i, span{
            color:#444;
        }
    }
    &.grey{
        i, span{
            color:#aaa;
        }
    }
}

// -----> Available Match List
.available-list{
    padding: 10px;
    border:1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
    .img-wrap{
        border-radius: 2px;
        overflow:hidden;
        width: 60px;
        margin-right: 10px;
        img{
            width: 100%;
            height: auto;
        }
    }
    .data-wrap{

    }
    .button-wrap{
        padding-top: 14px;
    }
}

// -----> Upcoming Match List
.upcoming-list{
    border:1px solid #ddd;
    border-radius: 2px;
    background-color: #fff; 
    .top-wrap{
        padding: 10px;
        border-bottom: 1px solid #ddd;
        position: relative;
        .team-wrap{
            width:calc(50% - 11px);
            overflow: hidden;
            &.left{
                text-align: left;
                img{
                    margin-right: 5px; 
                }
            }
            &.right{
                text-align: right;
                img{
                    margin-left: 5px; 
                }
            }
            img{
                width: 30px;
                border-radius:2px;
                display: inline-block;
            }
            a{
                color:#444;
                font-size: 14px;
                font-weight: 700;
                font-family: $notoSans;
                white-space: nowrap;
                text-overflow: ellipsis; 
                display: inline-block;
                width: calc(100% - 40px);
            }
        }
        span{
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            padding: 13px 5px 12px;
            border: 1px solid #ddd;
            border-top: 0px;
            color:#444;
            font-size: 18px;
            font-family: $notoSans;
            background-color: #fff;
        }
    }
    .bottom-wrap{
        padding: 5px;
        text-align: center;
        height: 50px;
        p{
            color:#444;
            font-size: 12px;
            font-family: $notoSans;
            margin-bottom: 5px;
        }
        .score-wrap{
            width: 50%;
            color:#444;
            font-weight: 700;
            font-size: 20px;
            font-family: $notoSans;
        }
    }
}


// -----> Klasemen table
.klasemen-table{
    width: 100% !important;
    border:1px solid #ddd;
    border-radius: 2px;
    background-color: #fff;
    &.gender-man{
        tbody tr{
            &:nth-child(even){
                background-color: #f9f9f9;
            }
        }
    }
    &.gender-woman{
        tbody tr{
            &:nth-child(even){
                background-color: $pinkSoft;
            }
        }
    }
    thead{
        td{
            padding: 5px 10px;
            color:#444;
            font-size: 14px;
            font-family: $notoSans;
            border-bottom:1px solid #ddd;
        }
    }
    tbody{
        td{
            padding: 10px;
            color:#444;
            font-size: 14px;
            font-family: $notoSans;
            border:0px;
            img{
                width: 30px;
            }
            span{
                font-weight: 700;
                color:#444;
                font-size: 14px;
                font-family: $notoSans;
            }
            &:first-child{
                text-align: center;
            }
        }
    }
}

.custom-dataTable{
    .dataTables_paginate.paging_simple_numbers{
        width: 100%;
        text-align: center;
        padding-top: 20px; 
        a{
            border:0px;
            background:none !important;
            color:#444;
            font-size: 14px;
            font-family: $notoSans;
            background-color: transparent;
            &:hover{
                color:#444 !important;
                border:0px;
                border-bottom: 2px solid $blue;
            }
            &.current{
                color:#444 !important;
                border:0px;
                border-bottom: 2px solid $blue;
                &:hover{
                    color:#444 !important;
                    border:0px;
                    border-bottom: 2px solid $blue;
                }
            }
            &.paginate_button.disabled{
                opacity: 0;
            }
        }
    }
    .dataTables_filter{
        width: 100%;
        text-align: center;
        label{
            display: block;
            color:#444;
            font-size: 14px;
            font-family: $notoSans;
            input{
                display: inline-block;
                line-height: 40px;
                height: 40px;
                max-width: 300px;
                width: 100%;
                border:1px solid rgba(0,0,0, 0.1);
                padding: 0px 10px;
                border-radius: 4px;
            }
        }
    }
}

// -----> Main All Tabs 
.m-allTabs{
    margin: 40px 0px 10px;
    .tabs-wrap{
        width: 100%;
        border-bottom: 1px solid #aaa;
        li{
            display: inline-block;
            a{
                display: inline-block;
                padding: 10px;
                font-family: $notoSans;
                font-size: 14px;
                color: #444;
                &.active{
                    font-weight: 700;
                    position: relative;
                    &:before{
                        position: absolute;
                        content: "";
                        display: block;
                        width: 100%;
                        height: 4px;
                        bottom:-2px;
                        left: 0;
                        right: 0;
                    }
                    &.blue:before{
                        background-color: $blue;
                    }
                    &.yellow:before{
                        background-color: $yellow;
                    }
                    &.red:before{
                        background-color: $red;
                    }
                    &.green:before{
                        background-color: $green;
                    }
                }
                &:active,&:focus{
                    text-decoration: none;
                }
            }
        }
    }
}

// -----> Player Card
.player-visit{
    width: 100%;
    background-color: #fff;  
    border-radius: 4px;
    border: 1px solid rgba(0,0,0, 0.1);
    padding: 10px;
    position: relative;
    .number{
        @include box-center-V;
        right: 20px;
        left: auto;
        text-align: center;
        div:first-child{
            font-size: 10px;
            font-weight: 400;
        }
        div{
            font-weight: 900;
            font-size: 20px;
        }
    }
    .bio{
        width: calc(100% - 110px);
        padding-left: 10px;
        text-align: left;
        p{
            margin: 0px;
        }
        p:first-child{
            font-family: $notoSans;
            font-size: 14px;
            font-weight: bold;
            color: #444;
            padding-top: 10px;
        }
        p:last-child{
            font-family: $notoSans;
            font-size: 12px;
            color: #aaa;
        }
    }
    .btn-wrap{
        width: 50px;
        .icon{
            position: absolute;
            top:50%;
            right: 20px;
            transform:translateY(-59%);
            display: inline-block;
            i{
                font-size: 20px;
                color: #aaa;
            }
            &:focus{
                text-decoration: none;
            }
        }
    }
}

// -----> Team Card
.team-visit{
    width: 100%;
    border-radius:4px;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0, 0.12);
    padding: 20px;
    max-width: 250px;
    text-align: center;
    .img-wrap{
        display: block;
        width: 100%;
        overflow: hidden;
        border-radius: 4px;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    .tittle{
        font-family: $notoSans;
        font-size: 16px;
        font-weight: 700;
        color: #444;
        margin: 10px 0px 5px;
        width: 100%;
    }
    .city{
        font-family: $notoSans;
        font-size: 14px;
        color: #444;
        margin-bottom:20px;
    }
    a{
        width: 100%;
    }
}

// -----> Main Pagination
.oper-paging{
    width: 100%;
    text-align: center;
    padding: 20px 0px 40px;
    ul{
        li{
            display: inline-block;
            a{
                padding: 10px;
                font-size: 14px;
                color: #444;
                font-family: $notoSans;
                border-bottom:2px solid transparent;
                &.active{
                    border-color:  $blue;
                }
                &:hover{
                    border-color: lighten($blue, 10%);
                }
            }
        }
    }
}

// Universal Radio Button
.radio-wrap{
    cursor: pointer;
    margin-right: 10px;
    input{
        display: none;
    }
    .radio-box{
        display: inline-block;
        border:1px solid rgba(0,0,0, 0.1);
        border-radius:4px;
        padding: 5px;
        span{
            display: block;
            margin-right: 5px;
            width: 20px;
            position: relative;
            height: 20px;
            border:1px solid rgba(0,0,0, 0.12);
            background-color:rgba(0,0,0, 0.05);
            float: left;
            border-radius: 2px;
        }
        p{
            margin:0px;
            float: left;
            width: calc(100% - 25px);
            display: block;
            font-family: $notoSans;
            font-size: 14px;
            color: #444;
        }
    }
    &.active{
        .radio-box{
            span:before{
                content: "";
                display: block;
                width: 12px;
                height: 12px;
                border-radius:2px;
                position: absolute;
                top:50%; left:50%;
                transform:translate(-50%,-50%);
                background-color: $blue;
            }
        }
    }
}

// For All Image Section
.m-image{
    position: relative;
    border-radius:4px;
    border:2px solid $blue;
    background-color:lighten($blue, 30%);
    margin: 0 auto;
    overflow: hidden;
    i{
        position: absolute;
        font-size: 18px;
        color:$blue;
        top:50%; left:50%;
        transform:translate(-50%,-50%);
    }
    img{
        width: 100%;
    }
    &.no-border{
        border:0px;
    }
    &.md{
        width: 250px;
        height: 250px;
    }
    &.sm{
        width: 150px;
        height: 150px;
    }
    &.xs{
        width: 60px;
        height: 60px;
    }
    &.cropper{
    	img{
    		max-width: 100%;
    		width: auto;
    	}
    }
}

.r-image{
    width: 100%;
    position: relative;
    border-radius:4px;
    // border:2px solid $blue;
    background-color:lighten($blue, 30%);
    overflow: hidden;
    .inner-image{
        position: absolute;
        top:0; 
        left:0;
        bottom: 0;
        right: 0;
        z-index: 2;
        img{
            width: 100%;
            height: auto;
        }
        .bg-image{
            width: 100%;
            height: 100%;
            background-size:cover;
            background-position: center center;
            background-repeat: no-repeat;            
        }
    }
    &:before{
        content: "";
        display: block;
        padding-top: 100%;
    }
}

// -----> For All Modals Popup
.m-modals{
    position: fixed;
    top: 0; left: 0;
    bottom: 0; right: 0;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition:.4s;
    &.active{
        opacity: 1;
        visibility: visible;
        transition:.4s;
        .modal-wrap{
            transition:.6s;
            transform:translate(-50%,-50%);
            transition-delay:.2s;
        }
    }
    .background-wrap{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 3;
        background-color:rgba(0,0,0, 0.8);
    }
    .modal-wrap{
        transition:.6s;
        transition-delay:.2s;
        width: 100%;
        max-width: 400px;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-30%);
        background-color: #fff;
        border-radius: 4px;
        overflow: hidden;
        z-index: 4;
        .tittle{
            padding: 20px 20px 10px;
            font-size: 18px;
            font-family: $monserat;
            color: #444;
            text-align: center;
            border-bottom: 1px solid rgba(0,0,0, 0.2);
        }
        .body{
            padding: 10px 20px;
            .desc{
                font-family: $notoSans;
                color: #444; 
                margin: 5px 0px;
                text-align: justify;
                &.sm{
                    font-size: 12px;
                }
                &.md{
                    font-size: 14px;
                }
                &.lg{
                    font-size: 16px;
                }
            }
            input{
                line-height: 40px;
                height: 40px;
                width: 100%;
                border-radius:4px;
                border:1px solid #aaa;
                padding: 0px 10px;
                font-size: 14px;
                font-family: $notoSans;
                color: #444; 
            }
            textarea{
                border:1px solid #aaa;
            }
        }
        .single-icon{
            width: 100%;
            text-align: center;
            font-size: 72px;
            &.success{
                color:$green;
            }
            &.failed{
                color:$red;
            }
        }
        .foot{
            border-top: 1px solid rgba(0,0,0, 0.2);
            padding: 10px 20px 20px;
            text-align: center;
            .half{
                width: 50%;
                float: left;
                padding: 0px 5px;
            }
            .full{
                width: 100%;
            }
        }
    }

}

// -----> For Mobile Navigation Tabs
.mobile-tabs-content{
    width: 100%;
    ul{
        li{
            float: left;
            border-right: 1px solid #ddd;
            border-bottom:1px solid #ddd;
            &:last-child{
                border-right: 0px;
            }
            a{
                cursor: pointer;
                display: block;
                padding: 15px 0px; 
                font-family: $notoSans;
                font-size: 12px;
                width: 100%;
                color:#444;
                &.active{
                    position: relative;
                    font-weight: 900;
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        height: 2px;
                        background-color: $yellow;
                    }
                }
            }
        }
    }
}

// -----> Width
.w-10{
    width: 10%;
}
.w-20{
    width: 20%;
}
.w-quad{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-triple{
    width: 33.33%;
}
.w-40{
    width: 40%;
}
.w-half{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.w-full{
    width: 100%;
}

// Position
.pos-relative{
  position: relative;
}
.pos-absolute{
  position: absolute;
}
.pos-fixed{
  position: fixed;
}

// -----> Width
// END - STYLEGUIDE

// BEGIN - CUSTOM PLUGIN CSS
// -------> Cropper
.cropper-nav{
	width: 100%;
	background-color: $blue;
	border-radius: 4px;
	margin: 10px 0px;
	a{
		display: inline-block;
		float: left;
		width: 16.6%;
		height: 40px;
		position: relative;
		border-right: 1px solid rgba(255,255,255, 0.5);
		&:last-child{
			border-right: 0px;
		}
		&:hover{
			background-color: rgba(0,0,0, 0.1);
		}
		i{
			@include itemCenter;
			font-size: 14px;
			color:#fff;
		}
	}
}

// -------> Dropzone
.dropzone{
	border:2px dashed #ddd;
	position: relative;
	.dz-default{
		margin:0px;
		position: absolute;
		top:50%;
		left:50%;
		transform:translate(-50%,-50%);
	}
	.dz-preview.dz-error .dz-error-message{
		display:none;
	}
}

// -------> Slick
.slick-slider{
    position: relative;
    .slick-arrow{
        position: absolute;
        top:50%;
        transform:translateY(-50%);
        cursor: pointer;
        z-index: 3;
        i{
            font-size: 50px;
            color:#fff;
        }
        &.arrow-left{left: 10px;}
        &.arrow-right{right: 10px;}
    }
}

// -------> Chosen
.chosen-container{
    width: 100% !important;
    .chosen-single{
        padding-right: 30px;
        line-height: 40px;
        height: 40px;
        background: none;
        background-color: #fff;
        border: 1px solid #ddd;
        span{
            color: #444;
            font-family: $notoSans;
            font-size: 14px;
        }
        div{
            width: 30px;
        }
        b{
            display: block;
            width: 100%;
            height: 100%;
            background-image: url(../images/png/icon-arrowDown.png)  !important;
            background-repeat: no-repeat !important;
            background-position: center right 10px !important;
            background-size: 20px !important;
            opacity: .7; 
        }
    }
    &.chosen-with-drop .chosen-single{
        background: none;
        background-color: #fff;
    }
    .chosen-drop{
        border-radius: 4px;
        margin-top:10px;
        overflow:hidden;
        border: 1px solid #ddd;
        .chosen-search{
            padding: 0px;
            input{
                padding: 8px;
                border:0px;
                border-bottom-left-radius:0px !important;
                border-bottom-right-radius:0px !important;
                border-bottom: 1px solid #ddd !important;
                // background-image: url(../img/assets/Icon-Search.svg);
                background-repeat: no-repeat;
                background-position: center left 10px; 
                padding-left: 30px; 
            }
        }
        .chosen-results{
            margin: 0px;
            padding: 0px;
            &::-webkit-scrollbar {
                width: 3px;
                cursor:pointer;
            }
             
            &::-webkit-scrollbar-track {
                -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
            }
             
            &::-webkit-scrollbar-thumb {
              background-color: rgba(0,0,0, 0.2);
              outline: 1px solid #444;
            } 
            li{
                padding: 8px;
                &.active-result{
                    font-size: 14px;
                    font-family: $notoSans;
                    color:#444;
                    padding-left: 20px;
                    font-weight: 400;
                }
                &.group-result{
                    font-size: 14px;
                    font-family: $notoSans;
                    color:#aaa;
                }
                &.highlighted{
                    background-color: $blue;
                    color:#fff;
                    background-image: none;
                }
            }
        }
    }
}

// -------> Datepicker
/* DatePicker Container */
.ui-datepicker {
    width: 370px;
    height: auto;
    margin:0px;
    font: 15px $notoSans;
    background-color: white;
}
.ui-datepicker a {
    text-decoration: none;
}
/* DatePicker Table */
.ui-datepicker table {
    width: 100%;
    border-spacing: 0px;
    border-top:1px solid #aaa;
    margin-top: 15px; 
}
.ui-datepicker-header {
    position: relative;
    color: #444;
    font-weight: bold;
    box-shadow: inset 0px 1px 1px 0px rgba(250, 250, 250, .2);
    text-shadow: 1px -1px 0px #000;
    filter: dropshadow(color=#000, offx=1, offy=-1);
    line-height: 30px;
    .ui-datepicker-month{
        margin-right: 10px;
    }
}
.ui-datepicker-title {
    text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    cursor: pointer;
    width: 30px;
    height:50px;
    background-repeat: no-repeat;
    background-position: center center !important; 
    span{
        display: none;
    }
}
.ui-datepicker-prev {
    float: left;
    background-image: url(../images/png/icon-arrowLeft.png) !important;
    background-size: 20px;
}
.ui-datepicker-next {
    float: right;
    background-image: url(../images/png/icon-arrowRight.png) !important;
    background-size: 20px;
    
}
.ui-datepicker thead {
    border:0px;
    margin: 0px;
    padding: 0px;
    tr{
        border:0px;
        margin: 0px;
        padding: 0px;
        th{
            font-size: 6pt;
            padding: 5px 0;
            text-align: center;
            color: #666666;
            text-shadow: 1px 0px 0px #fff;
            filter: dropshadow(color=#fff, offx=1, offy=0);
            font:14px $notoSans;
            padding-top: 15px;
        }
    }
}

.ui-datepicker td span, .ui-datepicker td a {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    color: #666666;
    text-shadow: 1px 1px 0px rgba(0,0,0, 0.1);
    // filter: dropshadow(color=#fff, offx=1, offy=1);
}

.ui-datepicker-header .ui-datepicker-year,
.ui-datepicker-header .ui-datepicker-month{
    padding: 5px;
    border:1px solid rgba(0,0,0, 0.2);
    border-radius:4px;
    margin-top: 8px;
} 

.ui-datepicker td, .ui-datepicker th{
    padding: 8px;
}
.ui-datepicker-calendar .ui-state-default {
    // background: #ededed;
    // background: -moz-linear-gradient(top,  #ededed 0%, #dedede 100%);
    // background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(100%,#dedede));
    // background: -webkit-linear-gradient(top,  #ededed 0%,#dedede 100%);
    // background: -o-linear-gradient(top,  #ededed 0%,#dedede 100%);
    // background: -ms-linear-gradient(top,  #ededed 0%,#dedede 100%);
    // background: linear-gradient(top,  #ededed 0%,#dedede 100%);
    // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#dedede',GradientType=0 );
    // -webkit-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    // -moz-box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
    // box-shadow: inset 1px 1px 0px 0px rgba(250, 250, 250, .5);
}
.ui-datepicker-calendar .ui-state-hover {
    background: rgba(0,0,0, 0.03);
    border-radius:100px;
}
.ui-datepicker-today .ui-state-default{
    border-radius:100px;
    position: relative;
    color: $blue;
}

.ui-datepicker .ui-datepicker-unselectable .ui-state-default{
    background-color: transparent;
    color:rgba(0,0,0, 0.4);
}

.ui-datepicker-calendar .ui-state-active {
    border-radius:100px;
    background-color: $blue;
    color:#fff;
}
.ui-datepicker-unselectable .ui-state-default {
    background: #f4f4f4;
    color: #b4b3b3;
}
.ui-datepicker-calendar td:first-child .ui-state-active {
    width: 29px;
    margin-left: 0;
}
.ui-datepicker-calendar td:last-child .ui-state-active {
    width: 29px;
    margin-right: 0;
}
.ui-datepicker-calendar tr:last-child .ui-state-active {
    height: 29px;
    margin-bottom: 0;
}

.home-datepick{
    background-image: url(../img/assets/Icon-Arrow-Down.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
}

#ui-datepicker-div{
    background-color: transparent;
    // padding: 10px;
    .ui-datepicker-header{
        border-radius: 4px 4px 0px 0px;
        background-color: #fff;
        box-shadow: 0px -1px 2px rgba(0,0,0, 0.5);
        padding-bottom: 10px;
    }
    table{
        margin: 0px;
        border-radius: 0px 0px 4px 4px;
        background-color: #fff;
        box-shadow: 0px 1px 2px rgba(0,0,0, 0.5);
        padding-bottom: 10px;
    }
}

// -------> Plugin jRange for range slider
.slider-container.theme-green{
    margin: 20px auto;
    width: 100% !important;
    max-width: 290px;
    .back-bar{
        height: 10px;
        background-image: none;
        background-color: #fff;
        border:1px solid #ddd; 
        .pointer{
            top:-6px;
            width: 20px;
            height: 20px;
        }
    }
    .selected-bar{
        background-color: $blue !important;
        background-image: none !important;
    }
}

// -------> Chosen
// END - CUSTOM PLUGIN CSS

// BEGIN - HEADER
#header{
    width: 100%;
    position: relative;
    padding: 15px 20px;
    border-bottom: 5px solid $yellow;
    &:before{
        content: "";
        display: block;
        width: 32%;
        height: 5px;
        background-color: $blue;
        position: absolute;
        bottom: -5px;
        left: 0;
    }
    &:after{
        content: "";
        display: block;
        width: 32%;
        height: 5px;
        background-color: $red;
        position: absolute;
        bottom: -5px;
        left: 32%;
    }
    .logo{
        img{
            height: 50px;
        }
    }
    &.head-absolute{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99
    }
    &.sticky{
        position: fixed;
        background-color: #fff;
        z-index: 99;
        .menu-wrap ul li a{
            color:#444;
        }
        .nav-wrap a{
            @include l-button(#444);
        }
    }
    .menu-wrap{
        text-align: center;
        position: absolute;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        ul{
            li{
                display: inline-block;
                a{
                    font-family: "Noto Sans";
                    font-weight: 400;
                    font-size: 14px;
                    color:#444;
                    padding: 0px 20px;
                }
                .submenu{
                    position: absolute;
                    top:70px;
                    left: 0;
                    width: 150px;
                    background-color: #fff;
                    border:1px solid rgba(0,0,0, 0.1);
                    transform:translateY(20px);
                    visibility: hidden;
                    opacity: 0;
                    transition: .4s;
                    &.active{
                        opacity: 1;
                        visibility: visible;
                        transform:translateY(0px);
                        transition: .4s;
                    }
                    &:after{
                        content: "";
                        border-left:10px solid transparent;
                        border-right:10px solid transparent;
                        border-bottom:12px solid #fff;
                        display: block;
                        position: absolute;
                        top: -10px;
                        left: 30px;
                    }
                    &:before{
                        content: "";
                        border-left:10px solid transparent;
                        border-right:10px solid transparent;
                        border-bottom:12px solid rgba(0,0,0, 0.1);
                        display: block;
                        position: absolute;
                        top: -12px;
                        left: 30px;
                    }
                    li {
                        width: 100%;
                        a{
                            width: 100%;
                            display: block;
                            padding: 10px;
                        }
                    }      
                }
            }
        }
    }
    .nav-wrap{
        text-align:right;
        padding-top:5px;
        a{
            @include l-button(#444);
        }
    }
    &.header-login{
        padding: 0px;
        .logo{
            padding: 15px 20px;
            padding-right: 0px;
            img{
                height: 30px;
            }
        }
        .userNav-wrap{
            li{
                position: relative;
                float: right;
                .user-head{
                    cursor: pointer;
                    display: block;
                    padding: 15px 20px;
                    border-left: 1px solid #ddd;
                    img{
                        width: 30px;
                        display: inline-block; 
                        margin-right: 8px;
                        border-radius:2px;
                    }
                    span{
                        font-family: $notoSans;
                        font-size: 14px;
                        color:#444;
                        font-weight: 700;
                    }
                    &:hover{
                        span{color:$blue;}
                    }
                }
                .notification{
                    cursor: pointer;
                    width: 60px;
                    height: 60px;
                    display: block;
                    border-left: 1px solid #ddd;
                    position: relative;
                    &.notif-point{
                        &:before{
                            content:attr(data-amount);
                            display: block;
                            text-align: center;
                            border-radius:100%;
                            width: 20px;
                            height: 20px;
                            line-height: 20px;
                            background-color:$red;
                            color:#fff;
                            position: absolute;
                            top: 7px;
                            right: 8px;
                            z-index: 99;
                            font-size:11px;
                        }
                    }
                    i{
                        position: absolute;
                        top:50%;
                        left:50%;
                        transform:translate(-50%, -50%);
                        font-size: 25px;
                        color: #444;
                    }
                    &:hover i{
                        color:$blue;
                    }
                }
            }
            .dropdown-head{
                position: absolute;
                width: 200px;
                background-color:#fff;
                top:60px;
                right:0px;
                border:1px solid #ddd;
                display: block;
                z-index: 99;
                transform:translateY(10px);
                opacity: 0;
                visibility: hidden;
                transition:.4s;
                &.active{
                    transform:translateY(0px);
                    opacity: 1;
                    visibility: visible;
                    transition:.4s;
                }
                li{
                    width: 100%;
                    border-bottom: 1px solid #ddd;
                    text-align: left;
                    a{
                        padding: 10px;
                        display: block;
                        &.active .icon-text{
                            i,span{
                                color: $blue;
                            }
                        }
                    }
                    &:hover .icon-text{
                        i,span{
                            color: $blue;
                        }
                    }
                }
            }
        }
    }
}
.notification-box{
    padding: 10px;
    &.new{background-color: lighten($blue, 50%);}
    &.black{
        .point span{background-color: #444;}
        .desc-wrap a{
            color:#444;
            &:hover{
                color:lighten(#444, 10%);
            }
        }
    }
    &.yellow{ 
        .point span{background-color: $yellow;}
        .desc-wrap a{
            color:$yellow;
            &:hover{
                color:lighten($yellow, 10%);
            }
        }
    }
    &.green{ 
        .point span{background-color: $green;}
        .desc-wrap a{
            color:$green;
            &:hover{
                color:lighten($green, 10%);
            }
        }
    }
    &.blue{ 
        .point span{background-color: $blue;}
        .desc-wrap a{
            color:$blue;
            &:hover{
                color:lighten($blue, 10%);
            }
        }
    }
    &.red{ 
        .point span{background-color: $red;}
        .desc-wrap a{
            color:$red;
            &:hover{
                color:lighten($red, 10%);
            }
        }
    }
    .point{
        width: 15px;
        padding-top: 5px;
        span{
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 100px;
        }
    }
    .desc-wrap{
        width: calc(100% - 15px);
        a{
            color:$blue;
            font-weight: 700;
            &:hover{
                color:lighten($blue, 10%);
            }
        }
        .tittle{
            font-family: "Noto Sans";
            font-weight: 400;
            font-size: 14px;
            color:#444;
        }
        .date{
            font-family: "Noto Sans";
            font-weight: 400;
            font-size: 12px;
            color:#aaa;
        }
    }
}
// END - HEADER

// BEGIN - FOOTER
#footer{
    width:100%;
    height:auto;
    .foot-top{
        background-color: #444;
        padding: 30px 0px 0px;
    }
    .foot-bottom{
        background-color: #444;
        padding: 20px 0px;
        .sosmed-wrap{
            width: 60%;
            ul{
                li{
                    display: inline-block;
                    width: 20px;
                    margin-right: 10px; 
                    svg, img{
                        width: 100%;
                        height: auto;
                        path{
                            fill:#fff;
                        }
                    }
                }
            }
        }
        .copyright{
            width: 40%;
            font-family: "Noto Sans";
            font-size: 14px;
            color:#fff;
            text-align: right;
        }
    }
    .logo{
        @include box-center;
        display: block;
        width: 100%;
        max-width: 150px;
        height: 100%;
        margin: 0px auto;
        img{
            width: 100%;
        }
    }
    .link-wrap{
        width: 100%;
        text-align: center;
        border-bottom:2px solid #fff;
        ul{
            li{
                display: inline-block;
                padding: 10px;
                a{
                    font-family: "Noto Sans";
                    font-weight: 400;
                    font-size: 14px;
                    color:#fff; 
                }
                &:last-child{
                    padding-bottom: 0px;
                }
                &:first-child{
                    padding-top: 0px;
                }
            }
        }
    }
}
// END - FOOTER

// BEGIN - HOME
// -----> Hero
.hero-wrap{
    width: 100%;
    height: calc(100vh - 85px);
    .slick-list{
        height:100%;
        .slick-track{
            height: 100%;
        }
    }
    .hero-image{
        width: 100%;
        height: 100%;
        position: relative;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .inner{
            text-align: center;
            z-index: 2;
            position: absolute;
            top:50%;
            left: 50%;
            transform:translate(-50%, -50%);
            h1{
                margin-bottom: 10px;
                color: #444;
            }
            p{
                font-family: $notoSans;
                font-size: 20px;
                color: #444;
                margin-bottom: 20px;
            }
            a{
                margin: 0px 10px;
                font-size: 16px; 
            }
            &.font-black{
                h1,p{
                    color:#222;
                }
            }
            &.font-white{
                h1,p{
                    color:#fff;
                }
            }
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            top:0;
            right: 0; 
            bottom: 0;
            left: 0;
            background-color: rgba(0,0,0, 0);
        }
    }
}

// -----> Data Table
.home-klasemen-wrap{
    padding: 40px 0px;
    .available-wrap{
        margin-bottom: 20px;
    }
    .available-list, .upcoming-list{
        margin-bottom: 5px;
    }
}

.home-tabel-match{
    .dual-container{
        &:first-child{padding-right: 5px;}
        &:last-child{padding-left: 5px;}
    }
}

// -----> Klasemen
.klasemen-wrap{
    .tabs-wrap{
        width: 100%;
        border-bottom: 1px solid #aaa;
        margin-bottom: 10px;
        li{
            display: inline-block;
            a{
                display: inline-block;
                padding: 10px;
                font-family: $notoSans;
                font-size: 14px;
                color: #444;
                &.active{
                    font-weight: 700;
                    position: relative;
                    &:before{
                        position: absolute;
                        content: "";
                        display: block;
                        width: 100%;
                        height: 4px;
                        bottom:-2px;
                        left: 0;
                        right: 0;
                    }
                    &.pink:before{
                        background-color:$pink;
                    }
                    &.grey:before{
                        background-color:#aaa;
                    }
                }
            }
        }
    }
    .full-button{
        border-radius: 0px;
    }
}

// -----> Banner Ads
.banner-ads{
    padding: 0px 0px 40px;
    .banner-image{
        @include auto-height(15%);
    }
}

// -----> News
.home-news{
    padding: 40px 0px;
    .news-wrap{
        @include auto-height(100%);
        &:after{
            content: "";
            display: block;
            position: absolute;
            top:0; left:0;
            right: 0; bottom:0;
            z-index: 3;
            background-color: rgba(0,0,0, 0.3);
        }
    }
    .news-box{
        overflow: hidden;
        border-radius: 2px;
        padding:0px 5px;
        .news-read{
            position: absolute;
            top:50%;
            left: 0px;
            width: 100%;
            transform:translateY(-50%);
            text-align: center;
            padding:0px 10px;
            z-index: 4;
            .tags{
                padding: 5px 16px;
                border-radius: 4px;
                display: inline-block;
                color:#fff;
                font-family: $notoSans;
                font-size: 12px;
                margin-bottom: 10px;
                &.red{background-color: $red;}
                &.blue{background-color: $blue;}
                &.yellow{background-color: $yellow;}
                &.green{background-color: $green;}
            }
            .tittle{
                font-family: $notoSans;
                font-weight: 700;
                font-size: 16px;
                color: #fff;
            }
        }
    }
}
// END - HOME

// BEGIN - LOGIN

.sign-wrap{
    width: 100%;
    max-width: 400px;
    margin:80px auto;
    border:1px solid #ddd;
    background-color:#fff;
    .tabs-wrap{
        width: 100%;
        border-bottom: 1px solid #ddd;
        a{
            display: inline-block;
            text-align: center;
            width: 49%;
            line-height: 40px;
            height: 40px; 
            font-family: $notoSans;
            font-size: 14px;
            color: #444;
            border-bottom: 3px solid transparent;
            &.active{
                border-bottom: 3px solid $yellow;
            }
        }
    }
    .content-wrap{
        padding: 20px;
    }
}

.sign-wrap2{
    margin:80px auto;
    max-width: 800px;
    .inner{
        margin-top: 20px;
        width: 100%;
        border:1px solid #ddd;
        background-color:#fff;
        padding: 20px;
    }
    .half{
        width: 50%;
        float: left;
        &:first-child{padding-right: 5px;}
        &:last-child{padding-left: 5px;}
    }
}

.form-section{
    margin-bottom:10px;
    label{
        display: block;
        margin-bottom: 5px;
        font-family: $notoSans;
        font-size: 14px;
        color: #444;
    }
    textarea, input[type="text"], input[type="password"], .select{
        border:1px solid #ddd;
        width: 100%;
        border-radius:4px;
        padding: 10px;
        font-family: $notoSans;
        font-size: 14px;
        color: #444;
    }
    textarea{
        height:150px;
    } 
    &.error{
        input, textarea{
            border-color:$red;
        }
        .error-state{
            font-family: $notoSans;
            font-size: 12px;
            color: $red;
            width: 100%;
            text-align: left;
            display: block;
        }
    }
    .error-state{
        display: none;
    }
    .half{
        width: 50%;
        float: left;
        &:first-child{padding-right: 5px;}
        &:last-child{padding-left: 5px;}
    }
    
    button{
        margin-top: 40px;
    }
}




.image-browse{
    margin: 20px 0px;
    input{
        display: none;
    }
    label{
        border:1px solid $blue;
        border-radius: 4px;
        width: 100%;
        cursor: pointer;
        strong{
            width: 117px;
            display: inline-block;
            padding: 5px 10px;
            background-color: $blue;
            i, span{
                color:#fff;
            }
        }
        p{
            width: calc(100% - 117px);
            margin: 0px;
            font-family: $notoSans;
            font-size: 14px;
            color: #444;
            padding: 5px;
        }
        &:hover{
            border-color: darken($blue, 10%);
            strong{
                background-color: darken($blue, 10%);
            }
        }
    }
}
// END - LOGIN

// BEGIN - PLAYER 
.profile-player{
    margin-top: 40px;
    .img-player{
        position: relative;
        width:200px;
        height: 200px;
        border-radius:4px;
        border-radius:4px;
        border:2px solid $blue;
        background-color:lighten($blue, 30%);
        margin: 0 auto;
        overflow: hidden;
        i{
            position: absolute;
            font-size: 21px;
            color:$blue;
            top:50%; left:50%;
            transform:translate(-50%,-50%);
        }
        img{
            width: 100%;
        }
    }
    .detail-player{
        width: calc(100% - 200px);
        padding-left: 20px;
        .detail-wrap{
            border-radius: 2px;
            background-color: #fff;
            box-shadow: 0px 0px 2px rgba(0,0,0, 0.1);
            padding: 15px 10px;
            .bio-wrap{
                border-bottom: 1px solid rgba(0,0,0, 0.1);
                padding-bottom: 5px;
                margin-bottom: 5px;
                p{
                    
                    text-align: left;
                    font-family: $notoSans;
                    font-size: 14px;
                    color: #444;
                    margin: 0px;
                    &:first-child{width: 35%; font-weight: bold;}
                    &:last-child{width: 65%;}
                }
                &:last-child{
                    border-bottom: 0px;
                    padding-bottom: 0px;
                    margin-bottom: 0px;
                }
            }
            .number-wrap{
                margin-top: 15px;
            }
            .number-wrap p{
                text-align: center;
                margin: 0px;
                &:first-child{
                    font-size: 11px;
                    font-family: $notoSans;
                    color:#444;
                }
                &:last-child{
                    font-size: 35px;
                    font-family: $notoSans;
                    font-weight: 900;
                    color:#444;
                }
            }
        }
    }
}

.team-player{
    margin:40px 0px;
    .empty{
        width: 100%;
        border:2px dashed #aaa;
        padding: 10px;
        background-color: rgba(255,255,255, 0.5);
        p{
            width: 50%;
            margin: 0px;
            font-family: $notoSans;
            font-size: 14px;
            color: #444;
            float: left;
            &:first-child{text-align: left; padding-top: 10px;}
            &:last-child{text-align: right;}
        }
    }
    .team-fill{
        width: 100%;
        background-color: #fff;
        .img-wrap{
            width: 170px;
            padding: 10px;
            a{
                margin-top: 10px;
                width: 100%;
            }
        }
        .bio-wrap{
            padding: 10px;
            width: 50%;
            .tittle{
                font-family: $notoSans;
                font-size: 16px;
                font-weight: bold;
                color: #444;
            }
            .city{
                font-family: $notoSans;
                font-size: 12px;
                color: #aaa;
            }
            .desc{
                margin-top: 10px;
                font-family: $notoSans;
                font-size: 14px;
                color: #444;
            }
        }
        .team-wrap{
            overflow-y: scroll;
            width: calc(100% - 55% - 170px);
            height: 230px;
            border-left: 1px solid #ddd;
        }
    }
}


// END - PLAYER 

// BEGIN - SEARCH
// ----> Search Box

// ----> Result Player
.result-search{
    .team-visit{
        margin: 0 auto 15px;
    }
    .search-wrap{
        width: 100%;
        border:1px solid rgba(0,0,0, 0.12);
        border-radius: 4px;
        margin: 0px 0px 40px;
    }
    .inner-search{
        padding: 20px;
        border-bottom:1px solid rgba(0,0,0, 0.12);
    }
    .filter-search{
        padding: 20px;
    }
}

.m-searchInput{
    input{
        width: calc(100% - 40px);
        padding: 10px;
        line-height: 40px;
        height: 40px;
        font-family: $notoSans;
        font-size: 14px;
        color: #444;
        border-radius:4px 0px 0px 4px;
        border:1px solid #aaa;
        border-right: 0px;
    }
    button{
        border:0px;
        border-radius:0px 4px 4px 0px;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        background-color:$blue;
        i{
            line-height: 40px;
            font-size: 14px;
            color:#fff;
        }        
    }
}

.result-item{
    padding: 0px 5px;
    margin-bottom: 10px;
}
// ----> Result Team



// END - SEARCH

// BEGIN - CREATE TEAM
.create-team{
    margin-bottom: 20px; 
    .img-wrap{
        width: 150px;
    }
    .browse-wrap{
        width: calc(100% - 150px);
        padding-left: 10px;
        .link{
            font-family: $notoSans;
            font-size: 14px;
            color:#444;
        }
    }
    .player-wrap{
        margin-bottom: 5px;
    }
    .text{
        font-family: $notoSans;
        font-size: 14px;
        color:#AAA;
        margin-bottom: 10px;
    }
    .result-player,.result-search{
        margin-bottom:15px;
    }
    .result-player{
        .add-player{display: none;}
        .remove-player{display: block; height: 20px;}
    }
    .result-search{
        .add-player{display: block;}
        .remove-player{display: none; height: 20px;}
    }
}
// END - CREATE TEAM

// BEGIN - CREATE MATCH
.create-match, .match-team{
    .team-wrap{
        margin-bottom: 20px;
        border: 1px solid #ddd;
        text-align: center;
        &.team-queue{
            border-radius: 4px;
            margin-bottom: 10px;
            position: relative;
            &.active{
                border:2px solid $blue;
                box-shadow: 0px 0px 1px 0px $blue;
                .check span{color:$blue; font-weight: 700;}
            } 
            .team-pic{
                width: 50px;
            }
            .tittle{
                padding-top: 13px;
            }
            .check{
                @include box-center-V;
                right: 10px;
                left: auto;
                span{
                    color:#444;
                    font-size: 16px;
                }
                &:hover, &:active, &:focus{
                    text-decoration: none;
                    span{
                        color: $blue;
                    }
                }
            }
        }
        .team-pic{
            width: 40px;
            border-right: 1px solid #ddd;       
            padding: 5px; 
        }
        .tittle{
            padding-top: 10px;
            padding-left: 5px;
            font-family: $notoSans;
            font-size:14px;
            font-weight: 800;
            color:#444;
        }
    }
    .player-wrap{
        margin-bottom: 5px;
    }
}
// END - CREATE MATCH

// BEGIN - ARENA
.arenaList-section{
    padding: 40px 0px;
    .search-wrap{
        border-radius: 4px;
        width: 100%;
        max-width: 300px;
        border: 1px solid #ddd;
        .search-top{
            border-bottom: 1px solid #ddd;
            padding: 20px;
        }
        .search-bottom{
            padding: 20px;
        }
    }
    .result-wrap{
        width: calc(100% - 300px);
        padding-left: 20px;
    }
}

.arena-item{
    width: 100%;
    padding:20px;
    border:1px solid #ddd;
    margin-bottom: 15px;
    border-radius: 4px;
    .image-wrap{
        width: 100px;
        float:left;
    }
    .desc-wrap{
        float: left;
        padding-left: 10px;
        .tittle{
            font-family: $notoSans;
            font-size:16px;
            font-weight: 800;
            color:#444;
        }
        .address,.city{
            font-family: $notoSans;
            font-size:14px;
            color:#444;
            margin-bottom: 5px;
        }
    }
    .button-wrap{
        float: right;
        text-align: right;
        .price{
            font-family: $monserat;
            font-size:20px;
            font-weight: 900;
            color:#444;
            margin-bottom: 10px;
        }
        a{
            vertical-align: middle;
        }
    }
}
// END - ARENA

// BEGIN - ARENA DETAIL
// -----> Image Banner
.banner-image{
    width: 100%;
    position: relative;
    overflow: hidden;
    .inner-image{
        position: absolute;
        top: 0; left: 0; 
        right: 0; bottom: 0;
        img{
            width: 100%;
            position: absolute;
            top:50%; left:50%;
            transform:translate(-50%,-50%);
        } 
    }
    &:before{
        content: "";
        padding-top: 40%;
        display: block;
    }
}
// -----> Bio
.arena-bio{
    width: 100%;
    padding: 20px 0px;
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    background-color:#fff;
    box-shadow: 0px 5px 5px rgba(0,0,0, 0.12);
    .tittle{
        font-family: $notoSans;
        font-size:20px;
        font-weight: 900;
        color:#444;
        margin-bottom: 10px;
    }
    .icon-text{
        margin-bottom: 5px;
        i,span{
            color:#444;
            font-size:14px;
        }
        span{
            font-family: $notoSans;
        }
    }
    .right-wrap{
        text-align: right;
        .price{
            font-family: $monserat;
            font-size:20px;
            font-weight: 900;
            color:#444;
            margin-bottom: 10px;
        }
    }
}
// -----> Arena Detail
.arenaDetail-wrap{
    padding: 40px 0px;
    background-color:#f9f9f9;
    .icon-text.pull-left{
        margin-right: 15px;
        margin-bottom: 15px;
    }
    hr{
        background-color:rgba(0,0,0, 0.1);
        margin: 20px 0px;
    }
    .tittle-wrap{
        width: 30%;
        float: left;
        p{
            font-family: $notoSans;
            font-size:14px;
            font-weight: 900;
            color:#444;
            margin: 0px;
            text-align: right
        }
    }
    .desc-wrap{
        width: 70%;
        float: left;
        padding-left: 20px;
        p{
            font-family: $notoSans;
            font-size:14px;
            color:#444;
            margin: 0px;
        }
    }
}

.arena-price{
    padding-bottom:15px;
    margin-bottom:15px;
    border-bottom:1px solid #ddd;
    &:last-child{
        padding-bottom:0px;
        margin-bottom:0px;
        border-bottom:0px;
    }
    .type-wrap{
        .img-wrap{
            width: 100%;
            max-width: 250px;
            position: relative;
            overflow: hidden;
            border-radius: 2px;
            .inner-img{
                position: absolute;
                top: 0; bottom:0;
                left: 0; right:0;
                img{
                    position: absolute;
                    width: 100%;
                    top:50%;
                    left:50%;
                    transform:translate(-50%,-50%);
                }
            }
            &:before{
                content: "";
                padding-top: 60%;
                display: block;
            }
        }
        .detail-wrap{
            width: calc(100% - 250px);
            .detail-box{
                margin-bottom: 8px;
                padding-left: 15px;
                .tittle{
                    font-family: $notoSans;
                    font-size:14px;
                    font-weight: 700;
                    color:#444;
                }
                .text{
                    font-family: $notoSans;
                    font-size:14px;
                    color:#444;
                }
            }
        }
    }
    .table-wrap{
        margin-top: 15px;
    }
}

.arena-table{
    thead tr{
        td{
            font-family: $notoSans;
            font-size:14px;
            color:#444;
            font-weight: 700;
            padding: 5px 10px;
            width: 32%;
        }
    }
    tbody tr{
        td{
            font-family: $notoSans;
            font-size:14px;
            color:#444;
            padding: 5px 10px;
            width: 32%;
        }
        &:nth-child(odd){
            background-color:rgba(255,255,255, 0.7);
        }
    }
}
// -----> Maps
.arena-map{
    width: 100%;
    height: 300px;
    background-color: lighten($blue, 30%)
}

// -----> Arena Related
.arena-related{
    padding: 40px 0px;
    .related-wrap{
        padding: 10px;
        text-align: center;
        .tittle{
            margin-top: 10px; 
            font-family: $notoSans;
            font-size:14px;
            color:#444;
            font-weight: 700;
        }
        &:hover{
            .tittle{
                color:darken($green, 10%);
            }
        }
    }
}

// -----> Texthere

// END - ARENA DETAIL

// BEGIN - KLASEMEN
.klasemen-section{
    background-color:#f9f9f9;
    padding: 40px 0px;
}
// END - KLASEMEN

// BEGIN - MY MATCH
.mymatch-section{
    padding: 40px 0px;
    .mymatch-wrap{
        margin-top:20px;
        .list-wrap{
            width: calc(100% - 370px);
            .available-list, .upcoming-list{
                margin-bottom: 8px;
            }
        }
        .m-allTabs{
            margin:0px 0px 20px;
        }
        .create-wrap{
            width: 370px;
            padding-left: 20px;
        }
    }
}

.mymatch-create{
    text-align: center;
    img{
        width: 100%;
        max-width: 150px;
        display: inline-block;
    }
    .tittle{
        font-family: $notoSans;
        font-size:14px;
        color:#444; 
        font-weight: 700;
        margin: 10px 0px;
    }

}

.finish-match{
    padding: 8px;
    border: 1px solid #ddd;
    margin-bottom: 16px;
    .fm-desc{
        float: left;
        width:calc(100% - 100px);
        text-align: left;
        p{
            margin:0px;
            &:last-child{
            }
            &:first-child{
                font-weight: 700;
            }
        }
        
    }
    .fm-button{
        text-align: right;
        float: left;
        width:100px;
        .txt-link{
            display: inline-block;
            margin-top: 4px;
            font-size: 11px;
            text-decoration: underline;

        }
    }
}
// END - MY MATCH

// BEGIN - TEAM DETAIL
// --------> Biodata
.teamDetail-bio{
    width: 100%;
    padding: 20px 0px;
    border-top: 1px solid rgba(0,0,0, 0.1);
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    background-color:#fff;
    box-shadow: 0px 2px 2px rgba(0,0,0, 0.12);
    .inner-bio{
        width: 50%;
        .pic-wrap{
            width: 100px;
        }
        .bio-wrap{
            width: calc(100% - 100px);
            padding-left: 10px;
            .tittle{
                font-family: $notoSans;
                font-size:14px;
                color:#444; 
                font-weight: 700;
            }
            .city{
                font-family: $notoSans;
                font-size:12px;
                color:#444; 
                margin-bottom: 10px;
            }
            .status{
                font-family: $notoSans;
                font-size:14px;
                color:#444;
            }
        }
        .menu-wrap{
            width: calc(100% - 100px);
            text-align: right;
            position: relative;
            ul{
                li{
                    display: inline-block;
                    a{
                        padding: 10px;
                        font-size: 14px;
                        color:#444;
                    }
                }
            } 
        }
        .ranking-wrap{
            text-align: center;
            width: 100px;
            p{
                margin: 0px;
                color:#444;
                &:first-child{
                    font-size: 14px;
                    font-weight: 900;
                    font-family: $notoSans;
                }
                &:last-child{
                    font-size: 30px;
                    font-family: $monserat;
                }
            }
        }
    }
}

// --------> Main
.teamDetail-section{
    width: 100%;
    position: relative;
    padding: 40px 0px;
    background-color: #f9f9f9;
    .teamDetail-main{
        width: calc(100% - 350px);
        float:right;
        padding-left: 20px;
        table tr td:first-child{
            text-align: left;
        }
        .team-table{
            margin:20px 0px;
            .col-md-6{
                &:first-child{
                    padding-left: 0px;
                }
                &:last-child{
                    padding-right: 0px;
                }
            }
        }
        .upcoming-list{
            margin-bottom: 8px;
        }
    }
    .teamDetail-sub{
        width: 350px;
        float: left;
    }
}
// --------> Member
.teamDetail-member{
    margin-bottom: 20px;
    .player-wrap{
        margin-bottom: 8px;
    }
}
// --------> Collections
.teamDetail-collection{
    margin-bottom: 20px;
    .collect-box{
        width: 33.3%;
        padding-right: 5px;
        padding-bottom: 5px;
        &:nth-child(3n){
            padding-right: 0px;
        }
    }
}

.collect-item{
    width: 100%;
    padding:10px;
    text-align: center;
    border:1px solid #ddd;
    border-radius:4px;
    background-color: #fff;
    img{
        width: 50%;
        margin-bottom: 10px;
    }
    p{
        margin: 0px;
        font-size: 14px;
        font-weight: 900;
        font-family: $notoSans;
    }
    span{
        font-size: 12px;
        font-family: $notoSans;
    }
}

.team-nextMatch{
    padding: 20px 0px;
    .type-wrap{
        width:100%;
        span{
            padding:8px 10px;
            display: inline-block;
            background-color:$red;
            color:#fff; 
            font-weight: 900;
            font-family: $monserat;
        }
    }
    .desc-wrap{
        padding: 10px;
        border:1px solid #ddd;
        background-color:#fff;
    }
    .versus-wrap{
        width: 100%;
        background-color: #fff;
        border:1px solid #ddd;
        border-top: 0px;
        & > span, a{
            display: inline-block;
            padding: 12px 10px;
            border-right: 1px solid #ddd;
        }
        .team-wrap{
            padding: 6px;
            display: inline-block;
            img{
                width: 100%;
                max-width: 30px;
                display: inline-block;
                margin-right: 5px;
            }
        }
    }
}

// END - TEAM DETAIL

// BEGIN - TEAM GALLERY
// --------> Menu
.teamGallery-menu{
    width: 100%;
    border:1px solid #ddd;
    background-color: #fff;
    border-radius: 4px;
    margin:40px 0px 20px;
    .create-wrap{
        width: 50%;
        padding: 8px 10px;
        a{
            &:hover{
                i,span{
                    color:#444;
                }
            }
        }
    }
    ul{
        width:50%;
        li{
            display: block;
            width: 50%;
            max-width: 200px;
            a{
                position: relative;
                width: 100%;
                text-align: center;
                display: inline-block;
                padding: 8px 10px;
                color:#444; 
                font-family: $notoSans;
                border-right: 1px solid #ddd;
                &.active:before{
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 3px;
                    display: block;
                    background-color: $yellow
                }
                &:hover{
                    background-color: #f9f9f9;
                    text-decoration: none;
                }
                &:focus{
                    text-decoration: none;
                }
            }
        }
    }
}

.teamGallery-list{
    width: 100%;
    position: relative;
}
.teamGallery-section{
    background-color: #f9f9f9;
}
.teamGallery-desc{
    text-align: center;
    padding: 0px 0px 20px;
    .location{
        font-size: 12px;
        font-family: $notoSans;
        color:#aaa;
        margin-bottom: 20px;
        a{
            font-size: 12px;
            font-family: $notoSans;
            color:#aaa;
        }
    }
    .story{
        width: 80%;
        margin:0 auto;
        font-size: 14px;
        font-family: $notoSans;
        color:#444;
    }
}
.teamGallery-item{
    width: 25%;
    padding:5px; 
    float: left;
    .add-item{
        padding: 20px;
        width: 100%;
        height: 100%;
        background-color: #fff;
        border:2px dashed #ddd;
    }
    .dropzone{
        height: 100%;
        padding: 0px;
        border:0px;
        cursor: pointer;
        transition:.4s;
        &:hover{
            opacity: .9;
            transition:.4s;
        }
    }
}
.teamGallery-album{
    width: 100%;
    border:1px solid #ddd;
    border-radius:4px;
    .r-image{
        border-radius:0px;
    }
    .desc-wrap{
        padding: 8px;
        .tittle{
            width: 100%;
            overflow: hidden;
            white-space: nowrap;
            color:#444; 
            font-size: 14px;
            font-weight: 700;
            font-family: $notoSans;
        }
        .number{
            color:#aaa; 
            font-size: 12px;
            font-family: $notoSans;
        }
    }
    &:hover{
        .desc-wrap .tittle{
            color:$blue;
        }
    }
}

// --------> Modal Gallery
.modal-gallery{
    width: 100%;
    position: fixed;
    top:0;
    left: 0; 
    right: 0;
    bottom:0;
    z-index: 99;
    display: none;
    &.active{
        display: block;
    }
    .background-wrap{
        position: absolute;
        z-index: 1;
        top:0;
        left: 0; 
        right: 0;
        bottom:0;
        background-color:rgba(0,0,0, 0.7);
    }
    .gallery-slide{
        z-index: 2;
        width: 100%;
        max-width: 1600px;
        position: absolute;
        border:1px solid #fff;
        top:50%;
        left:50%;
        transform:translate(-50%,-50%);
        .arrow-left{left: -60px;}
        .arrow-right{right: -60px;}
        .slick-arrow.slick-disabled{
            opacity: 0;
        }
    }
}

.gallery-item{
    width: 100%;
    // max-width: 1280px;
    .img-wrap{
        width: calc(100% - 300px);
        // padding-right: 300px;
        text-align: right;
        img{
            display: inline-block;
        }
    }
    .comment-wrap{
        width: 100%;
        height: 100%;
        max-width: 300px;
        background-color: #fff;
        padding: 10px;
        overflow: hidden;
        position: relative;
        .user-wrap{
            width: 100%;
            .user-img{
                float: left;
                width: 50px;
            }
            .desc{
                padding-left: 10px;
                float: left;
                padding-top: 5px;
                .name{
                    font-family:$notoSans;
                    font-size: 14px;
                    font-weight: 900;
                    color: #444;
                }
                .date{
                    font-family:$notoSans;
                    font-size: 12px;
                    color: #aaa;
                }
            }
        }
    }
}
// END - TEAM GALLERY

// BEGIN - SETTINGS
// --------> data people
.setting-section{
    background-color: #f9f9f9;
    padding: 40px 0px;
}

.tab-setting
{
  max-width: 600px;
  margin: auto;
}

.border-setting
{
    padding: 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
    background-color: #fff;
}

.line-setting
{
  max-width: 100%;
  border-top: 1px solid #ddd;
  margin-top: 20px;

}

.image-browse-setting {
  margin: 20px 0px;
}

.image-browse-setting input {
  display: none;
}

.image-browse-setting label {
  border: 1px solid $blue;
  border-radius: 4px;
  width: 100%;
  cursor: pointer;
}

.image-browse-setting label strong {
  width: 80px;
  display: inline-block;
  padding: 5px 10px;
  background-color: $blue;
}

.image-browse-setting label strong i, .image-browse-setting label strong span {
  color: #fff;
}

.image-browse-setting label p {
  width: calc(100% - 117px);
  margin: 0px;
  font-family: "Noto Sans";
  font-size: 14px;
  color: #444;
  padding: 5px;
}

.s-tittle {
  text-align: left;
  margin-bottom: 20px;
}

.s-tittle.red {
  display: inline-block;
  font-size: 16px;
  font-family: "Noto Sans";
}


.team-setting .tittle {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: bold;
  color: #444;
}

.team-setting .city {
  font-family: "Noto Sans";
  font-size: 12px;
  color: #aaa;
  margin-bottom: 10px;
}

// END - SETTINGS

// BEGIN - MATCH DETAIL
.empty-challenger{
    width: 100%;
    text-align: center;
    font-size: 14px;
    color:#aaa;
    border:2px dashed #aaa;
    border-radius: 4px;
    padding: 10px 0px
}
.match-team{
    background-color: #fff; 
    .team-wrap, .player-wrap, .player-visit{
        border-radius: 0px;
        margin: 0px;
    }
    .team-list{
        max-height: calc(82px * 7);
        overflow-y: scroll;
    }
}

.matchDetail-info{
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fff;
    li{
        width: 100%;
        border-bottom: 1px solid #ddd;
        padding: 10px;
    }
    #g-maps{
        width: 100%;
        height: 150px;
        margin-top: 10px;
        border:1px solid rgba(0,0,0, 0.1);
    }
    & + div{
        width: 100%;
        text-align: center;
        padding-top: 10px ;
    }
}
.matchDetail-foot{
    width: 100%;
    height: 20px;
    border:1px solid #ddd;
    background-color: #fff;
}
// END - MATCH DETAIL

// BEGIN - NOTIF PAGE
.notif-page{
    padding: 20px 0px;
}
.notif-amount{
    width: 100%;
    max-width: 270px;
    padding: 10px;
    border-radius:2px;
    border:1px solid rgba(0,0,0, 0.1);
    float: left;
}

.notif-list-wrap{
    float: left;
    width: calc(100% - 270px);
    padding-left: 30px;
    .notif-list{
        border-radius: 2px;
        border:1px solid #ddd; 
            background-color: #fff;
        .notification-box{
            border-bottom: 1px solid #ddd;
        }
    }
}
// END - NOTIF PAGE

// + Loading
@keyframes rotateBall{
    10%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.loading{
    @include fixed-zero;
    background-color: rgba(24, 116, 205, 0.8);
    z-index: 999;
    .loading-center{
        @include box-center;
        text-align: center;
    }
    .loading-ball{
        display: inline-block;
        padding: 8px;
        box-shadow: 0px 0px 2px 1px rgba(0,0,0, 0.2);
        border-radius: 100%;
        background-color: #fff;
        width: 100px;
        margin:0px auto 20px;
        animation: rotateBall 1.2s infinite linear;
        img{
            width: 100%;
        }
    }
    .text{
        font-size: 24px;
        font-weight: 900;
        color:#fff;
    }

}

// BEGIN - MOBILE
@import "partial/tablet.scss";
@import "partial/phone.scss";
// END - MOBILE


// BEGIN - ALL
// END - ALL

