
// ALL
.style-navbar{
	width: 250px;
	height: 100%;
	position: fixed;
	border-right: 1px solid #ddd;
	box-shadow: 0px 0px 2px rgba(0,0,0, 0.12);
	background-color: #fff;
	img{
		display: block;
		width: 150px;
		margin:0 auto;
	}
	.tittle{
		width: 100%;
		font-family: "tahoma";
		font-size: 18px;
		font-weight: 700;
		color:#444;
		padding: 8px;
		border-top: 1px solid #ddd;
		text-align: center;
	}
	ul{
		li{
			a{
				display: block;
				width: 100%;
				font-family: "tahoma";
				font-size: 14px;
				color:#444;
				padding:10px 8px;
				&.active{
					border-top:1px solid #ddd;
					border-bottom:1px solid #ddd;
				}
			}
		}
	}
}

.style-content{
	width: 100%;
	background-color: #f2f2f2;
	height: 100vh;
	overflow-y: scroll;
	padding-left: 270px;
	padding-right: 20px;
	padding-top: 20px;
	.tittle{
		width: 100%;
		padding: 5px 10px;
		border-bottom: 1px solid #444;
		font-family: "tahoma";
		font-size: 18px;
		font-weight: 700;
		color:#444;
		margin-bottom: 10px;
	}
}

.style-section{
	margin-bottom:20px;
	.list-style{
		margin-bottom: 10px;
		padding:10px; 
		border-radius: 4px;
		background-color: rgba(255,255,255, 0.2);
		.desc{
			margin-bottom: 5px;
			font-family: "tahoma";
			font-size: 12px;
		}
		&.dark{
			background-color: rgba(0,0,0, 0.5);
			.desc{
				color:#fff;
			}	
		}
	}
}

.marginSpace16{
	margin: 16px;
}
.marginSpace16-y{
	margin: 16px 0px;
}
.marginSpace16-x{
	margin: 0px 16px;
}

.paddingSpace16{
	padding: 16px;
}
.paddingSpace16-y{
	padding: 16px 0px;
}
.paddingSpace16-x{
	padding: 0px 16px;
}