<div class="container conY">
	<div class="m-tittle">Create Team.</div>
	<div class="row">
<!-- Begin - Visual Wrap -->
		<div class="col-md-6">
			<div class="l-tittle blue"><span>Photo team</span></div>
			<div class="m20-b">
				<form action="/profpic-upload" class="dropzone parentcenter" id="dz-profpic">
					<input type="file" name="file" class="hideit">
				</form>
				<div class="cropper-area row hideit">
					<div class="col-md-6">
						<div class="m-image md cropper"><img id="imgCrop" src="images/jpg/profpic1.jpg" alt=""></div>
					</div> <!--end of col-md-6-->
					<div class="col-md-6">
						<div class="uploadPhoto-section">
							<div class="cropper-nav row">
								<a href="#" id="cropZoomP"><i class="lnr lnr-plus-circle"></i></a>
								<a href="#" id="cropZoomM"><i class="lnr lnr-circle-minus"></i></a>
								<a href="#" id="cropUp"><i class="lnr lnr-chevron-up-circle "></i></a>
								<a href="#" id="cropLeft"><i class="lnr lnr-chevron-left-circle "></i></a>
								<a href="#" id="cropRight"><i class="lnr lnr-chevron-right-circle "></i></a>
								<a href="#" id="cropDown"><i class="lnr lnr-chevron-down-circle "></i></a>
							</div>

							<div class="parentleft">
								<a href="#" class="l-button blue">Select photo</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="l-tittle blue"><span>Choose player</span></div>
			<div class="create-team row">
				<input type="text" id="inputPlayer" name="playerInput[]" value="aryatama" class="hideit">
				<div class="result-player">
					<div class="player-wrap">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					
					
				</div>

				<div class="player-wrap">
					<div class="m-searchInput row">
						<input type="text" class="pull-left">
						<button class="pull-left"><i class="lnr lnr-magnifier"></i></button>
					</div>
				</div>

				<div class="text">
					Choose wisely 5 person for your own team
				</div>

				<div class="result-search">
					<div class="player-wrap" data-name="fathur">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Fathureza Januarza</p>
								<p>Mafia Migas FC</p>
							</div>
							<div class="btn-wrap pull-left">
								<a href="#" class="icon add-player"><i class="lnr lnr-plus-circle"></i></a>
								<a href="#" class="icon remove-player"><i class="lnr lnr-cross"></i></a>
							</div>
						</div>
					</div>
					<div class="player-wrap" data-name="gabriel">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><i class="lnr lnr-picture"></i></div>
							<div class="bio pull-left">
								<p>Gabriel Caesario</p>
								<p>Mafia Migas FC</p>
							</div>
							<div class="btn-wrap pull-left">
								<a href="#" class="icon add-player"><i class="lnr lnr-plus-circle"></i></a>
								<a href="#" class="icon remove-player"><i class="lnr lnr-cross"></i></a>
							</div>
						</div>
					</div>
					<div class="player-wrap" data-name="akbar">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><i class="lnr lnr-picture"></i></div>
							<div class="bio pull-left">
								<p>Akbar Dwiyoga</p>
								<p>Mafia Migas FC</p>
							</div>
							<div class="btn-wrap pull-left">
								<a href="#" class="icon add-player"><i class="lnr lnr-plus-circle"></i></a>
								<a href="#" class="icon remove-player"><i class="lnr lnr-cross"></i></a>
							</div>
						</div>
					</div>
					<div class="player-wrap" data-name="syam">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><i class="lnr lnr-picture"></i></div>
							<div class="bio pull-left">
								<p>Syam Sadane</p>
								<p>Mafia Migas FC</p>
							</div>
							<div class="btn-wrap pull-left">
								<a href="#" class="icon add-player"><i class="lnr lnr-plus-circle"></i></a>
								<a href="#" class="icon remove-player"><i class="lnr lnr-cross"></i></a>
							</div>
						</div>
					</div>
				</div>

				<div class="parentcenter">
					<a href="#" data-target="#modal-invitePlayer" class="l-button blue modals-trigger">Send invitation</a>
				</div>
			</div>
		</div>	
<!-- End - Visual Wrap -->

<!-- Begin - Data Text Wrap -->
		<div class="col-md-6">
			<div class="form-section">
				<label>Nama team</label>
				<input type="text">
				<div class="error-state">Belum di isi.</div>
			</div>
			<div class="form-section">
				<label>Kota</label>
				<select class="select">
					<option>Jakarta</option>
					<option>Bandung</option>
					<option>Bali</option>
				</select>
				<div class="error-state">Belum di isi.</div>
			</div>
			<div class="form-section">
				<label>Gender</label>
				<div class="row">
					<div class="radio-wrap pull-left" data-name="gender">
						<div class="radio-box row">
							<span></span>
							<p>Man</p>
						</div>
						<input type="radio" name="gender">
					</div>
					<div class="radio-wrap pull-left" data-name="gender">
						<div class="radio-box row">
							<span></span>
							<p>Female</p>
						</div>
						<input type="radio" name="gender">
					</div>
				</div>
				<div class="error-state">Belum di isi.</div>
			</div>
			<div class="form-section">
				<label>Deskripsi</label>
				<textarea></textarea>
				<div class="error-state">Belum di isi.</div>
			</div>
		</div>	
<!-- End - Data Text Wrap -->
	</div>

	<hr>

	<div class="parentright">
		<button class="l-button blue">Create</button>
	</div>
</div>

<!-- Begin - Popup Modals -->
<div id="modal-invitePlayer" class="m-modals">
	<div class="background-wrap"></div>
	<div class="modal-wrap">
		<div class="tittle">Send Invitation!</div>
		<div class="body">
			<input type="text" placeholder="email@gmail.com">
			<div class="desc sm">input email address of your candidates to invite them in your team. lets Play Futsal!</div>
		</div>
		<div class="foot">
			<a href="" class="m-button blue">Send</a>
		</div>
	</div>
</div>
<!-- End - Popup Modals -->

<script src="js/views/create.js"></script>