<div class="klasemen-section custom-dataTable">
	<div class="container">
		<div class="m-tittle head">Klasemen.</div>
		<div class="klasemen-wrap">
			<div class="tabs-wrap">
				<ul>
					<li><a href="#klasemenMan" class="active grey">Pria</a></li>
					<li><a href="#klasemenWoman" class="pink">Wanita</a></li>
				</ul>
			</div>
			<div id="klasemenMan" class="klasemen-gender">
				<table class="klasemen-table js-ktw gender-man">
					<thead>
						<tr>
							<td>No.</td>
							<td>Nama team</td>
							<td>P</td>
							<td>W</td>
							<td>D</td>
							<td>L</td>
							<td>GF</td>
							<td>GA</td>
							<td>Pts.</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="klasemenWoman" class="klasemen-gender hideit">
				<table class="klasemen-table js-ktm gender-woman">
					<thead>
						<tr>
							<td>No.</td>
							<td>Nama team</td>
							<td>P</td>
							<td>W</td>
							<td>D</td>
							<td>L</td>
							<td>GF</td>
							<td>GA</td>
							<td>Pts.</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
						<tr>
							<td style="width:50px; text-align:center; border-right:1px solid rgba(0,0,0,0.1);">1</td>
							<td>
								<img src="images/jpg/team-logo.jpg" alt="">
								<span>Mafia Migas FC</span>
							</td>
							<td>16</td>
							<td>4</td>
							<td>5</td>
							<td>7</td>
							<td>12</td>
							<td>9</td>
							<td>87</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<script src="js/views/klasemen.js"></script>
<script>
	functions.push(function(){
		
	});
</script>