<div class="background-color lightGrey">
	<div class="container">
		<div class="sign-wrap2">
			<div class="l-tittle blue"><span>Photo Upload</span></div>
			<div class="inner">
				<div class="m20-b">
					<form action="/profpic-upload" class="dropzone parentcenter" id="">
						<input type="file" name="file" class="hideit">
					</form>
					<div class="cropper-area row hideit">
						<div class="col-md-6">
							<div class="m-image md cropper"><img id="imgCrop" src="images/jpg/profpic1.jpg" alt=""></div>
						</div> <!--end of col-md-6-->
						<div class="col-md-6">
							<div class="uploadPhoto-section">
								<div class="cropper-nav row">
									<a href="#" id="cropZoomP"><i class="lnr lnr-plus-circle"></i></a>
									<a href="#" id="cropZoomM"><i class="lnr lnr-circle-minus"></i></a>
									<a href="#" id="cropUp"><i class="lnr lnr-chevron-up-circle "></i></a>
									<a href="#" id="cropLeft"><i class="lnr lnr-chevron-left-circle "></i></a>
									<a href="#" id="cropRight"><i class="lnr lnr-chevron-right-circle "></i></a>
									<a href="#" id="cropDown"><i class="lnr lnr-chevron-down-circle "></i></a>
								</div>

								<div class="parentleft">
									<a href="#" class="l-button blue">Select photo</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<hr>

				<div class="parentright">
					<button class="m-button blue">Finish</button>
				</div>
			</div>

		</div>
	</div>
</div>

<script src="js/views/login.js"></script>