<div class="background-color lightGrey">
	<div class="container">
		<div class="sign-wrap">
			<div class="tabs-wrap">
				<a href="#login" class="active">Login</a>
				<a href="#register">Register</a>
			</div>
			<div class="content-wrap">
				<div id="login" class="form-wrap">
					<div class="form-section">
						<label>Email</label>
						<input type="text">
						<div class="error-state">Email Wrong</div>
					</div>
					<div class="form-section">
						<label>Password</label>
						<input type="password">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="row">
						<div class="pull-left"></div>
						<div class="pull-right"><a href="#" id="forgotButton">Forgot password?</a></div>
					</div>
					<div class="form-section parentcenter">
						<button class="m-button blue">Login</button>
					</div>
				</div>

				<div id="register" class="form-wrap hideit">
					<div class="form-section row">
						<div class="half">
							<label>First Name</label>
							<input type="text">
							<div class="error-state">Email Wrong</div>
						</div>
						<div class="half">
							<label>Last Name</label>
							<input type="text">
							<div class="error-state">Email Wrong</div>
						</div>
					</div>
					<div class="form-section">
						<label>Email</label>
						<input type="text" placholder="nama_email@gmail.com">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section">
						<label>Password</label>
						<input type="text">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section">
						<label>Confirm Password</label>
						<input type="text">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section">
						<label>Gender</label>
						<div class="row">
							<div class="radio-wrap pull-left" data-name="gender">
								<div class="radio-box row">
									<span></span>
									<p>Man</p>
								</div>
								<input type="radio" name="gender">
							</div>
							<div class="radio-wrap pull-left" data-name="gender">
								<div class="radio-box row">
									<span></span>
									<p>Female</p>
								</div>
								<input type="radio" name="gender">
							</div>
						</div>
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section">
						<label>Birth Date</label>
						<input type="text" class="birth-picker">
						<div class="error-state">Password Wrong</div>
					</div>

					<div class="form-section">
						<label>City</label>
						<select class="chosen-select select ">
							<option value="" class="hideit" selected>Choose Your Hometown</option>
							<option value="">Jakarta Selatan</option>
							<option value="">Jakarta Pusat</option>
							<option value="">Jakarta Barat</option>
							<option value="">Bandung</option>
							<option value="">Bali</option>
						</select>
						<div class="error-state"></div>
					</div>
					<div class="form-section">
						<label>Phone Number</label>
						<input type="text" placeholder="081234567">
						<div class="error-state"></div>
					</div>
					<div class="form-section">
						<label>Favorite Number</label>
						<input type="text">
						<div class="error-state"></div>
					</div>

					<div class="form-section parentcenter">
						<button class="m-button blue">Register</button>
					</div>
				</div>

				<div id="forgotpass" class="form-wrap hideit">
					<div class="form-section">
						<label>Your Email</label>
						<input type="text">
						<div class="error-state">Email Wrong</div>
					</div>
					<div class="form-section parentcenter">
						<button class="m-button blue">Send</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="js/views/login.js"></script>