<div class="container conY">
	<div class="m-tittle mbl-p10-lr">Match Detail.</div>
	<div class="row">
		<div class="col-md-3 col-sm-12 mbl-nopadding">
			<div class="matchDetail-info">
				<ul>
					<li>
						<div class="icon-text grey">
							<i class="lnr lnr-calendar-full"></i>
							<span>Wed, 10 Aug 2016. 07:00 PM</span>
						</div>
					</li>
					<li>
						<div class="icon-text grey">
							<i class="lnr lnr-location"></i>
							<span>Futsal Ceria, Jakarta Selatan</span>
						</div>

						<div id="g-maps"></div>
					</li>
					<li>
						<div class="icon-text grey">
							<i class="lnr lnr-diamond"></i>
							<span>50 : 50</span>
						</div>
					</li>
				</ul>
			</div>
			<div>
				<a href="#" class="l-button red">+ Join</a>
			</div>
		</div>
		<div class="col-md-9 col-sm-12 mbl-nopadding">
			<div class="match-team">
				<div class="team-wrap row">
					<div class="team-pic pull-left">
						<div class="r-image">
							<div class="inner-image">
								<img src="images/jpg/team-logo.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="tittle pull-left">Free Teams</div>
				</div>
				<div class="team-list custom-scroll row">
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="dual-container mbl-nopadding">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
				</div>
				<div class="matchDetail-foot"></div>
			</div>
		</div>
	</div>

	<div class="parentcenter dskt-hideit mbl-p20-t">
		<a href="#" class="m-button red">+ Join</a>
	</div>
</div>

<script>
	functions.push(function(){
		// function myMap(){
		var mapCanvas = document.getElementById("g-maps");
		var mapOptions = {
			center: new google.maps.LatLng(51.5, -0.2), 
			zoom: 10,
			scrollwheel: false,
			navigationControl: false,
			mapTypeControl: false,
			scaleControl: false,
		}
		var map = new google.maps.Map(mapCanvas, mapOptions);

		map.set('styles', [
	    {
	        "featureType": "water",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#e9e9e9"
	            },
	            {
	                "lightness": 17
	            }
	        ]
	    },
	    {
	        "featureType": "landscape",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#f5f5f5"
	            },
	            {
	                "lightness": 20
	            }
	        ]
	    },
	    {
	        "featureType": "road.highway",
	        "elementType": "geometry.fill",
	        "stylers": [
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 17
	            }
	        ]
	    },
	    {
	        "featureType": "road.highway",
	        "elementType": "geometry.stroke",
	        "stylers": [
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 29
	            },
	            {
	                "weight": 0.2
	            }
	        ]
	    },
	    {
	        "featureType": "road.arterial",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 18
	            }
	        ]
	    },
	    {
	        "featureType": "road.local",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 16
	            }
	        ]
	    },
	    {
	        "featureType": "poi",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#f5f5f5"
	            },
	            {
	                "lightness": 21
	            }
	        ]
	    },
	    {
	        "featureType": "poi.park",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#dedede"
	            },
	            {
	                "lightness": 21
	            }
	        ]
	    },
	    {
	        "elementType": "labels.text.stroke",
	        "stylers": [
	            {
	                "visibility": "on"
	            },
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 16
	            }
	        ]
	    },
	    {
	        "elementType": "labels.text.fill",
	        "stylers": [
	            {
	                "saturation": 36
	            },
	            {
	                "color": "#333333"
	            },
	            {
	                "lightness": 40
	            }
	        ]
	    },
	    {
	        "elementType": "labels.icon",
	        "stylers": [
	            {
	                "visibility": "off"
	            }
	        ]
	    },
	    {
	        "featureType": "transit",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#f2f2f2"
	            },
	            {
	                "lightness": 19
	            }
	        ]
	    },
	    {
	        "featureType": "administrative",
	        "elementType": "geometry.fill",
	        "stylers": [
	            {
	                "color": "#fefefe"
	            },
	            {
	                "lightness": 20
	            }
	        ]
	    },
	    {
	        "featureType": "administrative",
	        "elementType": "geometry.stroke",
	        "stylers": [
	            {
	                "color": "#fefefe"
	            },
	            {
	                "lightness": 17
	            },
	            {
	                "weight": 1.2
	            }
	        ]
	    }
	]);
		// }
	});
</script>