<div class="container conY">
	<div class="m-tittle mbl-p10-lr">Match Detail.</div>
	<div class="row">
		<div class="col-md-3 col-sm-12 mbl-nopadding">
			<div class="matchDetail-info">
				<ul>
					<li>
						<div class="icon-text grey">
							<i class="lnr lnr-calendar-full"></i>
							<span>Wed, 10 Aug 2016. 07:00 PM</span>
						</div>
					</li>
					<li>
						<div class="icon-text grey">
							<i class="lnr lnr-location"></i>
							<span>Futsal Ceria, Jakarta Selatan</span>
						</div>

						<div id="g-maps"></div>
					</li>
					<li>
						<div class="icon-text grey">
							<i class="lnr lnr-diamond"></i>
							<span>50 : 50</span>
						</div>
					</li>
				</ul>
			</div>
			<div class="row dbl-button">
				<a href="#" class="w-40 pull-left l-button green mbl-hideit">Start</a>
				<a href="#" class="w-40 pull-right l-button red mbl-hideit">Cancel</a>
			</div>
		</div>
		
		<div class="dskt-hideit mobile-tabs-content">
			<ul class="row">
				<li class="w-half parentcenter"><a target="#team-1" class="active">Team A</a></li>
				<li class="w-half parentcenter"><a target="#team-2">Challanger</a></li>
			</ul>
		</div>

		<div class="col-md-9 col-sm-12 row">
			<div id="team-1" class="dual-container p10-lr mbl-nopadding mobile-tabs-trigger">
				<div class="match-team">
					<div class="team-wrap row">
						<div class="team-pic pull-left">
							<div class="r-image">
								<div class="inner-image">
									<img src="images/jpg/team-logo.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="tittle pull-left">Mafia Migas FC</div>
					</div>
					<div class="team-list custom-scroll">
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
						<div class="player-visit row">
							<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
							<div class="bio pull-left">
								<p>Aryatama Krishna</p>
								<p>Mafia Migas FC</p>
							</div>
						</div>
					</div>
					<div class="matchDetail-foot"></div>
				</div>
			</div>
			<div id="team-2" class="dual-container p10-lr mbl-nopadding mbl-hideit mobile-tabs-trigger">
				<!-- BEGIN - EMPTY STATE -->
				<div class="empty-challenger hideit">
					Challanger still empty
				</div>
				<!-- END - EMPTY STATE -->
				
				<!-- BEGIN - FILL STATE -->
				<div class="match-team">
					<div class="team-wrap team-queue active row">
						<div class="team-pic pull-left">
							<div class="r-image">
								<div class="inner-image">
									<img src="images/jpg/team-logo.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="tittle pull-left">Frost Battle Guardian</div>
						<a href="#" class="check js-chsChallanger"><span class="lnr lnr-checkmark-circle"></span></a>
						<input type="radio" class="hideit" name="teamChallanger" checked>
					</div>

					<div class="team-wrap team-queue row">
						<div class="team-pic pull-left">
							<div class="r-image">
								<div class="inner-image">
									<img src="images/jpg/team-logo.jpg" alt="">
								</div>
							</div>
						</div>
						<div class="tittle pull-left">Curug Hero</div>
						<a href="#" class="check js-chsChallanger"><span class="lnr lnr-checkmark-circle"></span></a>
						<input type="radio" class="hideit" name="teamChallanger">
					</div>
				</div>
				<!-- END - FILL STATE -->
			</div>
		</div>

		<div class="parentcenter dskt-hideit mbl-p20-t">
			<a href="#" class="m-button red">Retire</a>
		</div>
	</div>
</div>

<script>
	functions.push(function(){
		$(".js-chsChallanger").on("click", function(){
			var parent = $(this).parents(".team-queue");
			parent.find("input[type='radio']").prop("checked", true);
			$(".team-queue").removeClass("active");
			parent.addClass("active");
		});
		var winWidth = $(window).width();
		if( winWidth < 992){
			$(".mobile-tabs-content li a").on("click", function(){
				var target = $(this).attr("target");

				$(".mobile-tabs-content li a").removeClass("active");
				$(this).addClass("active");

				$(".mobile-tabs-trigger").addClass("mbl-hideit");
				$(target).removeClass("mbl-hideit");
			});
		}

		// function myMap(){
		var mapCanvas = document.getElementById("g-maps");
		var mapOptions = {
			center: new google.maps.LatLng(51.5, -0.2), 
			zoom: 10,
			scrollwheel: false,
			navigationControl: false,
			mapTypeControl: false,
			scaleControl: false,
		}
		var map = new google.maps.Map(mapCanvas, mapOptions);

		map.set('styles', [
	    {
	        "featureType": "water",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#e9e9e9"
	            },
	            {
	                "lightness": 17
	            }
	        ]
	    },
	    {
	        "featureType": "landscape",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#f5f5f5"
	            },
	            {
	                "lightness": 20
	            }
	        ]
	    },
	    {
	        "featureType": "road.highway",
	        "elementType": "geometry.fill",
	        "stylers": [
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 17
	            }
	        ]
	    },
	    {
	        "featureType": "road.highway",
	        "elementType": "geometry.stroke",
	        "stylers": [
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 29
	            },
	            {
	                "weight": 0.2
	            }
	        ]
	    },
	    {
	        "featureType": "road.arterial",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 18
	            }
	        ]
	    },
	    {
	        "featureType": "road.local",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 16
	            }
	        ]
	    },
	    {
	        "featureType": "poi",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#f5f5f5"
	            },
	            {
	                "lightness": 21
	            }
	        ]
	    },
	    {
	        "featureType": "poi.park",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#dedede"
	            },
	            {
	                "lightness": 21
	            }
	        ]
	    },
	    {
	        "elementType": "labels.text.stroke",
	        "stylers": [
	            {
	                "visibility": "on"
	            },
	            {
	                "color": "#ffffff"
	            },
	            {
	                "lightness": 16
	            }
	        ]
	    },
	    {
	        "elementType": "labels.text.fill",
	        "stylers": [
	            {
	                "saturation": 36
	            },
	            {
	                "color": "#333333"
	            },
	            {
	                "lightness": 40
	            }
	        ]
	    },
	    {
	        "elementType": "labels.icon",
	        "stylers": [
	            {
	                "visibility": "off"
	            }
	        ]
	    },
	    {
	        "featureType": "transit",
	        "elementType": "geometry",
	        "stylers": [
	            {
	                "color": "#f2f2f2"
	            },
	            {
	                "lightness": 19
	            }
	        ]
	    },
	    {
	        "featureType": "administrative",
	        "elementType": "geometry.fill",
	        "stylers": [
	            {
	                "color": "#fefefe"
	            },
	            {
	                "lightness": 20
	            }
	        ]
	    },
	    {
	        "featureType": "administrative",
	        "elementType": "geometry.stroke",
	        "stylers": [
	            {
	                "color": "#fefefe"
	            },
	            {
	                "lightness": 17
	            },
	            {
	                "weight": 1.2
	            }
	        ]
	    }
	]);
		// }
	});
</script>