<div class="notif-page">
	<div class="container">
		<div class="row">
			<div class="notif-amount">
				<div class="title text-bold">Notifications</div>
				<div class="text">You have <b>2</b> new notifications</div>
			</div>

			<div class="notif-list-wrap">
				<div class="notif-list">
					<div class="notification-box green new row">
		                <div class="point pull-left"><span></span></div>
		                <div class="desc-wrap pull-left">
		                    <div class="tittle">Lorem ipsum dolor sit amet, consectetur adipisicing elit <a href="#" class="modals-trigger" data-target="#modal-joinTeam">Click Here</a> too more info.</div>
		                    <div class="date">2 days ago</div>
		                </div>
		            </div>
					<div class="notification-box blue new row">
		                <div class="point pull-left"><span></span></div>
		                <div class="desc-wrap pull-left">
		                    <div class="tittle">You've got team invitation from <a href="#">Akbar</a> into team <a href="#">La La Pand</a></div>
		                    <div class="date">2 days ago</div>
		                </div>
		            </div>
					<div class="notification-box red row">
		                <div class="point pull-left"><span></span></div>
		                <div class="desc-wrap pull-left">
		                    <div class="tittle">You've got invitation challange from team <a href="#">Battle Hurricane</a></div>
		                    <div class="date">2 days ago</div>
		                </div>
		            </div>
					<div class="notification-box yellow row">
		                <div class="point pull-left"><span></span></div>
		                <div class="desc-wrap pull-left">
		                    <div class="tittle">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
		                    <div class="date">2 days ago</div>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Begin - Popup Modals -->
<div id="modal-joinTeam" class="m-modals">
	<div class="background-wrap"></div>
	<div class="modal-wrap">
		<div class="tittle">Are you sure wanna join this team</div>
		<div class="body text-center">
			You got invitation from <a href="#">Akbar</a> and all team <a href="">Battle Hurricane</a> to join their team.  
		</div>
		<div class="foot row">
			<a href="" class="l-button blue">I'll see it</a>
		</div>
	</div>
</div>
<!-- End - Popup Modals -->