<div class="background-color grey">
	<div class="container">
		<!-- Begin - Player Information -->
		<div class="profile-player row">
			<div class="l-tittle green dskt-hideit"><span>Biodata</span></div>
			<div class="img-player pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
			<div class="detail-player pull-left">
				<div class="l-tittle green mbl-hideit"><span>Biodata</span></div>
				<div class="detail-wrap row">
					<div class="col-md-5">
						<div class="bio-wrap row">
							<p class="pull-left">Nama</p>
							<p class="pull-left">Aryatama</p>
						</div>
						<div class="bio-wrap row">
							<p class="pull-left">Gender</p>
							<p class="pull-left">Man</p>
						</div>
						<div class="bio-wrap row">
							<p class="pull-left">Birth Date</p>
							<p class="pull-left">10 August 2016</p>
						</div>
						<div class="bio-wrap row">
							<p class="pull-left">City</p>
							<p class="pull-left">Tangerang Selatan</p>
						</div>
					</div>
					<div class="col-md-5 mbl-profile-bio">
						<div class="bio-wrap row">
							<p class="pull-left">Role</p>
							<p class="pull-left">
							<span class="icon-text">
								<i class="lnr lnr-bug"></i>
								<span>Guardian</span>
							</span>
							</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="parentright">
							<a href="" class="l-button blue">My match</a>
						</div>
						<div class="number-wrap">
							<p>Number</p>
							<p>09</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End - Player Information -->

		<div class="team-player">
			<div class="l-tittle yellow"><span>Team</span></div>
			<div class="empty row hideit">
				<p>You dont have team, you must get your team to start a match</p>
				<p>
					<a href="" class="l-button blue">Find a Team</a>	
					<a href="" class="m-button blue">Create Team</a>	
				</p>
			</div>
			<div class="team-fill row">
				<div class="img-wrap pull-left">
					<div class="m-image sm no-border"><img src="images/jpg/team-logo.jpg" alt=""></div>
					<a href="" class="m-button red">Visit</a>
				</div>
				<div class="bio-wrap pull-left">
					<div class="tittle">Mafia Migas FC</div>
					<div class="city">Jakarta Selatan</div>
					<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam fugiat quos obcaecati harum, consequatur laborum tempora itaque quod dignissimos quas eligendi, illo excepturi, pariatur cumque veniam beatae et dolorum voluptatem.</div>
					<div class="desc">Anggota : 20 Orang</div>
				</div>
				<div class="team-wrap pull-right custom-scroll">
					<div class="player-visit row">
						<div class="m-image xs pull-left"><i class="lnr lnr-picture"></i></div>
						<div class="bio pull-left">
							<p>Akbar Dwiyoga</p>
							<p>Mafia Migas FC</p>
						</div>
						<div class="number">
							<div>Number</div>
							<div>23</div>
						</div>
					</div>
					<div class="player-visit row">
						<div class="m-image xs pull-left"><i class="lnr lnr-picture"></i></div>
						<div class="bio pull-left">
							<p>Gerry Caesario</p>
							<p>Mafia Migas FC</p>
						</div>
						<div class="number">
							<div>Number</div>
							<div>02</div>
						</div>
					</div>
					<div class="player-visit row">
						<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
						<div class="bio pull-left">
							<p>Aryatama Krishna</p>
							<p>Mafia Migas FC</p>
						</div>
						<div class="number">
							<div>Number</div>
							<div>16</div>
						</div>
					</div>
					<div class="player-visit row">
						<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
						<div class="bio pull-left">
							<p>Fathureza Januarza</p>
							<p>Mafia Migas FC</p>
						</div>
						<div class="number">
							<div>Number</div>
							<div>99</div>
						</div>
					</div>
					<div class="player-visit row">
						<div class="m-image xs pull-left"><img src="images/jpg/profpic1.jpg" alt=""></div>
						<div class="bio pull-left">
							<p>Syam Sadane</p>
							<p>Mafia Migas FC</p>
						</div>
						<div class="number">
							<div>Number</div>
							<div>23</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>