<div class="setting-section">
	<div class="container">

		<div class="tab-setting">
			 <div class="m-tittle">Setting.</div>
			<!-- Begin Tabs -->
			 <div class="m-allTabs">
			 	<div class="tabs-wrap">
			 		<ul>
			 			<li><a href="#MyPassword" class="yellow active">My Password</a></li>
			 			<li><a href="#MyProfile" class="yellow">My Profile</a></li>
			 		</ul>
			 	</div>
			 </div><!-- end Tabs -->

			 

			 <!-- begin MyPassword -->
			 <div id="MyPassword" class="t-allTabs">
			 	<div class="border-setting">
				 	<div class="form-section">
				 		<label>Old Password</label>
				 		<input type="text">
				 		<div class="error-state">Password Wrong</div>
				 	</div>	

				 	<div class="form-section">
				 		<label>New Password</label>
				 		<input type="text">
				 		<div class="error-state">Password Wrong</div>
				 	</div>	

				 	<div class="form-section">
				 		<label>Confirm Password</label>
				 		<input type="text">
				 		<div class="error-state">Password Not Match</div>
				 	</div>	

				 	<div class="form-section pull-right">
						<button class="m-button blue">Finish</button>
					</div>
				</div> <!-- end of border setting-->
				
			</div><!-- end of MyPassword -->



			   <!-- begin test2 -->
			 <div id="MyProfile" class="hideit t-allTabs">
			 	<div class="border-setting">
				 	<div class="s-tittle"><b>Edit Profile.</b></div>
				 	<div class="form-section row">
			 			<div class="half">
							<label>First Name</label>
							<input type="text" disabled value="Aryatama">
							<div class="error-state">Email Wrong</div>
						</div>
						<div class="half">
							<label>Last Name</label>
							<input type="text" disabled value="Krishna">
							<div class="error-state">Email Wrong</div>
						</div>
				 	</div>
					<div class="form-section">
						<label>Email</label>
						<input type="text" disabled value="aryatama@mafiamigas.com">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section">
						<label>Birth Date</label>
						<input type="text" disabled value="10-08-1993">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section">
						<label>City</label>
						<input type="text" placeholder="Choose Your Hometown" value="Jakarta">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section">
						<label>Phone Number</label>
						<input type="text" placeholder="0877712312" value="081213677787">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section">
						<label>Favorite Number</label>
						<input type="text" value="09">
						<div class="error-state">Password Wrong</div>
					</div>
					<div class="form-section row">
			 			<div class="half">
							<label>Favorite Number</label>
							<input type="text" value="09">
							<div class="error-state">Password Wrong</div>
						</div>
						<div class="half">
							<label>Roleplay</label>
							<select class="select">
								<option value="Guardian">Guardian</option>
								<option value="Forward">Forward</option>
								<option value="Middlefielder">Middlefielder</option>
								<option value="Goal Keeper">Goal Keeper</option>
							</select>
							<div class="error-state">Email Wrong</div>
						</div>
				 	</div>
				 	
				 	<hr>

			 		<div class="s-tittle"><b>Profile Picture.</b></div>
					<div>
						<div id="dz-profpic" class="dropzone"></div>
						<!-- <form action="/profpic-upload" class="dropzone parentcenter" id="dz-profpic">
							<input type="file" name="file" class="hideit">
						</form> -->
						<div class="cropper-area row hideit">
							<div class="col-md-6">
								<div class="m-image md cropper"><img id="imgCrop" src="images/jpg/profpic1.jpg" alt=""></div>
							</div> <!--end of col-md-6-->
							<div class="col-md-6">
								<div class="uploadPhoto-section">
									<div class="cropper-nav row">
										<a href="#" id="cropZoomP"><i class="lnr lnr-plus-circle"></i></a>
										<a href="#" id="cropZoomM"><i class="lnr lnr-circle-minus"></i></a>
										<a href="#" id="cropUp"><i class="lnr lnr-chevron-up-circle "></i></a>
										<a href="#" id="cropLeft"><i class="lnr lnr-chevron-left-circle "></i></a>
										<a href="#" id="cropRight"><i class="lnr lnr-chevron-right-circle "></i></a>
										<a href="#" id="cropDown"><i class="lnr lnr-chevron-down-circle "></i></a>
									</div>

									<div class="parentleft">
										<a href="#" class="l-button blue">Select photo</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				
					<hr>

					<div class="s-tittle"><b>Team.</b></div>
					<div>
						<div class="team-fill row">
							<div class="col-md-5">
								<div class="m-image sm no-border"><img src="images/jpg/team-logo.jpg" alt=""></div>
							</div>
							<div class="col-md-7 team-setting">
								<div class="pull-left">
									<div class="tittle">Mafia Migas FC</div>
									<div class="city">Jakarta Selatan</div>
									<a href="#" class="l-button blue">Leave</a>
								</div>
							</div>
						</div>
					</div>
					
					<div class="form-section pull-right">
						<button class="m-button blue">Finish</button>
					</div>
				</div><!-- end of border-setting-->
			 </div> <!-- End - MyProfile -->
			 
			
		</div><!-- end of tab-setting--> 


	</div> <!-- end of container -->
</div> <!-- end of setting -->


<script src="js/views/settings.js"></script>