<div class="test-menu">
	<ul>
		<li><a href="#login-box">login</a></li>
		<li><a href="#regis-box">regis</a></li>
		<li><a href="#regis-box1">regis</a></li>
		<li><a href="#regis-box2">regis</a></li>
	</ul>
</div>

<div class="test-wrap">
	<div id="login-box" class="inner-test hideit">hahaha</div>
	<div id="regis-box" class="inner-test hideit" >huhuhuhu</div>
	<div id="regis-box1" class="inner-test hideit" >klklkl</div>
	<div id="regis-box2" class="inner-test" >hjhjhjhjh</div>
</div>

<script>
functions.push(function(){

	$(".test-menu ul li a").on("click", function(){

		var href = $(this).attr("href");

		$(".test-wrap .inner-test").addClass("hideit");
		$(href).removeClass("hideit");

	});
});
</script>