// Mixin
// Position Absolute Center
@mixin box-center{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
}
@mixin box-center-V{
    position: absolute;
    top:50%;
    left: 0;
    transform:translateY(-50%);
}
@mixin box-center-H{
    position: absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
}

// Position Zero
@mixin absolute-zero{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin fixed-zero{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
@mixin overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.8);
    z-index: 20;
}

@mixin overlay-fix{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background-color: rgba(0,0,0, 0.8);
    padding-bottom: 50px;
}

// Circle
@mixin point-circle($color){
    display: block;
    font-family: $notoSans;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    background-color: $color;
    line-height: 20px;
    height: 20px;
    width: 20px;
    text-align: center;
    border-radius: 100px;
}

// Circle
@mixin itemCenter(){
    position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
}

@mixin auto-height($height){
    width: 100%;
    position: relative;
    overflow: hidden;
    .inner{
        position: absolute;
        top:0; left: 0;
        right: 0; bottom: 0;
        z-index: 2;
        img{
            width: 100%;
            height: auto;
        }
        .back-img{
            width: 100%;
            height: 100%;
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
    }
    &:before{
        content: "";
        display: table;
        padding-top: $height;
    }
}