@media(max-width: 768px){
	// ARENA DETAIL
	.arenaDetail-wrap{
		.tittle-wrap{
			width: 100%;
			float: none;
			padding-bottom: 10px;
			p{
				text-align: left;
			}
		}
		.desc-wrap{
			width: 100%;
			float: none;
		}
	}

	// BEGIN - NOTIF PAGE
	.notif-amount{
	    width: 100%;
	    max-width: 100%;
	    padding: 10px;
	    border-radius:2px;
	    border:1px solid rgba(0,0,0, 0.1);
	    float: none;
	    margin-bottom: 20px;
	}

	.notif-list-wrap{
	    float: none;
	    width: 100%;
	    padding-left: 0px;
	    .notif-list{
	        border-radius: 2px;
	        border:1px solid #ddd; 
	            background-color: #fff;
	        .notification-box{
	            border-bottom: 1px solid #ddd;
	        }
	    }
	}
	// END - NOTIF PAGE
}
@media(max-width: 580px){
	.hero-image{
		.row a:not(:last-child){
			margin-bottom: 10px;
		}
	}
}
@media(max-width: 550px){
	// PLAYER DETAIL
	.profile-player{
		.img-player{
			width: 300px;
			height: 300px;
			margin: 0 auto;
			float: none !important;
		}
		.detail-player{
			width: 100%;
			padding-left: 0px;
			margin-top: 10px;
			.mbl-profile-bio{
				.bio-wrap{
					padding-top: 5px;
					margin-top: 5px;
					border-top:1px solid #ddd;
				}
			}
		}
	}
}
@media(max-width: 500px){
	// ALL
	.create-team{
		.img-wrap{
			width: 100%;
			padding-bottom: 20px;
			.m-image{
				margin: 0 auto;
			}
		}
		.browse-wrap{
			width: 100%;
			text-align: center;
			.parentleft{
				padding-top:20px; 
				text-align: center !important;
			}
		}
	}

	// ARENA DETAIL
	.arena-price{
		.type-wrap{
			.img-wrap{
				margin: 0 auto 10px;
			}
			.detail-wrap{
				width: 100%;
				.detail-box{
					padding-left: 0px;
				}
			}
		}
	}
}
@media(max-width: 400px){
	// ALL
	.available-list{
		.img-wrap{
			width: 40px;
		} 
		.data-wrap{
			*{
				font-size: 12px;
			}	
		}
	}

	// HOME
	.home-news{
		.news-box{
			width: 100%;
		}
	}
	// PLAYER DETAIL
	.team-player{
		.team-fill{
			.img-wrap{
				width: 170px;
				margin:0 auto;
				float:none !important;
			}
			.bio-wrap{
				width: 100%;
			}
			.team-wrap{
				border-top:1px solid #ddd;
				width: 100%;
			}
		}
	}

	// ARENA DETAIL
	.arena-related .related-wrap{
		width: 100%;
		display: block;
		float: left;
	}

	// TEAM GALLERY
	.teamGallery-item{
		width: 100%;
	}
	.teamGallery-section .teamGallery-menu .create-wrap{
		width: 36px;
		border-left: 1px solid #ddd;
		span{
			display: none;
		}
	}

	// MY MATCH 
	.finish-match{
		.fm-desc{
			width: 100%;
			margin-bottom: 10px;
		}
		.fm-button{
			width: 100%;
		}
	}
}
@media(max-width: 320px){
	.available-list{
		.img-wrap img{
			margin-bottom: 10px;
		}
	}
}