.dskt-hideit{
	display: none;
}

// Main Mobile Menu
.mbl-nav-content{
	position: fixed;
	top:54px; left: 0; right: 0;
	bottom: 0;
	z-index: 999;
	opacity: 0;
	visibility: hidden;
	transition:.4s;
	.bg-mobile{
		z-index: 5;
		top:54px;
	}
	.icon-submenu{
		@include box-center-V;
		right: 10px;
		left: auto;
		width: 20px;
		img.rotate{
			transform:rotate(-90deg);
		}
	}
	ul{
		width: 300px;
		background-color: #fff;
		position: fixed;
		height: 100%;
		z-index: 10;
		opacity: 0;
		visibility: none;
		transition:.4s;
		&.left{
			left:-300px;
		}
		&.right{
			right:-300px;
		}
		li{
			border-bottom: 1px solid #ddd;
			a{
				display: block;
				padding: 15px;
				font-family: $notoSans;
				font-size: 14px;
				color:#444;
			}
		}
	}
	&.active{
		opacity: 1;
		visibility: visible;
		transition:.4s;
		.bg-mobile{
			opacity: 1;
			visibility: visible;
		}
		ul{
			opacity: 1;
			visibility: visible;
			transition:.4s;
			&.left{
				left:0;
			}
			&.right{
				right:0;
			}
		}
	}
}

@media(max-width: 992px){
	// All
	.mbl-hideit{
		display: none !important;
	}

	.dskt-hideit{
		display: block !important;
	} 

	.mbl-nopadding{
		padding: 0px !important;
	} 

	.mbl-nomargin{
		margin: 0px !important;
	} 

	.quad-container,
	.triple-container,
	.dual-container{
		width: 100%;
	} 

	.mbl-p10-lr{
		padding-left: 10px;
		padding-right: 10px;
	}
	.mbl-p20-lr{
		padding-left: 20px;
		padding-right: 20px;
	}
	.mbl-p40-lr{
		padding-left: 40px;
		padding-right: 40px;
	}

	.mbl-p20-t{
		padding-top: 20px;
	}

	.mbl-m10-b{
		margin-bottom: 10px;
	}
	.mbl-m20-b{
		margin-bottom: 20px;
	}
	.mbl-m40-b{
		margin-bottom: 40px;
	}
	
	// Menu
	.mbl-menu{
		width: 50px;
		height: 50px;
		position: relative;
		border-right: 1px solid #ddd;
		padding: 5px 10px; 
		a{
			width: 30px;
			position: absolute;
			display: inline-block;
			position: absolute;
			top:50%;left:50%;
			transform:translate(-50%,-50%);
		}
		span{
			display: block;
			margin-bottom: 5px;
			width: 100%;
			height: 3px;
			border-radius: 4px;
			background-color: #444;
			&:last-child{
				margin: 0px;
			}
		}
	}

	.mbl-submenu{
		width: 100%;
		border-top:1px solid rgba(0,0,0, 0.1);
		display: none;
		ul{
			height: auto;
			background-color: #f4f4f4;
			li{
				border-bottom: 1px solid rgba(0,0,0, 0.1);
				&:last-child{
					border-bottom: 0px;
				}
				a{
					display: block;
				}
			}
		}
	}

	#header{
	    width: 100%;
	    position: relative;
	    padding: 0px;
	    .logo{
	    	padding: 10px;
	        img{
	            height: 30px;
	        }
	    }
	    .nav-wrap, &.sticky .nav-wrap{
	        padding-top:0px;
	        a{
	            @include l-button(#444);
	            font-size: 11px;
	        }
	    }
	}
	#header.header-login .logo{
		padding:10px; 
	}
	#header.header-login .userNav-wrap{

        li{
            .user-head, .notification{
            	padding:0px !important;
            	width: 50px !important;
            	height: 50px !important;	
            }
            .user-head img{
            	margin: 0px;
            	position: absolute;
            	top:50%; left: 50%;
            	transform:translate(-50%,-50%);
            }
        }
	}
	
	// FOOTER
	#footer{
	    width:100%;
	    height:auto;
	    .foot-top{
	        background-color: #444;
	        padding: 30px 0px 0px;
	    }
	    .foot-bottom{
	        background-color: #444;
	        text-align: center;
	        padding: 20px 0px;
	        text-align: center;
	        .sosmed-wrap{
	            width: 100%;
	            margin-bottom: 15px;
	            ul{
	                li{
	                    display: inline-block;
	                    width: 20px;
	                    margin-right: 10px; 
	                    svg, img{
	                        width: 100%;
	                        height: auto;
	                        path{
	                            fill:#fff;
	                        }
	                    }
	                }
	            }
	        }
	        .copyright{
	            width: 100%;
	            font-family: "Noto Sans";
	            font-size: 14px;
	            color:#fff;
	            text-align: center;
	        }
	    }	
	    .logo{
	    	position: relative;
	        width: 100%;
	        transform:translate(0px, 0px);
	        max-width: 150px;
	        height: 100%;
	        top:auto;
	        left:auto;
	        margin: 0px auto 15px;
	        img{
	            width: 100%;
	        }
	    }
	    .link-wrap{
	        width: 100%;
	        text-align: center;
	        border-bottom:1px solid #fff;
	        padding-bottom: 15px;
	        ul{
	            li{
	                display: inline-block;
	                padding: 10px;
	                a{
	                    font-family: "Noto Sans";
	                    font-weight: 400;
	                    font-size: 14px;
	                    color:#fff; 
	                }
	                &:last-child{
	                    padding-bottom: 0px;
	                }
	                &:first-child{
	                    padding-top: 0px;
	                }
	            }
	        }
	    }
	}

	// HOMEPAGE
	.home-news{
		.quad-container{
			width: 50%;
		}
	}

	// PLAYER DETAIL
	.profile-player{
		.detail-player{
			.mbl-profile-bio{
				.bio-wrap{
					padding-top: 5px;
					margin-top: 5px;
					border-top:1px solid #ddd;
				}
			}
			.col-md-2 .parentright{
				text-align: center !important;
				padding: 10px 0px; 
			}
		}
	}
	.team-player{
		.team-fill{
			.bio-wrap{
				width: calc(100% - 170px);
			}
			.team-wrap{
				border-top:1px solid #ddd;
				width: 100%;
			}
		}
	}

	// SEARCH PAGES
	.result-search{
		text-align: center;
		.col-md-3{
			display: inline-block;
			width: 260px;
			padding: 0px 5px;
		}
	}

	// ARENA DETAIL
	.arena-related .related-wrap{
		width: 50%;
		display: block;
		float: left;
	}

	// MY MATCH
	.mymatch-section{
		.mymatch-wrap{
			.list-wrap{
				width: 100%;
			}
		}
	}

	// TEAM DETAIL
	.teamDetail-section{
		.teamDetail-main{
			width: 100%;
			float: none;
			padding-left: 0px;
		}
		.teamDetail-sub{
			width: 100%;
			float: none;
		}
	}

	.teamDetail-bio{
		position: relative;
		.inner-bio{
			width: 100%;
			.pic-wrap{
				width: 140px;
				padding-bottom: 10px;
			}
			.bio-wrap{
				width: 100%;
				padding-left: 0px;
			}
			.menu-wrap{
				width: 100%;
				padding-bottom: 20px;
			}
			&:last-child{
				width: 50%;
				position: absolute;
				top: 10px;
				right: 10px;
				text-align: center;
			}
		}
	}

	// TEAM GALLERY
	.teamGallery-section{
		.container{
			padding: 0px;
		}
		.teamGallery-menu{
			border-radius: 0px;
			margin: 0px 0px 20px;
		}
	}
	
	// MATCH DETAIL 
	.matchDetail-info{
		border-radius: 0px;
	    & + div{
	    	display: none;
	    }
	}

	.match-team{
		.team-list{
			max-height: auto;
		}
	}

	// END 992
}

@media(max-width: 850px){
	// ARENA SEARCH LIST
	.arenaList-section{
		.search-wrap{
			width: 100%;
		}
		.result-wrap{
			width: 100%;
			padding-left: 0px;
		}
	}


}

@media(max-width: 800px){
	// TEAM GALLERY
	.teamGallery-item{
		width: 50%;
	}


}