 here you can put your own css to customize and override the theme */
/*[BEGIN] CSS - Utilities*/
/*-- Width*/
.w-10{
    width: 10%;
    display: inline-block;
}

.w-20{
    width: 20%;
    display: inline-block;
}

.w-quarter{
    width: 25%;
    display: inline-block;
}

.w-30{
    width: 30%;
    display: inline-block;
}

.w-40{
    width: 40%;
    display: inline-block;
}

.w-half{
    width: 50%;
    display: inline-block;
}

.w-60{
    width: 60%;
    display: inline-block;
}

.w-70{
    width: 70%;
    display: inline-block;
}

.w-threequarter{
    width: 75%;
    display: inline-block;
}

.w-80{
    width: 80%;
    display: inline-block;
}

.w-90{
    width: 90%;
    display: inline-block;
}

.w-full{
  width: 100%;
}

/*-- Margin*/
.m-auto{
  margin:0px auto;
}
.m0{
    margin: 0;
}
.m0-t{
  margin-top: 0px;
}
.m0-b{
  margin-bottom: 0px;
}

.m4-b{
    margin-bottom:4px;
}
.m8-b{
    margin-bottom:8px;
}

.m8-tb{
    margin-top:8px;
    margin-bottom:8px;
}

.m8-lr{
    margin-left:8px;
    margin-right:8px;
}

.m16-tb{
    margin: 16px 0;
}
.m16-b{
    margin-bottom: 16px;
}

.m20-tb{
    margin-top: 20px;
    margin-bottom: 20px;
}
.m25-b{
    margin-bottom: 25px;
}

.m25-u{
    margin-top: 25px;
}

.m40-b{
    margin-bottom: 40px;
}

.m80-b{
    margin-bottom: 80px;
}

/*-- Padding*/
.p8{
  padding: 8px;
}
.p10{
  padding: 10px;
}
.p10-l{
  padding-left: 10px;
}
.p8-l{
  padding-left: 8px;
}
.p8-r{
  padding-right: 8px;
}

/*-- Position*/
.pos-relative{
  position: relative;
}
.pos-absolute{
  position: absolute;
}
.pos-fixed{
  position: fixed;
}

/*-- Font*/
.fs-20{
  font-size: 20px;
}
.fs-30{
  font-size: 30px;
}
.fs-50{
  font-size: 50px;
}

.xlt{
  font-size: 20px;
}
.lt{
  font-size: 18px;
}
.mt{
  font-size: 16px;
}
.bt{
  font-size: 14px;
}
.st{
  font-size: 12px;
}
.xst{
  font-size: 11px;
}


/*-- Display*/
.display-ib{
  display: inline-block;
}
.display-i{
  display: inline;
}

.hideit {
  display: none !important;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.text-left {
  text-align: left; 
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-light{
  font-weight:300; 
}
.text-normal{
  font-weight:400; 
}
.text-bold{
  font-weight:700; 
}
.text-extrabold{
  font-weight:900; 
}

.img-rounded{
  border-radius: 100%;
}

/*[END] CSS - Utilities*/


.dataTables_filter{
	text-align: right;
}
.dataTables_filter input{
	margin-left: 10px;
}
.dataTables_paginate{
	text-align: right;
}

.dt-button{
	margin-left: 8px;
}


.teamplay-box{
  border:1px solid rgba(0,0,0, 0.05);
  padding: 0px 10px;
  position: relative;
}
.teamplay-box.captain:before{
  display: inline-block;
  padding: 4px 8px;
  background-color: #E7505A;
  content: "C";
  color: yellow;
  position: absolute;
  top:50%;
  right: 20px;
  border-radius: 10px;
  transform:translateY(-50%);
}
.teamplay-box a.delete{
  padding: 10px;
  background-color: #fff;
  content: "X";
  cursor: pointer;
  color: #444;
  position: absolute;
  top:50%;
  right: 20px;
  display: none;
  border-radius: 10px;
  z-index: 10;
  transform:translateY(-50%);
}
.teamplay-box a.delete:hover{
  text-decoration: none;
  color: #E7505A;
}
.teamplay-box:hover a.delete{
  display: inline-block;
}
.teamplay-box h4{
  margin-top:20px;
}

/*// BEGIN - ARENA*/
.arenabox-es{
  width: 100%;
  padding:16px;
  text-align: center;
  border-radius:10px;
  border:2px dashed #aaa;
}

/*---> Buat Data Price List (pl)*/
.pl-arena{
  padding: 8px;
  border-radius: 10px;
  border:1px solid rgba(0,0,0, 0.1);
  background-color: #f2f2f2;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 1px rgba(0,0,0, 0.1); 
}
.pl-arena .img-wrap{
  width: 70px;
  height: 70px;
}
.pl-arena .img-wrap .inner-img{
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.pl-arena .img-wrap .inner-img .image{
  position: absolute;
  width: 100%;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.pl-arena .detail-wrap{
  width:calc(100% - 270px);
  padding-left: 10px;
}
.pl-arena .nav-wrap{
  width: 200px;
  text-align: right;
}

/*// END - ARENA*/

/*// BEGIN - KLASEMEN*/
.klasemen-body .dt-buttons{
  display: none;
}
.klasemen-body.klasemen-girl table tbody .odd{
  background-color: #FFF2F4;
}

.klasemen-tabs{
    border-bottom:1px solid #ddd;
}
.klasemen-tabs li{
    display: inline-block;
    float:left;
    text-align:center;
    margin-right: 8px;
}
.klasemen-tabs li a{
    padding:8px 16px;
    border-radius: 4px;
    display: block;
    font-size: 14px;
    color:#444;
}
.klasemen-tabs li a.active{
    font-weight: 900;
    color:#fff;
    background-color:#364150;
}

/*// + Klasemen history*/
.klasemen-history{
    width: 100%;
    display:block;
    border:1px solid rgba(0,0,0, 0.1);
    border-radius: 4px;
    padding:8px;
    box-shadow:0px 1px 2px 1px rgba(0,0,0, 0.1);
    text-decoration:none;
    transition: .4s;
}
.klasemen-history:hover, 
.klasemen-history:active{
    border-color:#36c6d3;
    text-decoration:none;
    transition: .4s;
}
.klasemen-history:hover .title{
    color:#36c6d3;
}
.klasemen-history .title{
    margin-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0, 0.1);
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 14px;
    color:#444;
}
.klasemen-history .date{
    font-size: 12px;
    color:#ddd;
}

/*// END - KLASEMEN*/

/*// BEGIN - VENDOR CSS*/
.bootstrap-tagsinput{
  width: 100%;
}
/*// END - VENDOR CSS